<?xml version="1.0" encoding="UTF-8"?>
<package context="\application\survey">
	<settings>
		<category name="general">
			<setting name="enable_mail_cron_job" field="toggle"
				default="0">
				<options type="static">
					<option name="enable_mail_cron_job" value="1" />
				</options>
			</setting>
			<setting name="enable_export_cron_job" field="toggle"
				default="0">
				<options type="static">
					<option name="enable_export_cron_job" value="1" />
				</options>
			</setting>
		</category>
	</settings>
</package>
