/*****************************************************
 *  WEBLCMS STYLES                                   *
 *****************************************************/
@import url('../Aqua/Stylesheet.css');

div.level_2 {
	background-color: #FAFAEB;
	color: #000000;
}

div.announcements div.title {
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
	width: 60%;
	padding-bottom: 0.4em;
	color: #B1071C;
	font-size: 120%;
	float: left;
}

div.announcements a {
	color: #B1071C;
}


div.questionform input[type=text],div.row div.questionform input[type=password],div.row div.questionform select
	{
	background-color: #f5f5f5;
	border: 1px solid #dedede;
}

div.questionform input[type=text]:hover,div.row div.questionform input[type=text]:focus,div.row div.questionform input[type=password]:hover,div.row div.questionform input[type=password]:focus,div.row div.questionform select:hover,div.row div.questionform select:focus
	{
	background-color: #FDF8F7;
	border-color: #D90223;
}

/*****************************************************
 *  Wiki page styles                                 *
 *****************************************************/
#top {
	float: left;
	margin-right: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	min-width: 200px;
	padding: 5px;
	border: 1px solid #D90223;
	background-color: #faf7f7;
}

/************************
 * Tool shortcut styles *
 ************************/


table.data_table#slideshow th.navigation div.toolbar {
	float: right;
}



/*****************************************************
 *  Course group styles                              *
 *****************************************************/
/* Neater inline alignment on the form */
div.row.tool_unchecked_warning .warning-message {
	margin-left: 0;
	left: 0;
	right: 0;
}