.cke_chamilo_youtube {
	background-image: url(../../../../Images/Aqua/Logo/48.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #cc0000;
	background-position: center center;
}