@import url('../Aqua/Tabs.css');

li.dynamic_content_menu_item {
	background:
		url(../../Images/Ruby/plugin/jquery/images/UiBgGlass85Dfeffc1X400.png)
		repeat-x scroll 50% 50% #DFEFFC;
	color: #9e2e2e;
	font-weight: bold;
	padding: 0.7em 1em;
	margin-bottom: 0.5em;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

li.dynamic_content_menu_item.selected {
	background-color: #fcfafa;
	background-image: none;
	border: 1px solid #EBEBEB;
	border-right: 0px;
	color: #E17009;
	margin-right: -1px;
}

div.dynamic_content_menu_content_container.ui-dynamic-content {
	padding: 15px;
	padding-left: 25px;
	border: 1px solid #EBEBEB;
	background-color: #fcfafa;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}