@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: local('Ubuntu Light'), local('Ubuntu-Light'),
		url(Font/d7UcEnGHOeZ1eW8X4gtq5g.woff2) format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(Font/GMuVYPs2qfSvo2zvGXIEVg.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
		url(Font/vAWtAYyWUJsoAuJWFt58mg.woff2) format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
		url(Font/1oQ0YSnzWBxeyxAWblfEqg.woff2) format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
		url(Font/j-TYDdXcC_eQzhhp386SjVtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
		url(Font/MeLqutxYVP-KOAmxPalVng.woff2) format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 500;
	src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
		url(Font/NWdMogIO7U6AtEM4dDdf_VtXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
		url(Font/pqisLQoeO9YTDCNnlQ9bf1tXRa8TVwTICgirnJhmVJw.woff2)
		format('woff2');
}