<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Application\Weblcms\Tool\Implementation\CourseGroup\Extension\Office365">
    <settings>
        <category name="general">
            <setting
                    name="client_id"
                    field="text"
                    default=""/>
            <setting
                    name="client_secret"
                    field="password"
                    default=""/>
            <setting
                    name="access_token"
                    field="text"
                    default=""
                    user_setting="true"
                    locked="true"
                    hidden="true" />
            <setting
                    name="external_user_id"
                    field="text"
                    default=""
                    user_setting="true"
                    locked="true"
                    hidden="true" />
            <setting
                    name="tenant_id"
                    field="text"
                    default=""/>
            <setting name="planner_base_uri"
                     field="text"
                     default="https://tasks.office.com/tenantName.onmicrosoft.com/nl-NL/Home/Planner" />
            <setting
                    name="cosnics_prefix"
                    field="text"
                    default="cosnics_"/>
        </category>
    </settings>
</package>
