/web/*
/files/*
/vendor/*
node_modules/
/bin/*
/src/*
/.idea/

package-lock.json
yarn.lock
vue-cli-service

!/src/Chamilo
!/web/index.php
/composer.lock
/.buildpath
/.project
/.settings/org.eclipse.php.core.prefs
/.settings/org.eclipse.wst.validation.prefs
