.fas-ci-2d0c20be88180840f4e29fb03aae5484:before {
    content: "\f0ca";
}

.fas-ci-baea8c7ba7539d872c7b28a86f4518b1:before {
    content: "\f772";
}

.table.table-assessment-question-form > tbody > tr > td {
    border: 0px solid white;
    padding-bottom: 20px;
}

.form-assessment-extra-container {
    display: none;
    margin-top: 10px;
}

.table.table-assessment-question-form > tbody > tr > td.table-cell-selection,
.table.table-assessment-question-form > tbody > tr > td.table-cell-action {
    vertical-align: top;
}

.table.table-assessment-question-form > tbody > tr > td.table-cell-action {
    font-size: 18px;
}

.table.table-assessment-question-form > tbody > tr > td.table-cell-action .option-action {
    cursor: pointer;
}

.table.table-assessment-question-form > tbody > tr > td.table-cell-action .option-action.text-muted {
    cursor: default;
}