@CHARSET "ISO-8859-1";

/*****************************************************
 *  SURVEY SYSTEM STYLES                                      *
 *****************************************************/
.tab {
	border: 1px solid #ebebeb;
	background-color: #fafcfc;
	z-index: 1000;
	clear: both;
}

#tabs ul {
	display: none;
}

#tabs a:link {
	color: #303030;
}

#tabs a:visited {
	color: #303030;
}

#tabs a:hover {
	color: red;
}

div.vertical_action {
	clear: both;
	width: 100%;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #EBEBEB;
}

div.vertical_action div.icon {
	float: left;
	width: 64px;
	height: 64px;
}

div.vertical_action div.icon img {
	margin: 16px;
}

div.vertical_action div.description {
	margin-left: 64px;
}

div.vertical_action div.description .binary_checkbox {
	margin-top: 10px;
}

div.vertical_action h4 {
	margin: 0px;
	padding: 0px;
}

span.active {
	color: green;
}

span.inactive {
	color: red;
}

div.items {
	clear: both;
	width: 100%;
}