@mixin app {
  .app-header {
    display: flex;
    border-top: 1px solid #d6d6d6;
    align-items: center;
    justify-content: space-between;
  }

  .app-header-menu, .app-header-tools {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0.6em 0;
  }

  .app-header-menu {
    margin-left: 1.5em;
  }

  .app-header-tools {
    display: flex;

    .check::before {
      content: '\f096';
    }

    i {
      margin-right: 0.3em;
      width: 1em;
    }

    .btn-check {
      outline: none;
      background: none;
      color: #888;
      border: none;
      margin: 0;
      padding: 0;
      cursor: default;

      span {
        border: 1px solid transparent;
        border-radius: $border-radius;

        &:focus {
          outline: none;
        }
      }

      &:focus span {
        box-shadow: 0 0 0 1px $input-color-focus;
      }

      &.checked {
        color: $outline-color;

        .check::before {
          content: '\f046';
        }
      }

      &:hover, &:focus {
        color: darken($outline-color, 20%);
      }
    }
  }

  .app-header-item select {
    margin-right: .5em;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $outline-color-light;
    }
  }

  .app-header-menu .app-header-item {
    margin-right: 1em;
    cursor: pointer;

    a {
      display: inline-block;
      transition: color 120ms;
      border-bottom: 1px solid transparent;

      &:focus {
        outline: none;
      }

      span {
        border-radius: $border-radius;

        &:focus {
          outline: none;
        }
      }

      &:focus span {
        outline: 1px solid $input-color-focus;
        outline-offset: 2px;
      }

      &.active-link {
        border-bottom: 1px solid darken($panel-border-color, 5%);
      }

      &:hover, &:focus {
        text-decoration: none;
      }

      &:hover {
        border-bottom: 1px solid #23527c;
      }
    }
  }

  .save-state {
    margin-right: 1.5em;
    color: #337ab7;
    width: 144px;
    text-align: right;
    transition: opacity 200ms;

    .saved {
      opacity: 0.6;
    }
  }

  #app {
    background-color: $bg-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: -20px -15px -20px -15px;
    padding-bottom: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

