@mixin chamilo {
  .chamilo-header {
    min-height: 78px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .start {
      background-image: url("/images/chamilo-start.png");
      width: 168px;
    }

    .middle {
      align-items: center;
      background-image: url("/images/chamilo-fill.png");
      display: flex;
      flex: 1;
      padding-left: 9px;
      padding-top: 3px;
    }

    .end {
      align-items: center;
      background-image: url("/images/chamilo-fill.png");
      display: flex;
      flex: 1;
      justify-content: flex-end;
      padding-right: 12px;
      padding-top: 18px;
    }
  }

  @media (max-width: 899px) {
    .chamilo-header {
      min-height: 51px;

      .start {
        background-image: url("/images/chamilo-start-alt.png");
        width: 176px;
      }

      .middle {
        background-image: url("/images/chamilo-fill-alt.png");
        flex: 1;
        min-width: 120px;
        padding-left: 1px;
        padding-top: 0;
      }

      .end {
        background-image: url("/images/chamilo-fill-alt.png");
        padding-top: 14px;
      }
    }
  }

  @media only screen and (max-width: 690px) {
    .chamilo-header .start {
      min-width: 60px;
      width: 60px;
    }

    .chamilo-header .middle {
      padding-left: 4px;
      padding-top: 1px;
    }
  }

  @media only screen and (max-width: 540px) {
    .chamilo-header .start {
      display: none;
    }
    .chamilo-header .middle {
      padding-left: 14px;
    }
  }

  .container-breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 20px;

    ol.breadcrumb {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  footer.chamilo-footer {
    margin-top: 20px;
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
    border-top: 1px solid #dddddd;
  }
}
