@mixin user-select($property) {
  -webkit-touch-callout: $property;
  -webkit-user-select: $property;
  -moz-user-select: $property;
  -ms-user-select: $property;
  user-select: $property;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    background-color: hsla(200, 50%, 40%, .05);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsla(200, 50%, 40%, .15);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: hsla(220, 70%, 40%, .20);
  }
}

