/*.container-breadcrumb {
  margin-bottom: 0;

  + .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;
    position: relative;
  }
}

@media only screen and (min-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }

  .container-breadcrumb + .container-fluid {
    height: 120vh;
  }
}*/