@mixin category-style {
  &.has-category::after {
    background-color: var(--category-color);
    bottom: -0.2rem;
    content: '';
    left: 0.6rem;
    opacity: .5;
    position: absolute;
    top: -0.5rem;
    width: 1px;
  }

  &.mod-category::after {
    top: .8rem;
  }
}

@mixin hover-style {
  &::before {
    border-left: .5rem solid transparent;
    bottom: -.5rem;
    content: '';
    left: -1rem;
    position: absolute;
    right: -.7rem;
    top: -.5rem;
    transition: 200ms border;
  }
}

@mixin table-app {
  * {
    outline-width: thin;
  }

  .rb-col-start-1 {
    grid-column-start: 1;
  }

  .rb-col-start-2 {
    grid-column-start: 2;
  }

  .rb-col-start-3 {
    grid-column-start: 3;
  }

  .rb-col-span-full {
    grid-column: 1 / -1;
  }

  .rubric {
    display: grid;
    grid-column-gap: .7rem;
    grid-row-gap: .7rem;
    max-width: max-content;
    padding: 1rem;
    /*position: relative;*/
  }

  .rubric-tools {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 1.75rem;
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .treenode-weight-header {
    align-self: start;
    background: white;
    color: rgb(95, 146, 157);
    display: flex;
    padding: 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 30;

    > span {
      flex: 1;
      font-weight: 600;
      padding: 0.7rem;
      text-align: center;
    }
  }

  .rubric-header {
    background: #fff;
    display: flex;
    list-style: none;
    margin-bottom: .75rem;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .rubric-header-title {
    background-color: $level-header-color;
    border-radius: $border-radius;
    box-shadow: 0px 1px 2px #999;
    color: #fff;
    flex: 1;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: .8rem .7rem;

    &:not(:last-child) {
      margin-right: .7rem;
    }
  }

  .rubric-header-fill {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .treenode-title-header {
    cursor: default;
    display: flex;
  }

  .treenode-title-header-pre {
    flex-basis: 1.3rem;
    display: flex;
    justify-content: flex-end;
    margin-right: .5rem;
    z-index: 10;

    &.mod-category::after {
      background: var(--category-color);
      border-radius: 50%;
      content: '';
      height: 1.3rem;
      margin-top: .15rem;
      width: 1.3rem;
    }

    &.mod-category.mod-no-color::after {
      background-color: #fff;
      border: 1px solid #bbb;
      height: 1.1rem;
      left: .1rem;
      position: absolute;
      width: 1.1rem;
    }

    &.mod-criterium {
      width: 1.3rem;
    }

    &.mod-criterium::after {
      background-color: #fff;
      border: 1px solid var(--category-color);
      border-radius: 50%;
      content: '';
      height: .7rem;
      left: .3rem;
      margin-top: .3rem;
      position: absolute;
      width: .7rem;
    }
  }

  .treenode-title {
    flex: 1;
    margin: 0;
    z-index: 10;
  }

  .cluster-title {
    color: hsla(203, 29%, 40%, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .category-title {
    color: hsla(180, 17%, 41%, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.79rem;
  }

  .criterium-title {
    font-size: 1.3rem;
    line-height: 1.69rem;
  }

  .cluster-sep {
    border-top: 1px solid hsla(204, 38%, 80%, 1);
    grid-column: 1 / -1;
    height: 1px;
    margin: .5rem 0 .5rem 1.8rem;

    &.mod-hide-last:last-child {
      display: none;
    }
  }

  .category-sep {
    grid-column: 1 / -1;
    height: .75rem;
  }

  .treenode-rubric-input {
    z-index: 10;
  }

  .treenode-choices {
    display: flex;
    width: 100%;
  }

  .treenode-choice {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: .5rem;
    z-index: 30;

    &:not(:last-child) {
      margin-right: .7rem;
    }
  }

  .treenode-feedback-icon {
    color: hsla(197, 63%, 42%, 1);
    font-size: 1.1rem;
    margin-right: .1rem;

    &.fa-info {
      font-size: 1.6rem;
    }

    &.mod-cluster {
      color: #fff;
    }
  }


  .total-title {
    align-self: center;
    color: darken($score-dark, 20%);
    font-weight: 700;
    text-align: right;
  }

  @media only screen and (min-width: 900px) {
    .rb-lg\:col-start-1 {
      grid-column-start: 1;
    }

    .rb-lg\:col-start-2 {
      grid-column-start: 2;
    }

    .rb-lg\:col-start-3 {
      grid-column-start: 3;
    }

    .rb-lg\:col-span-full {
      grid-column: 1 / -1;
    }

    .treenode-title-header .treenode-title {
      max-width: 20.2rem;
    }

    .treenode-title-header {
      @include category-style();
    }
  }

  @media only screen and (max-width: 899px) {
    .rb-md-max\:col-start-1 {
      grid-column-start: 1;
    }

    .rb-md-max\:col-start-2 {
      grid-column-start: 2;
    }

    .rb-md-max\:col-start-3 {
      grid-column-start: 3;
    }

    .rb-md-max\:col-span-full {
      grid-column: 1 / -1;
    }

    .rubric-header.mod-responsive, .treenode-choices {
      padding-left: 1.8rem;
    }

    .total-title {
      margin-left: 1.8rem;
    }
  }

  @media only screen and (min-width: 680px) and (max-width: 899px) {
    .rb-md\:col-start-1 {
      grid-column-start: 1;
    }

    .rb-md\:col-start-2 {
      grid-column-start: 2;
    }

    .rb-md\:col-start-3 {
      grid-column-start: 3;
    }

    .rb-md\:col-span-full {
      grid-column: 1 / -1;
    }

    .treenode-title-header {
      max-width: 75ch;
    }
  }

  @media only screen and (max-width: 679px) {
    .rb-sm\:col-start-1 {
      grid-column-start: 1;
    }

    .rb-sm\:col-start-2 {
      grid-column-start: 2;
    }

    .rb-sm\:col-start-3 {
      grid-column-start: 3;
    }

    .rb-sm\:col-span-full {
      grid-column: 1 / -1;
    }

    .rubric-header.mod-responsive {
      display: none;
    }

    .treenode-choices {
      flex-direction: column;
    }

    .treenode-choice:not(:last-child) {
      margin-right: 0;
    }
  }
}