@mixin table-app {
  * {
    outline-width: thin;
  }

  #app.mod-sep {
    /*border-top: 1px solid #d6d6d6;*/
  }

  .rubric {
    display: grid;
    grid-column-gap: .7rem;
    grid-row-gap: .7rem;
    max-width: max-content;
    padding: 1rem;
    /*position: relative;*/
  }

  .rubric-tools {
    align-items: center;
    background: #fff;
    display: flex;
    grid-column-start: 1;
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 1.75rem;
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .rubric-header {
    background: #fff;
    display: flex;
    list-style: none;
    margin-bottom: .75rem;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .rubric-header-title {
    background-color: $level-header-color;
    border-radius: $border-radius;
    box-shadow: 0px 1px 2px #999;
    color: #fff;
    flex: 1;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: .8rem .7rem;

    &:not(:last-child) {
      margin-right: .7rem;
    }
  }

  .rubric-header-fill {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .treenode-title-header {
    display: flex;

    &.mod-responsive {
      grid-column-start: 1;
    }
  }

  .treenode-title-header-pre {
    flex-basis: 1.3rem;
    display: flex;
    justify-content: flex-end;
    margin-right: .5rem;
    z-index: 10;

    &.mod-category::after {
      background: var(--category-color);
      content: '';
      height: 1.3rem;
      margin-top: .15rem;
      width: 1.3rem;
    }

    &.mod-criterium {
      width: 1.3rem;
    }

    &.mod-criterium::after {
      border: 1px solid var(--category-color);
      content: '';
      border-radius: 50%;
      height: .8rem;
      margin-top: .3rem;
      width: .8rem;
    }
  }

  .treenode-title {
    flex: 1;
    margin: 0;
    z-index: 10;
  }

  .cluster-title {
    color: hsla(203, 29%, 40%, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .category-title {
    color: hsla(180, 17%, 41%, 1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.79rem;
  }

  .criterium-title {
    font-size: 1.3rem;
    line-height: 1.69rem;
  }

  .cluster-sep {
    border-top: 1px solid hsla(204, 38%, 80%, 1);
    grid-column: 1 / -1;
    height: 1px;
    margin: .5rem 0 .5rem 1.8rem;

    &.mod-grades:last-child {
      display: none;
    }
  }

  .treenode-rubric-input {
    z-index: 10;
  }

  .treenode-choices {
    display: flex;
    width: 100%;
  }

  .treenode-choice {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: .5rem;
    z-index: 30;

    &:not(:last-child) {
      margin-right: .7rem;
    }
  }

  .treenode-feedback-icon {
    color: hsla(197, 63%, 42%, 1);
    font-size: 1.1rem;
    margin-right: .1rem;

    &.fa-info {
      font-size: 1.6rem;
    }

    &.mod-cluster {
      color: #fff;
    }
  }

  .treenode-level {
    background: #e6e6e6;
    border: 1px solid transparent;
    border-bottom-color: $score-light;
    border-radius: $border-radius;
    font-size: 1.8rem;
    height: 2.7rem;
    text-align: center;
    transition: 200ms background;
    width: 100%;
  }

  .treenode-level-title {
    display: none;
  }

  .total-title {
    align-self: center;
    color: darken($score-dark, 20%);
    font-weight: 700;
    grid-column-start: 2;
    text-align: right;
  }

  @media only screen and (min-width: 900px) {
    /*.rubric-header {
      grid-column-start: 3;
    }*/

    .rubric-header.mod-weight {
      grid-column-start: 3;
    }

    .treenode-title-header {
      cursor: default;
    }

    .treenode-title-header .treenode-title {
      max-width: 20.2rem;
    }
  }

  @media only screen and (max-width: 899px) {
    .treenode-title-header.mod-responsive {
      grid-column: 1 / -1;
    }

    .rubric-header.mod-responsive, .treenode-choices {
      padding-left: 1.8rem;
    }

    .total-title {
      grid-column-start: 1;
      margin-left: 1.8rem;
    }
  }

  @media only screen and (min-width: 680px) and (max-width: 899px) {
    .treenode-title-header.mod-responsive {
      max-width: 75ch; // todo: preserve max-width on size below 680px;
    }
  }

  @media only screen and (max-width: 679px) {
    .rubric-header.mod-responsive {
      display: none;
    }

    .treenode-rubric-input {
      grid-column: 1 / -1;
    }

    .treenode-choices {
      flex-direction: column;
    }

    .treenode-choice:not(:last-child) {
      margin-right: 0;
    }

    .treenode-level {
      display: flex;
      justify-content: space-between;
      padding: .1rem .6rem;
    }

    .treenode-level-title {
      display: block;
      font-size: 1.3rem;
    }
  }
}