<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Matterhorn">
	<settings>
		<category name="basic">
			<setting name="url" field="text" default="http://nightly.opencastproject.org">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
		</category>
		<category name="authentication">
			<setting name="enable" field="toggle">
				<options type="static">
					<option name="enable" value="1" />
				</options>
			</setting>
			<setting name="username" field="text">
			</setting>
			<setting name="password" field="password" default="">
			</setting>
		</category>
	</settings>
</package>
