{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Assignment\\Display' %}

<ul class="nav nav-wizard publication-wizard">
    <li class="active"><a href="#">1. {{ 'SelectContentObject'|trans({}, appContext) }}</a></li>
    <li class=""><a href="#">2. {{ 'CreatorConfirmation'|trans({}, appContext) }}</a></li>
</ul>