@CHARSET "ISO-8859-1";

ul.tree-menu li div a.survey_multiple_choice_question {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.type_survey_multiple_choice_question {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.survey_multiple_choice_question_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}

ul.tree-menu li div a.type_survey_multiple_choice_question_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}

th.info {
	font-size: 9px;
	color: gray;
}