@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.vimeo, ul.tree-menu li div a.type_vimeo, ul.tree-menu li div a.type_vimeo_default
	{
	background-image: url(../../Images/Ruby/Logo/16.png);
}