<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Wikipedia">
	<settings>
		<category name="server">
			<setting name="url" field="text" default="http://en.wikipedia.org/w/api.php"
				locked="true">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="username" field="text" default="">
			</setting>
			<setting name="password" field="text" default="">
			</setting>
		</category>
	</settings>
</package>
