ul.tree-menu li div a.glossary, ul.tree-menu li div a.type_glossary, ul.tree-menu li div a.type_glossary_default,
.fancytree-custom-icon.type_glossary,
.fancytree-custom-icon.type_glossary_default,
.treeview .list-group .list-group-item .icon.node-icon.type_glossary,
.treeview .list-group .list-group-item .icon.node-icon.type_glossary_default {
    background-image: url(../../Images/Aqua/Logo/16.png);
}