<div class="thumbnail" style="padding-top: 12px; padding-bottom: 12px; width: 100px; margin-bottom: 10px;">
    <a href="" class="pull-right">
        <i class="fa fa-download" aria-hidden="true"></i>
    </a>
    <a href="">
        <img src="{{ icon_path }}" alt="" class="align-center" style="margin-bottom: 5px;">
        naam van file
    </a>
</div>
