<div class="thumbnail" style="padding-top: 12px; padding-bottom: 12px; width: 100px; margin-bottom: 10px; ">
    <a href="{{ download_url }}" class="pull-right" data-toggle="tooltip" title="Download">
        <i class="fa fa-download" aria-hidden="true"></i>
    </a>
    <a href="" data-toggle="tooltip" title="{{ title }}" onclick="">
        <img src="{{ icon_path }}" alt="" class="align-center" style="margin-bottom: 5px;">
        {{ title|length > 10 ? title|slice(0, 10) ~ '...' : title  }}
    </a>
</div>