@import url(../../../Feedback/Resources/Css/Aqua/Stylesheet.min.css);
@import url(../../../Publication/Resources/Css/Aqua/Stylesheet.min.css);

.fas-ci-c6e4cf181180b6a731a2bc3cdfc5765f:before {
    content: "\f0a0";
}

/*
 * Package Type: Chamilo\Core\Repository\ContentObject
 */
.fas-ci-bc19824b7d7f02add6fc90d8194cfd07:before {
    content: "\f15b";
}

/*
 * Package Type: Chamilo\Core\Repository\Chamilo\Core\Repository\Implementation
 */
.fas-ci-9ecfbe79198945c477313dd776ef0ce2:before {
    content: "\f360";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\News
 */
.fas-ci-16e12166426537ee0ba35c2d107830c1:before {
    content: "\f1ea";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\Assessment
 */
.fas-ci-f137619b1cf9c5596143dca2ea3a74b9:before {
    content: "\f46c";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\Collaboration
 */
.fas-ci-4d4cf8cea026eac57bfdf14e0e8fcb0c:before {
    content: "\f4c4";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\General
 */
.fas-ci-ff8dd06af20c5a5fe0bef2f6c5121066:before {
    content: "\f15b";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\Agenda
 */
.fas-ci-c2b6b1afedf80daeae5f1764f69dbaae:before {
    content: "\f133";
}

/*
 * Category Type: Chamilo\Core\Repository\ContentObject\Category\PeerAssessment
 */
.fas-ci-f070e5a65cc0463e94f042dcaa37d76f:before {
    content: "\f630";
}


/*
 * Import Type: Chamilo\Core\Repository\Import\Cpo
 */
.fas-ci-086f7e8bdc5ee9c0a5b1cb5b53dded87:before {
    content: "\f187";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Ical
 */
.fas-ci-d8e575873ba86569ce6dfd4f23324fc3:before {
    content: "\f133";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\File
 */
.fas-ci-60edd92a853974f2bba84e50c2aba9d8:before {
    content: "\f15b";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Zip
 */
.fas-ci-e181bea9b3835867726b5d1379fc8a78:before {
    content: "\f1c6";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Hotpotatoes
 */
.fas-ci-56ef83b6283d63193e3191f8210e5984:before {
    content: "\f7e4";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Webpage
 */
.fas-ci-6f37206c2cc79e7af7ccdcbb3d818ba8:before {
    content: "\f570";
}


/*
 * Import Type: Chamilo\Core\Repository\Import\Rar
 */
.fas-ci-0900638a6ab01cb7cabe743e699c7c94:before {
    content: "\f1c6";
}

.fas-ci-3fb13b6c869f4b3e3857f5e43be8512b,
.fas-ci-5412d58b200bda2def589acf1d29d8ba {
    font-family: 'Font Awesome 5 Brands';
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Vimeo
 */
.fas-ci-3fb13b6c869f4b3e3857f5e43be8512b:before {
    content: "\f27d";
}

/*
 * Import Type: Chamilo\Core\Repository\Import\Youtube
 */
.fas-ci-5412d58b200bda2def589acf1d29d8ba:before {
    content: "\f167";
}

#search-parameters .list-group-item {
    border-top: 0px solid white;
    padding: 5px 15px;
}

#search-parameters .list-group-item:first-child {
    padding-top: 10px;
}

#search-parameters .list-group-item:last-child {
    padding-bottom: 10px;
}

#search-parameters .panel-title .search-parameter span.fa.fa-times,
#search-parameters .search-parameter.list-group-item span.fa.fa-times {
    opacity: 0.25;
    font-size: 13px;
    cursor: pointer;
}

#search-parameters .panel-title .search-parameter span.fa.fa-times {
    opacity: 0.5;
}

.alert-import-success {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.content-object-options .content-object-options-type {
    border: 1px solid #dddddd;
}

.content-object-options h4 {
    width: 100%;
    line-height: 32px;
    height: 52px;
    margin: 0px;
    padding: 10px 15px;
    border-bottom: 1px dashed rgb(221, 221, 221);
}

.content-object-options .list-group {
    margin-bottom: 0px;
    -moz-column-width: 200px;
    -moz-column-rule: 1px dashed rgb(221, 221, 221);
    -moz-column-count: 4;
    -webkit-column-width: 200px;
    -webkit-column-rule: 1px dashed rgb(221, 221, 221);
    -webkit-column-count: 4;
    column-width: 200px;
    column-rule: 1px dashed rgb(221, 221, 221);
    column-count: 4;
}

.content-object-options {
    margin-bottom: 20px;
}

.content-object-options .list-group .list-group-item {
    border: 0px solid white;
    height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-object-options .list-group .list-group-item img {
    max-width: 32px;
    max-height: 32px;
}

.content-object-options .list-group .list-group-item a {
    line-height: 32px;
}

.table-difference td {
    font-family: Consolas, monospace;
}

.table-difference ins, .table-difference del {
    text-decoration: none;
}

.table-difference .Skipped {
    background: #f7f7f7;
}

.table-difference .ChangeReplace .Left,
.table-difference .ChangeDelete .Left {
    background: #fdd;
}

.table-difference .ChangeReplace .Right,
.table-difference .ChangeInsert .Right {
    background: #dfd;
}

.table-difference .ChangeReplace ins {
    background: #9e9;
}

.table-difference .ChangeReplace del {
    background: #e99;
}

.table-difference th.col-sm-1 {
    text-align: center;
}