@CHARSET "ISO-8859-1";

ul.tree-menu li div a.survey_page, ul.tree-menu li div a.type_survey_page,
	ul.tree-menu li div a.type_survey_page_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.survey_page_tree {
	background-image: url(../../Images/Aqua/Logo/16Tree.png);
}

ul.tree-menu li div a.type_survey_page_tree {
	background-image: url(../../Images/Aqua/Logo/16Tree.png);
}