<style>
    .ws-wrap {
        white-space: normal;
        height: auto;
        width: 83%;
    }

    span.fancytree-node span.fancytree-expander {
        color: #428bca;
    }

    span.fancytree-node span.fancytree-expander:hover {
        color: #428bca;
        opacity: 0.6;
    }

    .fancytree-custom-icon {
        height: 16px !important;
        width: 16px !important;
    }
    .fancytree-container {
        border: none !important;
        min-height: 100px;
        overflow: auto;
    }

    span.fancytree-title {
        color: #337ab7;
        font-size: 14px;
    }

    span.fancytree-title:hover {
        text-decoration: underline;
    }


</style>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.2.3/jquery.contextMenu.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.2.3/jquery.contextMenu.min.js">
</script>
<script src="http://wwwendt.de/tech/fancytree/3rd-party/extensions/contextmenu/js/jquery.fancytree.contextMenu.js"></script>

<div class="learning-path-html-tree" ng-app="learningPathHtmlTreeApp" ng-cloak ng-controller="learningPathHtmlTreeController">
    <button class="btn btn-default">Pas aan</button>
    <div id="tree">
    </div>
</div>

<script>
    (function () {

            var initContextMenu = function(tree, selector, menu, actions) {
                tree.$container.on("mousedown.contextMenu", function(event) {
                    var node = $.ui.fancytree.getNode(event);

                    if(node) {
                        $.contextMenu("destroy", "." + selector);

                        node.setFocus(true);

                        $.contextMenu({
                            selector: "." + selector,
                            events: {
                                show: function(options) {
                                    options.prevKeyboard = tree.options.keyboard;
                                    tree.options.keyboard = false;
                                },
                                hide: function(options) {
                                    tree.options.keyboard = options.prevKeyboard;
                                    node.setFocus(true);
                                }
                            },
                            build: function($trigger, e) {
                                node = $.ui.fancytree.getNode($trigger);

                                var menuItems = { };
                                if($.isFunction(menu)) {
                                    menuItems = menu(node);
                                } else if($.isPlainObject(menu)) {
                                    menuItems = menu;
                                }

                                return {
                                    callback: function(action, options) {
                                        if($.isFunction(actions)) {
                                            actions(node, action, options);
                                        } else if($.isPlainObject(actions)) {
                                            if(actions.hasOwnProperty(action) && $.isFunction(actions[action])) {
                                                actions[action](node, options);
                                            }
                                        }
                                    },
                                    items: menuItems
                                };
                            }
                        });
                    }
                });
            };

            $.ui.fancytree.registerExtension({
                name: "myContextMenu",
                version: "@VERSION",
                contextMenu: {
                    selector: "fancytree-title",
                    menu: {},
                    actions: {}
                },
                treeInit: function(ctx) {
                    this._superApply(arguments);
                    initContextMenu(ctx.tree,
                        ctx.options.contextMenu.selector || "fancytree-title",
                        ctx.options.contextMenu.menu,
                        ctx.options.contextMenu.actions);
                }
            });


        var repoDragPanelApp = angular.module('learningPathHtmlTreeApp', ['ui.bootstrap', 'ngSanitize']);

        repoDragPanelApp.controller(
            'learningPathHtmlTreeController',
                ['$scope', '$http', function ($scope, $http) {

                    var fetchTreeNodesAjaxUrl = "{{ fetchTreeNodesAjaxUrl }}";

                    var tree = $("#tree").fancytree({
                        source: {
                            url: fetchTreeNodesAjaxUrl,
                            cache: false
                        },
                        minExpandLevel: 2,
                        selectMode: 1,
                        checkbox: false,
                        extensions: ["glyph", "dnd", "edit", "myContextMenu"],
                        contextMenu: {
                            menu: {
                                "edit": {"name": "Bewerk", "icon": "edit"},
                                "delete": {"name": "Verwijder", "icon": "delete"},
                                "move": {"name": "Verplaats", "icon": "move"}
                            }
                        },
                        glyph: {
                            map: {
                                checkbox: "glyphicon glyphicon-unchecked",
                                checkboxSelected: "glyphicon glyphicon-check",
                                checkboxUnknown: "glyphicon glyphicon-share",
                                dragHelper: "glyphicon glyphicon-play",
                                dropMarker: "glyphicon glyphicon-arrow-right",
                                error: "glyphicon glyphicon-warning-sign",
                                expanderClosed: "glyphicon glyphicon-chevron-right",
                                expanderLazy: "glyphicon glyphicon-plus-sign",
                                expanderOpen: "glyphicon glyphicon-chevron-down",
                                loading: "glyphicon glyphicon-refresh glyphicon-spin",
                                nodata: "glyphicon glyphicon-info-sign",
                                // Default node icons.
                                // (Use tree.options.icon callback to define custom icons based on node data)
                                doc: "glyphicon glyphicon-file",
                                docOpen: "glyphicon glyphicon-file",
                                folder: "glyphicon glyphicon-folder-close",
                                folderOpen: "glyphicon glyphicon-folder-open"
                            }
                        },
                        toggleEffect: false,
                        enhanceTitle: function(event, data) {
                            data.$title.addClass("ws-wrap");
                        },
                        click: function(event, data) {
                            var node = data.node;

                            if(event.button !== 2 && data.targetType === 'title') {
                                if(node.data.href){
                                    window.location.href=node.data.href;
                                }
                            }

                            if(event.button === 2) {
                                return false;
                            }
                        },
                        renderTitle: function(event, data) {
                            return '<span class="fancytree-title">' + data.node.data.number + ' ' + data.node.title +'</span>';
                        },
                        dnd: {
                            // Available options with their default:
                            autoExpandMS: 1000,   // Expand nodes after n milliseconds of hovering
                            draggable: null,      // Additional options passed to jQuery UI draggable
                            droppable: null,      // Additional options passed to jQuery UI droppable
                            dropMarkerOffsetX: -24,  // absolute position offset for .fancytree-drop-marker
                                                     // relatively to ..fancytree-title (icon/img near a node accepting drop)
                            dropMarkerInsertOffsetX: -16, // additional offset for drop-marker with hitMode = "before"/"after"
                            focusOnClick: false,  // Focus, although draggable cancels mousedown event (#270)
                            preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
                            preventVoidMoves: true,      // Prevent dropping nodes 'before self', etc.
                            smartRevert: true,    // set draggable.revert = true if drop was rejected

                            // Events that make tree nodes draggable
                            dragStart: function () {
                                return true;
                            },      // Callback(sourceNode, data), return true to enable dnd
                            dragStop: null,       // Callback(sourceNode, data)
                            initHelper: null,     // Callback(sourceNode, data)
                            updateHelper: null,   // Callback(sourceNode, data)

                            // Events that make tree nodes accept draggables
                            dragEnter: function (node, data) {
                                if (!node.isFolder()) {
                                    return ["before", "after"];
                                }
                                return true;
                            },      // Callback(targetNode, data)
                            dragExpand: null,     // Callback(targetNode, data), return false to prevent autoExpand
                            dragOver: null,       // Callback(targetNode, data)
                            dragDrop: function (node, data) {
                                data.otherNode.moveTo(node, data.hitMode);
                            },       // Callback(targetNode, data)
                            dragLeave: null       // Callback(targetNode, data)
                        }

                    });

                    addChild = function () {
                        var node = $("#tree").fancytree("getActiveNode");
                        if (!node) {
                            alert("Please activate a parent node.");
                            return;
                        }
                        node.editCreateNode("child", "Node title");
                        node.setSelected(true);

                    };
                    addSection = function () {
                        var node = $("#tree").fancytree("getActiveNode");
                        if (!node) {
                            node = $("#tree").fancytree("getFirstChild");
                        }
                        node.editCreateNode("after", {
                            title: "Node title",
                            folder: true
                        });
                        node.setSelected(true)
                    }

            }]
        );
    }
    )();
</script>


