<style>
    .ws-wrap {
        white-space: normal;
        height: auto;
        width: 83%;
    }

    span.fancytree-node span.fancytree-expander {
        color: #428bca;
    }

    span.fancytree-node span.fancytree-expander:hover {
        color: #428bca;
        opacity: 0.6;
    }

    .fancytree-custom-icon {
        height: 16px !important;
        width: 16px !important;
    }

    .fancytree-container {
        border: none !important;
        min-height: 100px;
        overflow: auto;
    }

    span.fancytree-title {
        color: #337ab7;
        font-size: 14px;
    }

    div.fancytree-edit-mode span.fancytree-title {
        color: #b79b00;
        font-size: 14px;
    }

    /*span.fancytree-title:hover {
        text-decoration: underline;
    }*/

    .fa {
        width: inherit;
        text-align: inherit;
    }
    .btn-drag {
        width: 100%;
    }
</style>
<div class="learning-path-html-tree" ng-app="learningPathHtmlTreeApp" ng-cloak
     ng-controller="learningPathHtmlTreeController">
    <button class="btn btn-default btn-xs btn-drag" ng-click="dragEnabled=true" ng-hide="dragEnabled">Activeer Verslepen</button>
    <button class="btn btn-warning btn-xs btn-drag" ng-click="dragEnabled=false" ng-show="dragEnabled">Stop met verslepen</button>
    <div id="tree">
    </div>
</div>

<script>
    (function () {

            var repoDragPanelApp = angular.module('learningPathHtmlTreeApp', ['ui.bootstrap', 'ngSanitize']);

            repoDragPanelApp.controller(
                'learningPathHtmlTreeController',
                ['$scope', '$http', function ($scope, $http) {


                    var extractContextMenuItemFromNodeAction = function(node, action) {
                        return {
                            name: node.data.actions[action].title,
                            //icon: '-' + node.data.actions[action].image,
                            callback: function () {
                                window.location.href = node.data.actions[action].url;
                            }
                        }
                    };

                    $.contextMenu({
                        selector: ".fancytree-title",
                        build: function ($triggerElement, e) {
                            node = $.ui.fancytree.getNode($triggerElement);
                            if (node) {
                                node.setFocus(true);
                            }
                            return {
                                items: function () { //todo retrieve from node
                                    var items = {};

                                    items["addSection"] =
                                        {
                                            name: "Voeg sectie toe",
                                            icon: "fa-plus",
                                            callback: function () {
                                                if(node.isFolder()) {
                                                    node.editCreateNode("child", {
                                                        title: "Pas titel aan...",
                                                        folder: true
                                                    });
                                                }
                                                else {
                                                    node.editCreateNode("after", {
                                                        title: "Pas titel aan...",
                                                        folder: true
                                                    });
                                                }
                                            }
                                        };

                                    items["addItem"] = {
                                        name: "Voeg pagina toe",
                                        icon: "fa-plus",
                                        callback: function() {
                                            if(node.isFolder()) {
                                                node.editCreateNode("child", {
                                                    title: "Pas titel aan...",
                                                    folder: false
                                                });
                                            } else {
                                                node.editCreateNode("after",{
                                                    title: "Pas titel aan...",
                                                    folder: false
                                                });
                                            }
                                        }
                                    };
                                    items["editTitle"]= {
                                        name: "Pas titel aan", icon: "fa-edit", callback: function () {
                                            node.editStart()
                                        }
                                    };
                                    items["edit"] = extractContextMenuItemFromNodeAction(node, "edit");
                                    items["delete"]= extractContextMenuItemFromNodeAction(node, "delete");

                                    return items;
                                }()
                            };
                        }
                    });

                    var fetchTreeNodesAjaxUrl = "{{ fetchTreeNodesAjaxUrl }}";
                    $scope.dragEnabled = false;
                    var tree = $("#tree").fancytree({
                        source: {
                            url: fetchTreeNodesAjaxUrl,
                            cache: false
                        },
                        glyph: {
                            map: {
                                checkbox: "glyphicon glyphicon-unchecked",
                                checkboxSelected: "glyphicon glyphicon-check",
                                checkboxUnknown: "glyphicon glyphicon-share",
                                dragHelper: "glyphicon glyphicon-play",
                                dropMarker: "glyphicon glyphicon-arrow-right",
                                error: "glyphicon glyphicon-warning-sign",
                                expanderClosed: "glyphicon glyphicon-chevron-right",
                                expanderLazy: "glyphicon glyphicon-plus-sign",
                                expanderOpen: "glyphicon glyphicon-chevron-down",
                                loading: "glyphicon glyphicon-refresh glyphicon-spin",
                                nodata: "glyphicon glyphicon-info-sign",
                                // Default node icons.
                                // (Use tree.options.icon callback to define custom icons based on node data)
                                doc: "glyphicon glyphicon-file",
                                docOpen: "glyphicon glyphicon-file",
                                folder: "glyphicon glyphicon-folder-close",
                                folderOpen: "glyphicon glyphicon-folder-open"
                            }
                        },
                        dnd: {
                            // Available options with their default:
                            autoExpandMS: 1000,   // Expand nodes after n milliseconds of hovering
                            draggable: null,      // Additional options passed to jQuery UI draggable
                            droppable: null,      // Additional options passed to jQuery UI droppable
                            dropMarkerOffsetX: -24,  // absolute position offset for .fancytree-drop-marker
                            // relatively to ..fancytree-title (icon/img near a node accepting drop)
                            dropMarkerInsertOffsetX: -16, // additional offset for drop-marker with hitMode = "before"/"after"
                            focusOnClick: false,  // Focus, although draggable cancels mousedown event (#270)
                            preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
                            preventVoidMoves: true,      // Prevent dropping nodes 'before self', etc.
                            smartRevert: true,    // set draggable.revert = true if drop was rejected

                            // Events that make tree nodes draggable
                            dragStart: function () {
                                return $scope.dragEnabled;
                            },      // Callback(sourceNode, data), return true to enable dnd
                            dragStop: null,       // Callback(sourceNode, data)
                            initHelper: null,     // Callback(sourceNode, data)
                            updateHelper: null,   // Callback(sourceNode, data)

                            // Events that make tree nodes accept draggables
                            dragEnter: function (node, data) {
                                if (!node.isFolder()) {
                                    return ["before", "after"];
                                }
                                return true;
                            },      // Callback(targetNode, data)
                            dragExpand: null,     // Callback(targetNode, data), return false to prevent autoExpand
                            dragOver: null,       // Callback(targetNode, data)
                            dragDrop: function (node, data) {
                                data.otherNode.moveTo(node, data.hitMode);
                            },       // Callback(targetNode, data)
                            dragLeave: null       // Callback(targetNode, data)
                        },
                        minExpandLevel: 2,
                        selectMode: 1,
                        checkbox: false,
                        extensions: ["dnd", "edit", "glyph"],
                        toggleEffect: false,
                        enhanceTitle: function (event, data) {
                            data.$title.addClass("ws-wrap");
                        },
                        click: function (event, data) {
                            var node = data.node;

                            if (!$scope.dragEnabled && event.button !== 2 && data.targetType === 'title') {
                                if (node.data.href) {
                                    window.location.href = node.data.href;
                                }
                            }
                            if (event.button === 2) {
                                return false;
                            }
                        },
                        renderTitle: function (event, data) {
                            return '<span class="fancytree-title">' + data.node.data.number + ' ' + data.node.title + '</span>';
                        }

                    });
                }]
            );
        })();
</script>


