<div id="repo-drag-panel">
    <div ng-cloak ng-controller="dragPanelCtrl">
        <button id="drag-button" class="btn btn-default" ng-click="panelIsVisible=true" ng-hide="panelIsVisible">
            <i class="fa fa-folder-open fa-spin" aria-hidden="true"></i>
            Repository
        </button>
        <div class="cd-panel from-right repo-drag-panel-content" ng-show="panelIsVisible">
            <div class="cd-panel-container">
                <div class="cd-panel-content">
                    <div>
                        <a href="#0" class="btn btn-default btn-sm btn-close" ng-click="panelIsVisible=false">
                            <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h4>Versleep om toe te voegen</h4>

                    <div class="input-group select-group" ng-hide="searchModus">
                        <select
                                class="form-control drag-panel-select"
                                ng-model="selectedCategory"
                                ng-options="category.name for category in categories">
                        </select>
                        <span class="input-group-btn">
                     <button class="btn btn-default" ng-click="refresh()"><i class="fa fa-refresh"
                                                                             aria-hidden="true"></i></button>
                </span>
                    </div>
                    <div ng-show="items.length == 0"
                         uib-alert
                         ng-class="'alert-warning'">Geen items beschikbaar
                    </div>

                    <ul class="list-group content-object-list">
                        <li ng-repeat="co in filteredContentObjects as items " draggable="true"
                            class="list-group-item content-object"
                            ck-draggable
                        >
                            <div uib-tooltip="{{co.title}}" tooltip-popup-delay="500">
                                <img class="type-img"
                                     ng-src="{{ co.icon }}"
                                >{{ co.title | limitText:true:25:'...' }}
                            </div>
                        </li>
                    </ul>
                    <div class="input-group select-group">
                        <input type="text" class="form-control" ng-model="searchQuery"
                               ng-model-options="{ debounce: 300 }" placeholder="Zoek in repository"/>
                        <span class="input-group-btn">
                     <button class="btn btn-default" ng-click="searchQuery=''"><i class="fa fa-remove"
                                                                                  aria-hidden="true"></i></button>
                </span>
                    </div>

                    <div>
                        <ul
                                uib-pagination
                                boundary-links="true"
                                total-items="totalItems"
                                ng-model="currentPage"
                                max-size="3"
                                ng-change="pageChanged()"
                                class="pagination-sm"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                        </ul>
                    </div>
                </div> <!-- cd-panel-content -->
            </div> <!-- cd-panel-container -->
        </div> <!-- cd-panel -->
    </div>
</div>

<script>
    (function () {
        var repoDragPanelApp = angular.module('repoDragPanelApp');
        angular.bootstrap($("#repo-drag-panel"), ['repoDragPanelApp']);
    })();
</script>