<div id="repo-drag-panel">
    <div>
        <button id="drag-button" class="btn btn-default" @click="panelIsVisible = true" v-show="!panelIsVisible">
            <i class="fa fa-folder-open fa-spin" aria-hidden="true"></i>
            Repository
        </button>
        <div class="cd-panel from-right repo-drag-panel-content" v-show="panelIsVisible">
            <div class="cd-panel-container">
                <div class="cd-panel-content">
                    <div>
                        <a href="#0" class="btn btn-default btn-sm btn-close" @click="panelIsVisible = false">
                            <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h4>Versleep om toe te voegen</h4>

                    <div class="input-group select-group" v-show="!searchModus">
                        <select class="form-control drag-panel-select" v-model="selectedCategory">
                            <option v-for="category in categories" :key="`category-${category.id}`" :value="category">{{ category.name }}</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-default" @click="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="ml-1 my-2" v-if="loading">
                        <b-spinner small label="Spinning"></b-spinner>
                    </div>
                    <div v-else-if="!items.length" class="alert alert-warning">Geen items beschikbaar</div>
                    <ul v-else class="list-group content-object-list">
                        <li v-for="co in items" :key="co.id" :draggable="true" class="list-group-item content-object" v-ck-draggable="co">
                            <div :id="`item-${co.id}`">
                                <img class="type-img" :src="co.icon"> {{ co.title|limitText(true, 23, '...') }}
                            </div>
                            <div :id="`item-${co.id}-tooltip-container`"></div>
                            <b-tooltip :target="`item-${co.id}`" triggers="hover" :container="`item-${co.id}-tooltip-container`" delay="500">
                                {{ co.title }}
                            </b-tooltip>
                        </li>
                    </ul>
                    <div class="input-group select-group my-2">
                        <b-input type="text" class="form-control" v-model="searchQuery" debounce="300" placeholder="Zoek in repository"></b-input>
                        <div class="input-group-append">
                            <button class="btn btn-default" @click="searchQuery=''" aria-label="Maak leeg"><i class="fa fa-remove" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <b-pagination v-if="!loading" v-model="pagination.currentPage" :total-rows="pagination.totalItems" per-page="10" limit="3" size="sm" class="mb-1"></b-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        const ckDragListeners = new Map();

        Vue.use(VueRepositoryService);

        new Vue({
            el: '#repo-drag-panel',
            data: {
                contentObjects: [],
                filteredContentObjects: [],
                categories: [],
                selectedCategory: null,
                searchQuery: '',
                searchModus: false,
                panelIsVisible: false,
                loading: false,
                pagination: {
                    totalItems: 0,
                    currentPage: 0
                }
            },
            filters: {
                limitText: function (value, wordwise, max, tail) {
                    if (!value) return '';

                    max = parseInt(max, 10);
                    if (!max) return value;
                    if (value.length <= max) return value;

                    value = value.substr(0, max);
                    if (wordwise) {
                        let lastspace = value.lastIndexOf(' ');
                        if (lastspace !== -1) {
                            //Also remove . and , so its gives a cleaner result.
                            if (value.charAt(lastspace - 1) === '.' || value.charAt(lastspace - 1) === ',') {
                                lastspace = lastspace - 1;
                            }
                            value = value.substr(0, lastspace);
                        }
                    }

                    return value + (tail || ' …');
                }
            },
            methods: {
                fetchContentObjects: function (categoryId, searchQuery) {
                    this.loading = true;
                    this.$repositoryService.fetchContentObjects(categoryId, searchQuery, contentObjects => {
                        this.contentObjects = contentObjects;
                        this.filteredContentObjects = this.contentObjects.slice(0, 10);
                        this.pagination.totalItems = this.contentObjects.length;
                        this.pagination.currentPage = 1;
                        this.loading = false;
                    });
                },
                fetchCategories: function() {
                    this.loading = true;
                    this.$repositoryService.fetchCategories(null, categories => {
                        this.categories = categories;
                        this.selectedCategory = this.categories[0];
                        this.loading = false;
                    });
                },
                refresh: function() {
                    this.fetchContentObjects(this.selectedCategory.id);
                }
            },
            computed: {
                items: function() {
                    return this.filteredContentObjects;
                }
            },
            watch: {
                panelIsVisible: function() {
                    if (this.panelIsVisible) {
                        this.fetchCategories();
                    }
                },
                'pagination.currentPage': function() {
                    const begin = ((this.pagination.currentPage - 1) * 10)
                        , end = begin + 10;

                    this.filteredContentObjects = this.contentObjects.slice(begin, end);
                },
                selectedCategory: function() {
                    if (this.selectedCategory) {
                        this.fetchContentObjects(this.selectedCategory.id);
                    }
                },
                searchQuery: function() {
                    if (this.searchModus) {
                        if (this.searchQuery === '') {
                            this.fetchContentObjects(0);
                            this.searchModus = false;
                        } else {
                            this.fetchContentObjects(this.selectedCategory.id, this.searchQuery);
                        }
                    } else {
                        if (this.searchQuery && this.searchQuery !== '') {
                            this.fetchContentObjects(this.selectedCategory.id, this.searchQuery);
                            this.searchModus = true;
                        }
                    }
                }
            },
            directives: {
                ckDraggable: {
                    bind(el, binding) {
                        const co = binding.value;
                        const dragListener = function (event) {
                            event.dataTransfer.setData('text/html', event.target.textContent);
                            event.dataTransfer.setData('data-co-id', co.id);
                            event.dataTransfer.setData('data-security-code', co.securityCode);
                            event.dataTransfer.setData('data-type', co.type);
                        };
                        ckDragListeners.set(`${co.id}-${co.securityCode}-${co.type}`, dragListener);
                        el.addEventListener('dragstart', dragListener);
                    },
                    unbind(el, binding) {
                        const co = binding.value;
                        const dragListener = ckDragListeners.get(`${co.id}-${co.securityCode}-${co.type}`);
                        if (dragListener) {
                            el.removeEventListener('dragstart', dragListener);
                            ckDragListeners.delete(`${co.id}-${co.securityCode}-${co.type}`);
                        }
                    }
                }
            }
        })
    })();
</script>