<div class="learning-path-section-copier" ng-controller="MainController as main">

    <form method="post" action="{{ FORM_URL }}">
            <h4 class="form-category">
                Stap 1: Selecteer een leerpad
            </h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <button id="reset-selected-content-object" class="btn btn-primary"
                            ng-click="main.resetSelectedLearningPath()" ng-show="main.selectedLearningPath !== null">
                        Selecteer een ander leerpad
                    </button>
                </div>
            </div>


            <div id="content-object-selector-step" ng-show="main.selectedLearningPath === null">
            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer uit
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <select id="repository-source" class="form-control" ng-model="main.selectedWorkspace">
                        <option value="0">Mijn repository</option>
                        <option ng-repeat="workspace in main.workspaces" ng-value="workspace.id">{{ workspace.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer de categorie
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <select id="category" class="form-control" ng-model="main.selectedCategory" ng-options="category.name for category in main.categories track by category.id">
                    </select>
                </div>
            </div>

            <div class="form-row row" id="content-object-selector-row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer het gewenste leerpad
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <div class="content-object-selector-sub-row">
                        <input type="text" id="content-object-selector-search" class="form-control"
                               placeholder="Zoek hier" ng-model="main.searchQuery" ng-model-options="{ debounce: 500 }" ng-change="main.search()"/>
                    </div>

                    <div class="content-object-selector-sub-row">
                        <div class="list-group" id="content-object-selector-list">
                            <a href="#" class="list-group-item" ng-repeat="learningPath in main.visibleLearningPaths"
                               ng-click="main.selectLearningPath(learningPath)"
                               ng-class="{'selected': learningPath.selected}">
                                <div class="content-object-selector-title-container">
                                    <span class="fancytree-custom-icon type_learning_path content-object-selector-icon"></span>
                                    <span class="content-object-selector-title">{{ learningPath.title }}</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="content-object-selector-sub-row">
                        <div class="content-object-selector-sub-col col-sm-8">
                            <ul
                                    uib-pagination
                                    boundary-links="true"
                                    total-items="main.pager.totalItems"
                                    ng-model="main.pager.currentPage"
                                    items-per-page="main.pager.itemsPerPage"
                                    num-pages="main.pager.totalPages"
                                    max-size="5"
                                    ng-change="main.selectPage()"
                                    id="content-object-selector-pagination"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;">
                            </ul>
                        </div>
                        <div class="content-object-selector-sub-col col-sm-4 pull-right">
                            <div class="panel panel-default text-center pager-info-panel ng-binding">
                                Page {{ main.pager.currentPage }} / {{ main.pager.totalPages }}
                            </div>
                        </div>
                    </div>

                </div>
                <input type="hidden" id="selected-content-object" name="selected_content_object" value="{{ main.selectedLearningPath.id }}" />
            </div>
        </div>

        <div class="properties-step" ng-show="main.selectedLearningPath !== null">
            <h4 class="form-category">Stap 2: Selecteer één of meerdere secties om te kopiëren</h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <div class="learning-path-html-tree" id="sectionSelectorTree" ng-class="{'tree-disabled': isLoading}"></div>
                    <input type="hidden" id="learning-path-selected-nodes" name="learning_path_selected_nodes" value="{{ main.selectedLearningPathNodeIds }}" />
                </div>
            </div>

            <h4 class="form-category">Stap 3: Opties</h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Kopieer de inhoud van de stappen (in plaats van deze te hergebruiken)
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <div class="element">
                        <div class="checkbox no-toggle-style">
                            <input type="checkbox" value="1" id="copy-steps-below" name="copy_instead_of_reuse"/>
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="form-category">Stap 4: Kopieer</h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <button type="submit" class="btn btn-primary" ng-disabled="main.selectedLearningPathNodeIds == null">Kopieer de geselecteerde secties</button>
                </div>
            </div>
        </div>

    </form>
</div>


<script>
    (function () {

        var learningPathSectionCopierApp = angular.module('learningPathSectionCopierApp');

        angular.bootstrap($(".learning-path-section-copier"), ['learningPathSectionCopierApp']);
    })();
</script>
