<style>
    .form-category {
        margin-bottom: 25px;
        margin-top: 0;
    }

    .form-category:not(:first-child) {
        margin-top: 25px;
    }

    .list-group .list-group-item:nth-child(even) {
        background-color: #eef5fa !important;
    }

    .list-group .list-group-item.selected {
        background-color: #ffffe0 !important;
    }

    .form-row#content-object-selector-row {
        margin-top: 20px;
    }

    .content-object-selector-sub-row {
        margin-bottom: 10px;
    }

    .content-object-selector-sub-row .content-object-selector-sub-col {
        padding: 0;
    }

    #content-object-selector-list,
    #content-object-selector-pagination {
        margin: 0;
    }

    .content-object-selector-title-container {
        display: flex;
        align-items: center;
    }

    .content-object-selector-title-container .content-object-selector-icon {
        margin-top: 0;
    }

    .content-object-selector-title-container .content-object-selector-title {
        margin-left: 5px;
    }

    .pager-info-panel {
        padding: 5px 10px;
    }

    #reset-selected-content-object {
        color: #337ab7;

    }

</style>

<div class="learning-path-section-copier" ng-controller="MainController as main">

    <form>
            <h4 class="form-category">
                Stap 1: Selecteer een leerpad
                <span id="reset-selected-content-object" ng-show="main.selectedLearningPath !== null"
                      class=" fa fa-chevron-down pull-right" ng-click="main.resetSelectedLearningPath()"></span>
            </h4>

            <div id="content-object-selector-step" ng-show="main.selectedLearningPath === null">
            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer uit
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <select id="repository-source" class="form-control">
                        <option value="repository">Mijn repository</option>
                        <option ng-repeat="workspace in main.workspaces" value="workspace.id">{{ workspace.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer de categorie
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <select id="category" class="form-control" ng-model="main.selectedCategory" ng-options="category.name for category in main.categories track by category.id">
                    </select>
                </div>
            </div>

            <div class="form-row row" id="content-object-selector-row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Selecteer het gewenste leerpad
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <div class="content-object-selector-sub-row">
                        <input type="text" id="content-object-selector-search" class="form-control"
                               placeholder="Zoek hier" ng-model="main.searchQuery"/>
                    </div>

                    <div class="content-object-selector-sub-row">
                        <div class="list-group" id="content-object-selector-list">
                            <a href="#" class="list-group-item" ng-repeat="learningPath in main.visibleLearningPaths"
                               ng-click="main.selectLearningPath(learningPath)"
                               ng-class="{'selected': learningPath.selected}">
                                <div class="content-object-selector-title-container">
                                    <span class="fancytree-custom-icon type_learning_path content-object-selector-icon"></span>
                                    <span class="content-object-selector-title">{{ learningPath.title }}</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="content-object-selector-sub-row">
                        <div class="content-object-selector-sub-col col-sm-8">
                            <ul
                                    uib-pagination
                                    boundary-links="true"
                                    total-items="main.pager.totalItems"
                                    ng-model="main.pager.currentPage"
                                    items-per-page="main.pager.itemsPerPage"
                                    num-pages="main.pager.totalPages"
                                    max-size="5"
                                    ng-change="main.selectPage()"
                                    id="content-object-selector-pagination"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;">
                            </ul>
                        </div>
                        <div class="content-object-selector-sub-col col-sm-4 pull-right">
                            <div class="panel panel-default text-center pager-info-panel ng-binding">
                                Page {{ main.pager.currentPage }} / {{ main.pager.totalPages }}
                            </div>
                        </div>
                    </div>

                </div>
                <input type="hidden" id="selected-content-object" name="selected_content_object" value="{{ main.selectedLearningPath.id }}" />
            </div>
        </div>

        <div class="properties-step" ng-show="main.selectedLearningPath !== null">
            <h4 class="form-category">Stap 2: Selecteer één of meerdere secties om te kopiëren</h4>

            <div id="sectionSelectorTree" ng-class="{'tree-disabled': isLoading}"></div>
            <input type="hidden" id="learning-path-selected-nodes" name="learning_path_selected_nodes" value="{{ main.selectedLearningPathNodeIds }}" />

            <h4 class="form-category">Stap 3: Opties</h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                    Kopieer de inhoud van de stappen (in plaats van deze te hergebruiken)
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <div class="element">
                        <div class="checkbox no-toggle-style">
                            <input type="checkbox" id="copy-steps-below" name="copy_instead_of_reuse"/>
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="form-category">Stap 4: Kopieer</h4>

            <div class="form-row row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 form-label">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 formw">
                    <button type="submit" class="btn btn-primary">Kopieer de geselecteerde secties</button>
                </div>
            </div>
        </div>

    </form>
</div>


<script>
    (function () {

        var learningPathSectionCopierApp = angular.module(
            'learningPathSectionCopierApp', ['ui.bootstrap', 'ngSanitize']);

        learningPathSectionCopierApp.controller(
            'MainController',
            ['$scope', '$http', function ($scope, $http) {

                var mainController = this;

                this.isLoading = false;
                this.treeData = [];

                this.workspaces = [];
                this.selectedWorkspace = null;
                this.originalLearningPaths = this.learningPaths = [];
                this.selectedLearningPath = null;
                this.selectedLearningPathNodeIds = null;
                this.categories = [];
                this.selectedCategory = null;

                this.pager = {
                    itemsPerPage: 5,
                    totalItems: this.learningPaths.length,
                    currentPage: 1,
                    totalPages: 0,
                    getFirstItemOffset: function() { return this.itemsPerPage * (this.currentPage - 1); },
                    getLastItemOffset: function() { return this.getFirstItemOffset() + this.itemsPerPage },
                    reset: function(learningPaths) {
                        this.currentPage = 1;
                        this.totalItems = learningPaths !== null ? learningPaths.length : 0;
                        this.totalPages = Math.ceil(this.totalItems / this.itemsPerPage);
                    }
                };

                this.selectLearningPath = function (learningPath) {
                    if (this.selectedLearningPath !== null) {
                        this.selectedLearningPath.selected = false;
                    }

                    this.selectedLearningPath = learningPath;
                    learningPath.selected = true;

                    this.fetchLearningPathTree(this.selectedLearningPath.id);
                };

                this.resetSelectedLearningPath = function() {
                    this.selectedLearningPath.selected = false;
                    this.selectedLearningPath = null;
                    this.selectedLearningPathNodeIds = null;
                    this.treeData = [];
                    $("#sectionSelectorTree").fancytree('getTree').reload(this.treeData);
                };

                this.selectPage = function() {
                    this.visibleLearningPaths = this.learningPaths.slice(
                        this.pager.getFirstItemOffset(), this.pager.getLastItemOffset()
                    );
                };

                this.selectPage();

                this.searchQuery = null;

                $scope.$watch(
                    angular.bind(this, function() { return this.searchQuery; }),
                    angular.bind(this, function(searchQuery) {
                        if(searchQuery !== null && searchQuery.length > 0) {
                            this.learningPaths = this.originalLearningPaths.filter(function(learningPath) {
                               return learningPath.title.indexOf(searchQuery) > -1;
                            });
                        } else {
                            this.learningPaths = this.originalLearningPaths;
                        }

                        this.pager.reset(this.learningPaths);
                        this.selectPage();
                    })
                );

                $scope.$watch(
                    function() { return mainController.selectedWorkspace; },
                    function() {
                        mainController.fetchCategories();
                    }
                );

                this.fetchWorkspaces = function() {
                    $http.post(
                        'index.php?application=Chamilo\\Core\\Repository\\ContentObject\\LearningPath\\Ajax&go=GetWorkspacesWithCopyRight',
                        null,
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}}
                    ).then(function successCallback(response) {
                            this.workspaces = response.data;
                        }.bind(this), function errorCallback(response) {
                        }
                    );
                };

                this.fetchLearningPaths = function (categoryId, searchQuery) {
                    $http.post(
                        'index.php?application=Chamilo\\Core\\Repository\\ContentObject\\LearningPath\\Ajax&go=GetLearningPaths',
                        $.param({'category_id': categoryId, 'search_query': searchQuery}),
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}}
                    ).then(function successCallback(response) {
                            this.originalLearningPaths = this.learningPaths = response.data;
                            this.pager.reset(this.learningPaths);
                            this.selectPage();
                        }.bind(this), function errorCallback(response) {
                        }
                    );
                };

                this.fetchCategories = function () {
                    var parameters = {}; console.log(this);
                    if(this.selectedWorkspace) {
                        parameters = { 'workspace_id': this.selectedWorkspace.id };
                    }

                    $http.post(
                        'index.php?application=Chamilo\\Core\\Repository\\ContentObject\\LearningPath\\Ajax&go=GetCategories',
                        $.param(parameters),
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}}
                    ).then(function successCallback(response) {
                            var categories = [];
                            response.data.forEach(function (category) {
                                categories.push({
                                    "id": category.id,
                                    "name": category.name.replace(/&mdash;/g, '-').replace(/&nbsp;&nbsp;&nbsp;/g, '-')
                                });
                            });
                            this.categories = categories;
                            this.selectedCategory = this.categories[0];
                        }.bind(this), function errorCallback(response) {
                        }
                    );
                };

                this.fetchLearningPathTree = function(learningPathId) {
                    $http.post(
                        'index.php?application=Chamilo\\Core\\Repository\\ContentObject\\LearningPath\\Ajax&go=GetLearningPathTree',
                        $.param({ 'learning_path_id': learningPathId }),
                        {headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}}
                    ).then(function successCallback(response) {
                            this.treeData = response.data;
                            $("#sectionSelectorTree").fancytree('getTree').reload(this.treeData);
                        }.bind(this), function errorCallback(response) {
                        }
                    );
                };

                this.fetchWorkspaces();
                this.fetchCategories();
                this.fetchLearningPaths(0);

                var tree = $("#sectionSelectorTree").fancytree({
                    keyboard: false,
                    source: this.treeData,
                    glyph: {
                        map: {
                            checkbox: "glyphicon glyphicon-unchecked",
                            checkboxSelected: "glyphicon glyphicon-check",
                            checkboxUnknown: "glyphicon glyphicon-share",
                            dragHelper: "glyphicon glyphicon-play",
                            dropMarker: "glyphicon glyphicon-arrow-right",
                            error: "glyphicon glyphicon-warning-sign",
                            expanderClosed: "glyphicon glyphicon-chevron-right",
                            expanderLazy: "glyphicon glyphicon-plus-sign",
                            expanderOpen: "glyphicon glyphicon-chevron-down",
                            loading: "glyphicon glyphicon-refresh glyphicon-spin",
                            nodata: "glyphicon glyphicon-info-sign",
                            doc: "glyphicon glyphicon-file",
                            docOpen: "glyphicon glyphicon-file",
                            folder: "glyphicon glyphicon-folder-close",
                            folderOpen: "glyphicon glyphicon-folder-open"
                        }
                    },
                    minExpandLevel: 10,
                    selectMode: 3,
                    checkbox: true,
                    extensions: ["glyph", "persist"],
                    toggleEffect: false,
                    persist: {
                        store: "local",
                        types: 'expanded'
                    },
                    renderTitle: function (event, data) {
                        return '<span class="fancytree-title">' + data.node.data.number + ' ' + data.node.title +
                            '</span>';

                    },
                    select: function(event, data) {
                        var selKeys = $.map(data.tree.getSelectedNodes(true), function(node){
                            return node.key;
                        });

                        mainController.selectedLearningPathNodeIds = JSON.stringify(selKeys);
                        $scope.$digest();
                    }

                });
            }]
        );
    })();

    angular.bootstrap($(".learning-path-section-copier"), ['learningPathSectionCopierApp']);
</script>
