<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Photobucket">
	<settings>
		<category name="credentials">
			<setting name="consumer_key" field="text">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting type="password" name="consumer_secret" field="text">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="session" field="text" default="" user_setting="1" />
		</category>
	</settings>
</package>
