<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Application\Calendar\Extension\Google">
    <settings>
        <category name="general">
            <setting name="cosnics.libraries.protocol.google.token"
                     field="HTML_QuickForm_text"
                     default=""/>
        </category>
    </settings>
</package>
