<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Application\Calendar\Extension\Google">
    <settings>
        <category name="Security">
            <setting name="cosnics.libraries.protocol.google.token"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default=""/>
        </category>
    </settings>
</package>
