<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Group\Integration\Chamilo\Core\Tracking">
	<event name="create">
		<tracker name="change" />
	</event>
	<event name="update">
		<tracker name="change" />
	</event>
	<event name="delete">
		<tracker name="change" />
	</event>
	<event name="move">
		<tracker name="change" />
	</event>
	<event name="empty">
		<tracker name="change" />
	</event>
	<event name="subscribe_user">
		<tracker name="change" />
	</event>
	<event name="unsubscribe_user">
		<tracker name="change" />
	</event>
</package>
