<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Libraries">
    <settings>
        <category name="Calendar">
            <setting name="cosnics.libraries.calendar.hourStep"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default="1"
                     required="true"></setting>
            <setting name="cosnics.libraries.calendar.workingHoursStart"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="0"
                     required="true">
                <options type="static">
                    <option value="0"
                            name="00"/>
                    <option value="1"
                            name="01"/>
                    <option value="2"
                            name="02"/>
                    <option value="3"
                            name="03"/>
                    <option value="4"
                            name="04"/>
                    <option value="5"
                            name="05"/>
                    <option value="6"
                            name="06"/>
                    <option value="7"
                            name="07"/>
                    <option value="8"
                            name="08"/>
                    <option value="9"
                            name="09"/>
                    <option value="10"
                            name="10"/>
                    <option value="11"
                            name="11"/>
                    <option value="12"
                            name="12"/>
                    <option value="13"
                            name="13"/>
                    <option value="14"
                            name="14"/>
                    <option value="15"
                            name="15"/>
                    <option value="16"
                            name="16"/>
                    <option value="17"
                            name="17"/>
                    <option value="18"
                            name="18"/>
                    <option value="19"
                            name="19"/>
                    <option value="20"
                            name="20"/>
                    <option value="21"
                            name="21"/>
                    <option value="22"
                            name="22"/>
                    <option value="23"
                            name="23"/>
                </options>
            </setting>
            <setting name="cosnics.libraries.calendar.workingHoursEnd"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="24"
                     required="true">
                <options type="static">
                    <option value="0"
                            name="00"/>
                    <option value="1"
                            name="01"/>
                    <option value="2"
                            name="02"/>
                    <option value="3"
                            name="03"/>
                    <option value="4"
                            name="04"/>
                    <option value="5"
                            name="05"/>
                    <option value="6"
                            name="06"/>
                    <option value="7"
                            name="07"/>
                    <option value="8"
                            name="08"/>
                    <option value="9"
                            name="09"/>
                    <option value="10"
                            name="10"/>
                    <option value="11"
                            name="11"/>
                    <option value="12"
                            name="12"/>
                    <option value="13"
                            name="13"/>
                    <option value="14"
                            name="14"/>
                    <option value="15"
                            name="15"/>
                    <option value="16"
                            name="16"/>
                    <option value="17"
                            name="17"/>
                    <option value="18"
                            name="18"/>
                    <option value="19"
                            name="19"/>
                    <option value="20"
                            name="20"/>
                    <option value="21"
                            name="21"/>
                    <option value="22"
                            name="22"/>
                    <option value="23"
                            name="23"/>
                </options>
            </setting>
            <setting name="cosnics.libraries.calendar.hideNonWorkingHours"
                     field="Symfony\Component\Form\Extension\Core\Type\CheckboxType"
                     default="false"
                     required="true">
                <options type="static">
                    <option name="hide_non_working_hours"
                            value="1"/>
                </options>
            </setting>
            <setting name="cosnics.libraries.calendar.defaultView"
                     field="Symfony\Component\Form\Extension\Core\Type\RadioType"
                     default="Month"
                     required="true">
                <options type="static">
                    <option name="Month"
                            value="Month"/>
                    <option name="Week"
                            value="Week"/>
                    <option name="Day"
                            value="Day"/>
                    <option name="List"
                            value="List"/>
                </options>
            </setting>
            <setting name="cosnics.libraries.calendar.firstDayOfWeek"
                     field="Symfony\Component\Form\Extension\Core\Type\RadioType"
                     default="monday"
                     required="true">
                <options type="static">
                    <option name="Sunday"
                            value="sunday"/>
                    <option name="Monday"
                            value="monday"/>
                </options>
            </setting>
        </category>
        <category name="MicrosoftGraph">
            <setting name="cosnics.libraries.protocol.microsoft.graph.externalUserIdentifier"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default=""/>
        </category>
        <category name="UserInterface">
            <setting name="cosnics.libraries.userInterface.translation.language.default"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="english"
                     required="true">
                <options type="dynamic"
                         source="getLanguages"/>
                <availability source="isAllowedToChangePlatformLanguage"/>
            </setting>
            <setting name="cosnics.libraries.calendar.timezone"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="Europe/Brussels"
                     required="true">
                <options type="dynamic"
                         source="getTimeZones"/>
                <availability source="isAllowedToChangePlatformTimezone"/>
            </setting>
        </category>
        <category name="Caching">
            <setting name="cosnics.libraries.storage.cache.external.defaultLifetime"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default="3600"
                     required="true"/>
        </category>
    </settings>
</package>
