<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Libraries">
    <settings>
        <category name="Calendar">
            <setting name="cosnics.libraries.calendar.hourStep"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default="1"
                     required="true"></setting>
            <setting name="cosnics.libraries.calendar.workingHoursStart"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="0"
                     required="true">
                <options source="getCalendarWorkingHours"/>
            </setting>
            <setting name="cosnics.libraries.calendar.workingHoursEnd"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="24"
                     required="true">
                <options source="getCalendarWorkingHours"/>
            </setting>
            <setting name="cosnics.libraries.calendar.hideNonWorkingHours"
                     field="Symfony\Component\Form\Extension\Core\Type\CheckboxType"
                     default="false"
                     required="true"></setting>
            <setting name="cosnics.libraries.calendar.defaultView"
                     field="Symfony\Component\Form\Extension\Core\Type\RadioType"
                     default="Month"
                     required="true">
                <options source="getCalendarViews"/>
            </setting>
            <setting name="cosnics.libraries.calendar.firstDayOfWeek"
                     field="Symfony\Component\Form\Extension\Core\Type\RadioType"
                     default="monday"
                     required="true">
                <options source="getCalendarFirstDaysOfWeek"/>
            </setting>
        </category>
        <category name="MicrosoftGraph">
            <setting name="cosnics.libraries.protocol.microsoft.graph.externalUserIdentifier"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default=""/>
        </category>
        <category name="UserInterface">
            <setting name="cosnics.libraries.userInterface.translation.language.default"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="english"
                     required="true">
                <options source="getLanguages"/>
                <availability source="isAllowedToChangePlatformLanguage"/>
            </setting>
            <setting name="cosnics.libraries.calendar.timezone"
                     field="Symfony\Component\Form\Extension\Core\Type\ChoiceType"
                     default="Europe/Brussels"
                     required="true">
                <options source="getTimeZones"/>
                <availability source="isAllowedToChangePlatformTimezone"/>
            </setting>
        </category>
        <category name="Caching">
            <setting name="cosnics.libraries.storage.cache.external.defaultLifetime"
                     field="Symfony\Component\Form\Extension\Core\Type\TextType"
                     default="3600"
                     required="true"/>
        </category>
    </settings>
</package>
