div.mini_calendar {
	float: left;
	width: 250px;
	padding-right: 10px;
}

div.normal_calendar {
	margin-left: 260px;
}

div.event_publication_info {
	text-align: right;
	font-style: italic;
	margin: 1em 0;
}

.portal-block-course-list ul.list-group {
	margin: 10px 0px;
}

.portal-block-course-list ul.list-group li.list-group-item {
	border: 0px solid white;
	padding: 5px 15px;
}