<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Scribd">
    <settings>
        <category name="credentials">
            <setting
                name="api_key"
                field="text"
                default="">
                <validations>
                    <validation
                        rule="required"
                        message="ThisFieldIsRequired" />
                </validations>
            </setting>
            <setting
                name="api_secret"
                field="text"
                default="">
                <validations>
                    <validation
                        rule="required"
                        message="ThisFieldIsRequired" />
                </validations>
            </setting>

            <setting
                name="username"
                field="text"
                user_setting="1">
            </setting>
            <setting
                name="password"
                field="password"
                default=""
                user_setting="1">
            </setting>
        </category>
    </settings>
</package>
