<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Admin">
    <settings>
        <category name="administrator">
            <setting name="administrator_name"
                     field="HTML_QuickForm_text"
                     default="Chamilo"/>
            <setting name="administrator_email"
                     field="HTML_QuickForm_text"
                     default="chamilo.admin@mychamilo.com">
            </setting>
            <setting name="administrator_website"
                     field="HTML_QuickForm_text"/>
        </category>
        <category name="whoisonline">
            <setting name="timelimit"
                     field="HTML_QuickForm_text"
                     default="30">
            </setting>
        </category>
        <category name="platform">
            <setting name="site_name"
                     field="HTML_QuickForm_text"
                     default="Chamilo"/>
            <setting name="institution"
                     field="HTML_QuickForm_text"
                     default="Chamilo"/>
            <setting name="institution_url"
                     field="HTML_QuickForm_text"
                     default="http://www.chamilo.org"></setting>
            <setting name="no_reply_email"
                     field="HTML_QuickForm_text"
                     default="">
            </setting>
            <setting name="mailer"
                     field="HTML_QuickForm_select"
                     default="Chamilo\Libraries\Mail\Mailer\PhpMailer\Mailer"
                     user_setting="0">
                <options type="dynamic"
                         source="getMailers"/>
            </setting>
        </category>
        <category name="maintenance">
            <setting name="maintenance_warning_show"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="0">
                <options type="static">
                    <option name="maintenance_warning_show"
                            value="1"/>
                </options>
            </setting>
            <setting name="maintenance_warning_message"
                     field="HTML_QuickForm_text"
                     default=""/>
            <setting name="maintenance_block_access"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="0">
                <options type="static">
                    <option name="maintenance_block_access"
                            value="1"/>
                </options>
            </setting>
        </category>
        <category name="visual">
            <setting name="platform_language"
                     field="HTML_QuickForm_select"
                     default="english"
                     user_setting="1">
                <options type="dynamic"
                         source="getLanguages"/>
                <availability source="isAllowedToChangePlatformLanguage"/>
            </setting>
            <setting name="platform_timezone"
                     field="HTML_QuickForm_select"
                     default="Europe/Brussels"
                     user_setting="1">
                <options type="dynamic"
                         source="getTimeZones"/>
                <availability source="isAllowedToChangePlatformTimezone"/>
            </setting>
            <setting name="theme"
                     field="HTML_QuickForm_select"
                     default="Aqua"
                     user_setting="1">
                <options type="dynamic"
                         source="getThemes"/>
                <availability source="isAllowedToChangeTheme"/>
            </setting>
            <setting name="portal_home"
                     field="HTML_QuickForm_html_editor"
                     default=""/>
        </category>

        <category name="caching">
            <setting name="refresh_external"
                     field="HTML_QuickForm_text"
                     default="60"
                     user_setting="1"/>
        </category>
    </settings>
</package>
