<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Admin">
    <settings>
        <category name="administrator">
            <setting name="administrator_name"
                     field="text"
                     default="Chamilo"/>
            <setting name="administrator_email"
                     field="text"
                     default="chamilo.admin@mychamilo.com">
                <validations>
                    <validation rule="email"
                                message="MustBeAnEMailAddress"/>
                </validations>
            </setting>
            <setting name="administrator_website"
                     field="text"/>
        </category>
        <category name="whoisonline">
            <setting name="timelimit"
                     field="text"
                     default="30">
                <validations>
                    <validation rule="numeric"
                                message="MustBeNumeric"/>
                </validations>
            </setting>
        </category>
        <category name="platform">
            <setting name="site_name"
                     field="text"
                     default="Chamilo"/>
            <setting name="institution"
                     field="text"
                     default="Chamilo"/>
            <setting name="institution_url"
                     field="text"
                     default="http://www.chamilo.org">
                <validations>
                    <validation rule="regex"
                                format="/http:\/\/.*/"
                                message="MustStartWithHTTP"/>
                </validations>
            </setting>
            <setting name="no_reply_email"
                     field="text"
                     default="">
                <validations>
                    <validation rule="email"
                                message="MustBeAnEMailAddress"/>
                </validations>
            </setting>
            <setting name="mailer"
                     field="select"
                     default="Chamilo\Libraries\Mail\Mailer\PhpMailer\Mailer"
                     user_setting="0">
                <options type="dynamic"
                         source="getMailers"/>
            </setting>
            <setting name="google_analytics_tracking_id"
                     field="text"
                     default=""/>
        </category>
        <category name="maintenance">
            <setting name="maintenance_warning_show"
                     field="toggle"
                     default="0">
                <options type="static">
                    <option name="maintenance_warning_show"
                            value="1"/>
                </options>
            </setting>
            <setting name="maintenance_warning_message"
                     field="text"
                     default=""/>
            <setting name="maintenance_block_access"
                     field="toggle"
                     default="0">
                <options type="static">
                    <option name="maintenance_block_access"
                            value="1"/>
                </options>
            </setting>
        </category>
        <category name="visual">
            <setting name="platform_language"
                     field="select"
                     default="english"
                     user_setting="1">
                <options type="dynamic"
                         source="getLanguages"/>
                <availability source="isAllowedToChangePlatformLanguage"/>
            </setting>
            <setting name="theme"
                     field="select"
                     default="Aqua"
                     user_setting="1">
                <options type="dynamic"
                         source="getThemes"/>
                <availability source="isAllowedToChangeTheme"/>
            </setting>
            <setting name="portal_home"
                     field="html_editor"
                     default=""/>
        </category>
        <category name="authentication">
            <setting name="enableExternalAuthentication"
                     field="toggle">
                <options type="static">
                    <option name="enableExternalAuthentication"
                            value="1"/>
                </options>
            </setting>
        </category>

        <category name="credentials_authentication">
            <setting name="enablePlatformAuthentication"
                     field="toggle"
                     default="1">
                <options type="static">
                    <option name="enablePlatformAuthentication"
                            value="1"/>
                </options>
            </setting>
        </category>

        <category name="query_authentication">
            <setting name="enableSecurityTokenAuthentication"
                     field="toggle">
                <options type="static">
                    <option name="enableSecurityTokenAuthentication"
                            value="1"/>
                </options>
            </setting>
            <setting name="enableAnonymousAuthentication"
                     field="toggle">
                <options type="static">
                    <option name="enableAnonymousAuthentication"
                            value="0"/>
                </options>
            </setting>
        </category>

        <category name="external_authentication">
            <setting name="enableCasAuthentication"
                     field="toggle">
                <options type="static">
                    <option name="enableCasAuthentication"
                            value="1"/>
                </options>
            </setting>
        </category>
        <category name="cas_authentication">
            <setting name="cas_base_url"
                     field="text"
                     default=""/>
            <setting name="cas_host"
                     field="text"
                     default=""/>
            <setting name="cas_port"
                     field="text"
                     default=""/>
            <setting name="cas_uri"
                     field="text"
                     default=""/>
            <setting name="cas_version"
                     field="radio"
                     default="SAML_VERSION_1_1">
                <options type="static">
                    <option name="SAML VERSION 1.1"
                            value="SAML_VERSION_1_1"/>
                    <option name="CAS VERSION 2.0"
                            value="CAS_VERSION_2_0"/>
                </options>
            </setting>
            <setting name="cas_check_certificate"
                     field="toggle"
                     default="1">
                <options type="static">
                    <option name="cas_check_certificate"
                            value="1"/>
                </options>
            </setting>
            <setting name="cas_certificate"
                     field="text"
                     default=""/>
            <setting name="cas_enable_log"
                     field="toggle">
                <options type="static">
                    <option name="cas_enable_log"
                            value="1"/>
                </options>
            </setting>
            <setting name="cas_log"
                     field="text"
                     default=""/>
        </category>
    </settings>
</package>
