{{ HEADER|raw }}

{% set appContext = 'Chamilo\\Application\\Weblcms\\Tool\\Implementation\\Teams' %}

{% if IS_TEACHER %}
    <a href="{{ CREATE_TEAM_URL }}" class="btn btn-primary btn-lg">Create Team</a>
{% else %}
    <div class="alert alert-info">
        This Team is not yet activated. Please contact your teacher.
    </div>
{% endif %}

{{ FOOTER|raw }}