{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Assignment\\Extension\\Plagiarism' %}

{{ HEADER|raw }}

<div style="margin-top: 20px;">


    {{ TOOLBAR|raw }}
    <div style="margin-top: 30px;">
    {{ TABLE|raw }}
    </div>

</div>

{{ FOOTER|raw }}