{% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Assignment\\Extension\\Plagiarism' %}

{{ HEADER|raw }}

<button type="button" class="btn btn-default"><span class="fa fa-files-o"></span> Controleer alle inzendingen op plagiaat</button>

<div class="alert alert-info" style="margin-top: 20px;">
    Er zijn nog geen inzendingen gecontroleerd op plagiaat. Je kan alle nieuwe inzendingen automatisch controleren op plagiaat door de publicatie-details van deze opdracht te configureren. Je kan alle nog niet gecontroleerde inzendingen via bovenstaande knop laten controleren op plagiaat.
</div>


{{ TABLE|raw }}

{{ FOOTER|raw }}