<?xml version="1.0" encoding="UTF-8"?>
<package context="cas_user">
    <settings>
        <category name="general">
            <setting
                name="dbms"
                field="text"
                default="mysql" />
            <setting
                name="host"
                field="text"
                default="localhost" />
            <setting
                name="database"
                field="text"
                default="cas" />
            <setting
                name="table"
                field="text"
                default="users" />
            <setting
                name="user"
                field="text"
                default="root" />
            <setting
                name="password"
                field="text"
                default="" />
        </category>
    </settings>
</package>
