.panel.panel-default .panel-feedback-profile {
    max-width: 40px;
    max-height: 40px;
    margin-right: 15px;
}

.feedback-pagination ul.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
}

.receive-feedback-spacer {
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .receive-feedback-info {
        margin-top: 8px;
        float: left;
    }

    .receive-feedback-buttons {
        float: right;
    }
}

@media screen and (max-width: 1024px) {
    .btn-receive-feedback {
        margin-top: 7px;
    }

    .receive-feedback-buttons {
        margin-left: -7px;
    }
}

.feedback-date {
    font-size: 11px;
    color: #777;
    margin-top: 2px;
}

.feedback-content {
    margin-top: 12px;
    margin-left: 57px;
}