<div>
    {% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Rubric' %}

    {{ getJavascript('Builder/cosnics-rubric.umd.js', appContext) }}
    {{ getCss('cosnics-rubric.css', appContext) }}

    <style type="text/css">
        .tab-pane #rubric-preview {
            margin: 5px -10px;
        }
    </style>

    <div id="rubric-preview">
        <rubric-preview-wrapper v-if="rubricData" :rubric-data="rubricData"></rubric-preview-wrapper>
    </div>

    <script>
        Vue.use(BootstrapVue);
        Vue.use(VueI18n);
        Vue.use(this['cosnics-rubric'].default);

        var rubricDataJSON = '{{ RUBRIC_DATA_JSON|raw }}';
        var data = JSON.parse(rubricDataJSON);

        var lang;
        try {
            lang = '{{ LANGUAGE|raw }}';
        } catch (err) {
            console.warn('Language could not be set, defaulting to English instead.');
            lang = 'en';
        }

        new Vue({
            i18n: new VueI18n({ locale: lang }),
            el: '#rubric-preview',
            data: {
                rubricData: data
            }
        });
    </script>
</div>