<div>

    {% set appContext = 'Chamilo\\Core\\Repository\\ContentObject\\Rubric' %}

    {{ getJavascript('Builder/cosnics-rubric.umd.js', appContext) }}
    {{ getCss('cosnics-rubric.css', appContext) }}

    <div id="builder">
        <score-rubric-builder></score-rubric-builder>
    </div>

    <script>
        Vue.use(BootstrapVue);
        Vue.use(this['cosnics-rubric'].default);

        var app = new Vue({
            el: '#builder',
            data: {
                "store": {
                    rubric: Vue.prototype.$getRubricFromJSON(
                        '{"useScores":true,"title":"my_rubric","levels":[{"id":"x71v4tjlrqve5qlsp5or","title":"level1","description":"bad","score":10,"isDefault":false},{"id":"4suq88i9xytw8cu1wcjvm9","title":"level2","description":"good","score":10,"isDefault":false}],"clusters":[{"title":"my cluster","categories":[{"title":"category1","color":"blue","criteria":[{"id":"g5w8birn51ctnkzztvfp28","title":"categoryCriterium","weight":100}]}],"criteria":[{"id":"lraueq7apq9f2qp5t8nna","title":"clusterCriterium","weight":100}]}],"choices":[{"criteriumId":"lraueq7apq9f2qp5t8nna","levelId":"x71v4tjlrqve5qlsp5or","choice":{"selected":false,"feedback":"a","hasFixedScore":false,"fixedScore":10}},{"criteriumId":"lraueq7apq9f2qp5t8nna","levelId":"4suq88i9xytw8cu1wcjvm9","choice":{"selected":false,"feedback":"b","hasFixedScore":false,"fixedScore":10}},{"criteriumId":"g5w8birn51ctnkzztvfp28","levelId":"x71v4tjlrqve5qlsp5or","choice":{"selected":false,"feedback":"c","hasFixedScore":false,"fixedScore":10}},{"criteriumId":"g5w8birn51ctnkzztvfp28","levelId":"4suq88i9xytw8cu1wcjvm9","choice":{"selected":true,"feedback":"d","hasFixedScore":false,"fixedScore":10}}]}'),
                    onSave: function () {
                        alert("saved!");
                    }
                }
            }
        });
    </script>

</div>
