.fas-ci-432f03a5bdc4c3cf0d71a993ed6f58d5:before {
    content: "\f133";
}

/**
 * Package type: Chamilo\Application\Calendar\Extension
 */
.fas-ci-efd79b9e6a1dcc254858c0b931067055:before {
    content: "\f31e";
}

.event-source {
    cursor: pointer;
}