.fas-ci-432f03a5bdc4c3cf0d71a993ed6f58d5:before {
    content: "\f133";
}

/**
 * Package type: Chamilo\Application\Calendar\Extension
 */
.fas-ci-efd79b9e6a1dcc254858c0b931067055:before {
    content: "\f31e";
}

.event-source {
    cursor: pointer;
}

/*
 * Home Block Type: Chamilo\Application\Calendar\Service\Home\DayBlockRenderer
 */
.fas-ci-c9e989e5a787319daf4a1db02a8cc9bf:before {
    content: "\f783";
}

/*
 * Home Block Type: Chamilo\Application\Calendar\Service\Home\MonthBlockRenderer
 */
.fas-ci-0ad69dc1e2ca5a4e3b57a5e86e7dc2e7:before {
    content: "\f073";
}

.portal-block-content .table-calendar-day {
    border-top-width: 0px;
    margin-bottom: 0px;
    table-layout: auto;
}

.portal-block-content .table-calendar-day thead {
    display: none;
}

.portal-block-content .table-calendar-day tr:first-child td {
    border-top-width: 0px;
}

.portal-block-content .table-calendar-day tr:last-child td {
    border-bottom-width: 0px;
}

.portal-block-content .table-calendar-day tr td:first-child {
    border-left-width: 0px;
}

.portal-block-content .table-calendar-day tr td:last-child {
    border-right-width: 0px;
}

.portal-block-content .table-calendar-day + .table-calendar-legend {
    margin: 15px;
}

.portal-block-content .table-calendar-day tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.portal-block-content .table-calendar-day tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}