ul.tree-menu li div a.description, ul.tree-menu li div a.type_description,
	.treeview .list-group .list-group-item .icon.node-icon.type_description,
	.treeview .list-group .list-group-item .icon.node-icon.type_description_default,
	ul.tree-menu li div a.type_description_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}