/*****************************************************
 *  WEBLCMS STYLES                                   *
 *****************************************************/
.fas-ci-9008bad3af70e139b9fa6cc53cea5d85:before {
    content: "\f51b";
}

/**
 * Package Type: Chamilo\Application\Weblcms\Tool
 */
.fas-ci-13cdb0b7c0706b4cf8b08a2498de114d:before {
    content: "\f552";
}

/********************
 * BOOTSTRAP STYLES *
 ********************/
.weblcms-tool-navigation {
    margin-bottom: 10px;
}

.row.course-home {
    display: flex;
    flex-flow: column nowrap;
}

.row.course-home .course-home-sidebar {
    order: 2;
}

.row.course-home .course-home-content {
    order: 1;
}

.row.course-home .course-home-sidebar .well h4 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item {
    background-color: transparent;
    border-width: 0px;
    padding: 10px 0px;
}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item:first-child {
    /* 	padding-top: 10px; */

}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item:last-child {
    /* 	padding-bottom: 10px; */

}

@media ( min-width: 768px) {
    .row.course-home {
        display: block;
    }
}

/**************
 * OLD STYLES *
 **************/
#publication_feedback {
    border: 1px solid #c6c6c6;
    padding: 10px;
}

.toolSortHelper {
    background-color: #f2f2f2;
    border: 1px dashed #c0c0c0;
    display: inline;
    float: left;
    margin: 0px -1px 5px -1px;
    padding: 0px;
}

.tool {
    display: inline;
    float: left;
    height: 30px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

td.publication_table_actions_column, td.publication_table_status_column, td.publication_table_order_column,
th.tools_column_toggle, td.tools_column_toggle, th.column_icon, tr td.column_icon {
    text-align: center;
    vertical-align: middle;
}

td.publication_table_actions_column {
    width: 220px;
}

td.publication_table_status_column, td.publication_table_order_column, table th.column_icon, table tr td.column_icon {
    width: 50px;
}

table th.tools_column_toggle, table tr td.tools_column_toggle {
    width: 150px;
}

/***************
 * COURSE LIST *
 ***************/
.nav.nav-tabs.course-list-tabs, .nav.nav-tabs.tool-list-tabs {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.nav.nav-tabs.course-list-tabs li, .nav.nav-tabs.tool-list-tabs li {
    margin-bottom: -2px;
    margin-top: -1px;
}

.nav.nav-tabs.course-list-tabs li a, .nav.nav-tabs.tool-list-tabs li a {
    font-size: 13px;
    padding: 12px 15px;
}

.nav.nav-tabs.course-list-tabs li.active a, .nav.nav-tabs.tool-list-tabs li.active a {
    border-radius: 0;
}

.nav.nav-tabs.course-list-tabs li.active:first-child a, .nav.nav-tabs.tool-list-tabs li.active:first-child a {
    border-left: none;
}

.nav.nav-tabs.course-list-tabs, .nav.nav-tabs.tool-list-tabs,
.course-list-tab-content .list-group-header {
    background-color: #f5f5f5;
    color: #555555;
}

.course-list-tab-content .list-group-item:first-child {
    border-radius: 0;
    padding-top: 12px;
}

.course-list-tab-content .list-group-item {
    border-top: 0;
}

.course-list-tab-content .list-group-item.list-group-header {
    border-bottom: 2px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.course-list-tab-content .list-group-item.list-group-header:first-child {
    border-top: none;
}

.course-list-tab-content h4 .glyphicon {
    font-size: 14px;
}

.course-list-tab-content .list-group-item-text {
    color: #666666;
}

.course-list-tab-content .list-group-header .list-group-item-heading {
    margin-bottom: 0;
}

.tool-list-content .tool a.invisible-tool, .course-list-tab-content .list-group-item.invisible-course .list-group-item-heading,
.course-list-tab-content .list-group-item.invisible-course .list-group-item-heading a,
.course-list-tab-content .list-group-item.invisible-course .list-group-item-text {
    color: #999999;
}

.tool-list-content {
    border: 1px solid #dddddd;
    border-top: none;
    padding: 15px;
}

.tool-list-content div.row {
    margin-bottom: 0;
    padding-top: 0;
}

.tool-list-content .tool {
    display: block;
    float: none;
}

.tool-list-content .tool-link .tool-link-actions {
    display: inline;
    margin-right: 15px;
}

.tool-list-content .tool-link .tool-link-image {
    margin-right: 10px;
}

/***********************
 * PUBLICATION TARGETS *
 ***********************/
.target-entities-container {
    margin-left: 25px;
    margin-top: 20px;
}

.target-entities-list {
    border-radius: 0;
    float: left;
    margin-right: 20px;
    overflow: auto;
    width: 200px;
}

.target-entities-list .panel-heading {
    border-radius: 0;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px;
}

.target-entities-list .panel-body {
    padding: 0;
}

.target-entities-list ul {
    margin: 0;
    max-height: 200px;
    overflow: auto;
    padding: 5px 0 5px 0;
}

.target-entities-list .list-group-item {
    border: none;
    margin-bottom: 0;
    padding: 1px 10px;
}

.target-entities-list .target-entities-default {
    display: none;
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\AssignmentNotificationsBlockRenderer
 */
.fas-ci-c0b78c8d9f317a2e924fdb3a0cb22275:before {
    content: "\f658";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\AssignmentSubmissionsBlockRenderer
 */
.fas-ci-6b26bf5a60feaeeef547b96485cc15f7:before {
    content: "\f01c";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\CourseListBlockRenderer
 */
.fas-ci-2b63627d4742768d4eb204dcebe82917:before {
    content: "\f51b";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\CourseMenuBlockRenderer
 */
.fas-ci-c978467aa9f8996023e2f78eee9adb35:before {
    content: "\f0ad";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\EndingAssignmentsBlockRenderer
 */
.fas-ci-41e95bad648cd2de00f1109aded8e1b8:before {
    content: "\f2f2";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\FilteredCourseListBlockRenderer
 */
.fas-ci-fb77baca35f45aea2d92f4407ba03c69:before {
    content: "\f51c";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\NewAnnouncementsBlockRenderer
 */
.fas-ci-0760c8e8d5215955fe7edc28fe55cfc8:before {
    content: "\f130";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\NewAssignmentsBlockRenderer
 */
.fas-ci-f73eac3e0e71bdabfa81bf84163d9f6b:before {
    content: "\f093";
}

/*
 * Home Block Type: Chamilo\Application\Weblcms\Service\Home\NewDocumentsBlockRenderer
 */
.fas-ci-09c8a6c46e133f1167d5e0047ccf91c4:before {
    content: "\f07c";
}

.portal-block-course-list ul.list-group {
    margin: 10px 0px;
}

.portal-block-course-list ul.list-group li.list-group-item {
    border: 0px solid white;
    padding: 5px 15px;
}

span.badge-date {
    background-color: #337ab7;
    font-weight: normal;
    opacity: 0.5;
}

@media ( min-width: 768px) {
    .portal-block-content.list-group.portal-block-new-list {
        max-height: 500px;
        overflow: auto;
    }
}

.portal-block-content.list-group.portal-block-new-list .list-group-item .list-group-item-text {
    color: #337ab7;
    font-size: 13px;
}

.notifications-block {
    max-height: 500px;
    overflow-y: scroll;
}

.notifications-block .list-group-item {
    border-left: none;
}

.notifications-block .list-group-item:last-child {
    border-bottom: none;
}

.notifications-block-new-label {
    background-color: red;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white !important;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 8px;
}

