/*****************************************************
 *  WEBLCMS STYLES                                   *
 *****************************************************/

/********************
 * BOOTSTRAP STYLES *
 ********************/
.weblcms-tool-navigation {
	margin-bottom: 10px;
}

.row.course-home {
	display: flex;
	flex-flow: column nowrap;
}

.row.course-home .course-home-sidebar {
	order: 2;
}

.row.course-home .course-home-content {
	order: 1;
}

.row.course-home .course-home-sidebar .well h4 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item
	{
	border-width: 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item:first-child
	{
/* 	padding-top: 10px; */
}

.row.course-home .course-home-sidebar .well .list-group.list-group-course-tool .list-group-item:last-child
	{
/* 	padding-bottom: 10px; */
}

@media ( min-width : 768px) {
	.row.course-home {
		display: block;
	}
}

/**************
 * OLD STYLES *
 **************/

/* for content section in weblcms home course list file */
.maincontent {
	float: left;
	width: 78%;
	padding: 4px;
	background-color: #fff;
}

div.course_home_block {
	background-color: transparent;
	padding: 0px;
}

div.course_home_block div.title {
	padding: 5px 0px 5px 27px;
	border: 0px solid;
	background-position: 0px center;
	background-repeat: no-repeat;
	line-height: 18px;
	width: auto;
}

div.user_course_category { /*background-color: #efefef;*/
	background-color: transparent;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

div.user_category_block {
	background-color: transparent;
	border: 1px dotted #d3d3d3;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

div.mini_calendar {
	float: left;
	width: 250px;
	padding-right: 10px;
}

div.normal_calendar {
	margin-left: 260px;
}

div.level_1 {
	background-color: #F6F6F6;
	color: #000000;
}

div.level_2 {
	background-color: #ecf4f8;
	color: #000000;
}

div.level_3 {
	background-color: #C48B33;
	color: #FFFFFF;
}

#publication_feedback {
	border: 1px solid #C6C6C6;
	padding: 10px;
}

div.announcements div.title {
	border-bottom: 1px dotted #CCCCCC;
	font-weight: bold;
	width: 60%;
	padding-bottom: 0.4em;
	color: #000066;
	font-size: 120%;
	float: left;
}

div.announcements a {
	color: #000066;
}

div.announcements div.topactions {
	text-align: right;
}

div.announcements div.description {
	clear: both;
}

div.announcements div.publication_info {
	text-align: right;
	font-style: italic;
	margin: 1em 0;
}

div.announcements div.publication_actions {
	text-align: right;
}

div.announcements {
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	padding: 10px 10px 10px 44px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	overflow: auto;
}

.toolSortHelper {
	border: 1px dashed #c0c0c0;
	background-color: #F2F2F2;
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px -1px 5px -1px;
}

.tool {
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	height: 30px;
}

div.questionform input[type=text], div.form-row div.questionform input[type=password],
	div.form-row div.questionform select {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
}

div.questionform input[type=text]:hover, div.form-row div.questionform input[type=text]:focus,
	div.form-row div.questionform input[type=password]:hover, div.form-row div.questionform input[type=password]:focus,
	div.form-row div.questionform select:hover, div.form-row div.questionform select:focus
	{
	background-color: #f7fbfd;
	border-color: #4171B5;
}

/*****************************************************
 *  Wiki head styles                                 *
 *****************************************************/
.head1 {
	font-size: 21px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.head2 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.head3 {
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.head4 {
	font-size: 12px;
}

.head5, .head6 {
	font-family: Ubuntu, verdana, arial, helvetica, sans-serif;
}

/*****************************************************
 *  Wiki page styles                                 *
 *****************************************************/
#top {
	float: left;
	margin-right: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	min-width: 200px;
	padding: 5px;
	border: 1px solid #4271B5;
	background-color: #faf7f7;
}

#contentbox {
	align: center;
	font-family: Ubuntu, Arial;
	font-size: 13px;
	display: inline;
	font-weight: bold;
}

#show {
	align: center;
	font-family: Ubuntu, Arial;
	font-size: 13px;
	font-weight: bold;
	display: none;
}

#content {
	line-height: 160%;
}

.link_iframe {
	
}

/****************************
 * Student view link styles *
 ****************************/
div.student_view {
	position: fixed;
	right: 19px;
	top: 5px;
	/*float: right;*/
}

/************************
 * Tool shortcut styles *
 ************************/
#tool_shortcuts {
	float: right;
	margin-bottom: 10px;
}

div.publication_actions div.toolbar {
	display: inline;
	clear: none;
	float: right;
}

div.publication_actions div.toolbar ul.toolbar_horizontal, div.publication_actions div.toolbar ul.toolbar_vertical
	{
	display: inline;
	float: right;
}

div.slideshow {
	background-color: #f9f9f9;
}

div.slideshow div.description {
	text-align: center;
}

div.slideshow img {
	border: 1px solid #f0f0f0;
}

table.data_table#slideshow th.actions div.toolbar {
	float: left;
}

table.data_table#slideshow th.navigation div.toolbar {
	float: right;
}

table.data_table#slideshow td.header {
	text-align: center;
}

div.home_actions {
	display: block;
	padding: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-position: 14px 10px;
	line-height: 16px;
	background-color: #F6F6F6;
	margin-bottom: 10px;
}

div.publication_container {
	margin-top: 25px;
	margin-bottom: 25px;
}

div.tree_menu_hide_container {
	font-size: 75%;
}

div.category_title {
	background-color: transparent;
	font-weight: bold;
	font-style: italic;
	color: #4171B5;
	padding-bottom: 2px;
}

/********************
 * Reporting styles *
 ********************/
.data_table th.reporting_th {
	vertical-align: bottom;
	background-size: cover;
	text-align: center;
}

.data_table th.reporting_th_name {
	vertical-align: bottom;
	background-size: cover;
	text-align: center;
}

td.reporting_td {
	text-align: center;
}

th.reporting_td_name {
	text-align: center;
}

.reporting_legend {
	margin-left: 10px;
}

.reporting_header_filter {
	margin-left: 5px;
	margin-top: 5px;
}

/*****************************************************
 *  Course group styles                              *
 *****************************************************/
/* Neater inline alignment on the form */
div.form-row.tool_unchecked_warning .warning-message {
	margin-left: 0;
	left: 0;
	right: 0;
}

div.user_category_description {
	margin-top: 10px;
}

td.publication_table_actions_column {
	min-width: 150px;
	max-width: 220px;
	width: 220px;
}

td.publication_table_status_column, td.publication_table_order_column {
	max-width: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

/** Tools Table **/
table th.tools_column_toggle, table tr td.tools_column_toggle {
	max-width: 150px;
	width: 150px;
	text-align: center;
	vertical-align: middle;
}

table th.column_icon, table tr td.column_icon {
	max-width: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

table tr td.column_tool_title {
	vertical-align: middle;
}

/** Course List **/
.nav.nav-tabs.course-list-tabs, .nav.nav-tabs.tool-list-tabs {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

.nav.nav-tabs.course-list-tabs li, .nav.nav-tabs.tool-list-tabs li {
	margin-bottom: -2px;
	margin-top: -1px;
}

.nav.nav-tabs.course-list-tabs li a, .nav.nav-tabs.tool-list-tabs li a {
	padding: 12px 15px;
	font-size: 13px;
}

.nav.nav-tabs.course-list-tabs li.active a, .nav.nav-tabs.tool-list-tabs li.active a
	{
	border-radius: 0;
}

.nav.nav-tabs.course-list-tabs li.active:first-child a, .nav.nav-tabs.tool-list-tabs li.active:first-child a
	{
	border-left: none;
}

.nav.nav-tabs.course-list-tabs, .nav.nav-tabs.tool-list-tabs,
	.course-list-tab-content .list-group-header {
	background-color: #F5F5F5;
	color: #555555;
}

.course-list-tab-content .list-group-item:first-child {
	border-radius: 0;
	padding-top: 12px;
}

.course-list-tab-content .list-group-item {
	border-top: 0;
}

.course-list-tab-content .list-group-item.list-group-header {
	border-top: 1px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
}

.course-list-tab-content .list-group-item.list-group-header:first-child
	{
	border-top: none;
}

.course-list-tab-content h4 .glyphicon {
	font-size: 14px;
}

.course-list-tab-content .list-group-item-text {
	color: #666666;
}

.course-list-tab-content .list-group-header .list-group-item-heading {
	margin-bottom: 0;
}

.tool-list-content .tool a.invisible-tool, .course-list-tab-content .list-group-item.invisible-course .list-group-item-heading,
	.course-list-tab-content .list-group-item.invisible-course .list-group-item-heading a,
	.course-list-tab-content .list-group-item.invisible-course .list-group-item-text
	{
	color: #999999;
}

.tool-list-content {
	border: 1px solid #DDDDDD;
	border-top: none;
	padding: 15px;
}

.tool-list-content div.row {
	margin-bottom: 0;
	padding-top: 0;
}

.tool-list-content .tool {
	display: block;
	float: none;
}

.tool-list-content .tool-link .tool-link-actions {
	display: inline;
	margin-right: 15px;
}

.tool-list-content .tool-link .tool-link-image {
	margin-right: 10px;
}

.btn-inherited-rights {
	margin-left: 25px;
	display: none;
}

.target-entities-container {
	margin-left: 25px;
	margin-top: 20px;
}

.target-entities-list {
	width: 200px;
	overflow: auto;
	float: left;
	margin-right: 20px;
	border-radius: 0;
}

.target-entities-list .panel-heading {
	font-weight: bold;
	font-size: 14px;
	color: #555555;
	border-radius: 0;
	padding: 3px 10px;
}

.target-entities-list .panel-body {
	padding: 0;
}

.target-entities-list ul {
	overflow: auto;
	max-height: 200px;
	padding: 5px 0 5px 0;
	margin: 0;
}

.target-entities-list .list-group-item {
	border: none;
	margin-bottom: 0;
	padding: 1px 10px;
}

.target-entities-list .target-entities-default {
	display: none;
}