@import url('../Aqua/Stylesheet.css');

/*
 * Chamilo Navbar
 */
.navbar.navbar-chamilo {
	border-radius: 0;
	width: 100%;
	background-color: #262f52;
	border: none;
	margin-bottom: 0;
}

.navbar.navbar-chamilo.navbar-no-items .navbar-brand {
	padding-top: 0;
}

.navbar.navbar-chamilo .container-fluid {
	background-color: #262F52;
	padding-left: 0;
	padding-right: 0;
}


/** Menu Item **/
.navbar-chamilo ul.navbar-nav li a, .navbar-chamilo ul.navbar-nav li a:visited
	{
	float: none !important;
	display: block;
	height: 50px;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	color: #8eadd8;
	outline: none;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
}


.navbar-chamilo ul.navbar-nav li a img.chamilo-menu-item-icon:only-child
	{
	padding-top: 0px;
}

/** Active Menu Item **/
.navbar-chamilo ul.navbar-nav li.active {
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid #f2f2f2;
	z-index: auto !important;
	position: relative;
	bottom: -1px;
}

.navbar-chamilo ul.navbar-nav li.active>a, .navbar-chamilo ul.navbar-nav li.active.dropdown.open>a,
	.navbar-chamilo ul.navbar-nav li.active>a:hover {
	background: #f2f2f2
		url(../../../../../../Chamilo/Core/Menu/Resources/Images/Aqua/Background/HeaderCurrent.png)
		repeat-x top left !important;
	color: #444444 !important;
	bottom: 0 !important;
	border: none !important;
}

.navbar-chamilo .navbar-nav .dropdown-menu li, .navbar-chamilo .navbar-nav .dropdown-menu li a,
	.navbar-chamilo .navbar-nav .dropdown-menu li a:hover {
	/*background-color: #262f52;*/
	background: #2f3a66;
	height: auto;
}

.navbar-chamilo ul.navbar-nav li.dropdown.open ul.dropdown-menu li a {
	color: #8eadd8;
	padding: 0;
}

.navbar-chamilo ul li div.chamilo-menu-item-account {
	min-width: 332px;
	height: 136px;
	overflow: hidden;
	background-color: #2f3a66;
	clear: both;
	white-space: normal;
	position: fixed;
	right: 0;
	top: 76px;
	padding: 16px;
	color: #8eadd8;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	z-index: 999;
	line-height: normal;
}


div.chamilo-menu-item-account div.chamilo-menu-item-account-logout {
	border-top: 1px dotted #dcdcdc;
	padding: 8px 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 100px;
	min-width: 332px;
	width: auto;
	text-align: center;
	color: white;
	line-height: 16px;
	background-color: #262F52;
}

.navbar-chamilo .navbar-nav .dropdown-menu div.chamilo-menu-item-account div.chamilo-menu-item-account-logout a
	{
	height: auto;
	line-height: normal;
	padding: 0;
	background-color: #262F52;
}