div.publication-location span.category img.labeled {
	vertical-align: middle;
	margin-right: 5px;
}

div.publication-location span.category {
	font-size: 14px;
}

div.publication-location div.form_splitter span.category {
	font-size: 12px;
}