@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.youtube {
	background-image: url(../../Images/Ruby/Logo/16.png);
}

ul.tree-menu li div a.type_youtube {
	background-image: url(../../Images/Ruby/Logo/16.png);
}