ul.tree-menu li div a.system_announcement, ul.tree-menu li div a.type_system_announcement,
	.treeview .list-group .list-group-item .icon.node-icon.type_system_announcement, .treeview .list-group .list-group-item .icon.node-icon.type_system_announcement_default,
	ul.tree-menu li div a.type_system_announcement_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}