ul.tree-menu li div a.announcement, ul.tree-menu li div a.type_announcement,
	ul.tree-menu li div a.type_announcement_default, .treeview .list-group .list-group-item .icon.node-icon.type_announcement
	{
	background-image: url(../../Images/Aqua/Logo/16.png);
}