ul.tree-menu li div a.file, ul.tree-menu li div a.type_file, ul.tree-menu li div a.type_file_default
	{
	background-image: url(../../Images/Aqua/Logo/16.png);
}

.mejs-container {
	margin-bottom: 15px;
}

.media-element-js-playback-error .btn-toolbar {
	margin-top: 15px;
	margin-bottom: 0px;
}

.media-element-js-container .alert {
	margin-bottom: 0px;
}