/*********************************************
 * QUICKFORM ELEMENT FINDER STYLES           *
 * ----------------------------------------- *
 * Don't change unless you have a death wish *
 *********************************************/
.active_elements, .inactive_elements {
    background-color: #f5f5f5;
    border: 1px solid #dedede;
}

.active_elements:hover,
.inactive_elements:hover,
.active_elements:focus,
.inactive_elements:focus {
    background-color: #f7fbfd;
    border: 1px solid #4171b5;
}

div.element_finder div.inactive_elements div.previous_elements,
div.element_finder div.inactive_elements div.next_elements {
    cursor: pointer;
    margin-left: -12px;
    margin-right: -12px;
    padding: 4px;
    text-align: center;
}

div.element_finder div.inactive_elements div.previous_elements {
    margin-bottom: 6px;
    margin-top: -6px;

}

div.element_finder div.inactive_elements div.next_elements {
    margin-bottom: -6px;
    margin-top: 6px;
}