/**********************
 *  MAIN STYLES FILE  *
 **********************/
.container-breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.container-breadcrumb ol.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.container-headerless {
    padding-bottom: 20px;
    padding-top: 20px;
}

/*******************
 *  FOOTER STYLES  *
 *******************/
footer.chamilo-footer {
    border-top: 1px solid #dddddd;
    font-size: 90%;
    margin-top: 20px;
    padding: 15px 0;
    text-align: right;
}

/*****************
 *  MAIN STYLES  *
 *****************/
.panel.panel-attachments {
    margin-bottom: 0px;
    margin-top: 20px;
}

/*************
 *  CALLOUT  *
 *************/
:root,
[data-bs-theme=light] {
    --callout-code-color: #ab296a;
    --callout-link: 10, 88, 202;
}

[data-bs-theme=dark] {
    --callout-code-color: #e685b5;
    --callout-link: 110, 168, 254;
}

.callout {
    --bs-callout-bg: transparent;
    --bs-callout-padding-x: 1.25rem;
    --bs-callout-padding-y: 1.25rem;
    --bs-callout-margin-bottom: 1rem;
    background-color: var(--bs-callout-bg, var(--bs-gray-100));
    border-left: .25rem solid var(--bs-callout-border, var(--bs-gray-300));
    --bs-code-color: var(--bs-callout-code-color);
    color: var(--bs-callout-color, inherit);
    --bs-link-color-rgb: var(--callout-link);
    padding: var(--bs-callout-padding-y) var(--bs-callout-padding-x);
    margin-bottom: var(--bs-callout-margin-bottom);
}

.callout h4 {
    margin-bottom: .25rem
}

.callout > :last-child {
    margin-bottom: 0
}

.callout .highlight {
    background-color: #0000000d
}

.callout-primary {
    --bs-callout-bg: var(--bs-primary-bg-subtle);
    --bs-callout-border: var(--bs-primary-border-subtle);
    --bs-callout-color: var(--bs-primary-text-emphasis);
}

.callout-secondary {
    --bs-callout-bg: var(--bs-secondary-bg-subtle);
    --bs-callout-border-color: var(--bs-secondary-border-subtle);
    --bs-callout-color: var(--bs-secondary-text-emphasis);
}

.callout-success {
    --bs-callout-bg: var(--bs-success-bg-subtle);
    --bs-callout-border: var(--bs-success-border-subtle);
    --bs-callout-color: var(--bs-success-text-emphasis);
}

.callout-info {
    --bs-callout-bg: var(--bs-info-bg-subtle);
    --bs-callout-border: var(--bs-info-border-subtle);
    --bs-callout-color: var(--bs-info-text-emphasis);
}

.callout-warning {
    --bs-callout-bg: var(--bs-warning-bg-subtle);
    --bs-callout-border: var(--bs-warning-border-subtle);
    --bs-callout-color: var(--bs-warning-text-emphasis);
}

.callout-danger {
    --bs-callout-bg: var(--bs-danger-bg-subtle);
    --bs-callout-border: var(--bs-danger-border-subtle);
    --bs-callout-color: var(--bs-danger-text-emphasis);
}

.callout-light {
    --bs-callout-bg: var(--bs-light-bg-subtle);
    --bs-callout-border: var(--bs-light-border-subtle);
    --bs-callout-color: var(--bs-light-text-emphasis);
}

.callout-dark {
    --bs-callout-bg: var(--bs-dark-bg-subtle);
    --bs-callout-border: var(--bs-dark-border-subtle);
    --bs-callout-color: var(--bs-dark-text-emphasis);
}

/***********
 * Various *
 ***********/
.element_finder_loading {
    display: inline-block;
    height: 64px;
    margin-top: -32px;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
}

iframe.preview {
    border: 1px solid #cccccc;
    height: 300px;
    width: 100%;
}

[v-cloak] {
    display: none;
}

figcaption {
    padding-top: 8px !important;
}

/*****************
 *  HTML Editor  *
 *****************/
.tox .tox-notification--in,
.tox .tox-promotion,
.tox .tox-statusbar__help-label,
.tox .tox-tbtn[title="Get all features"],
.tox .tox-toolbar__overflow [href*="get-tiny"] {
    display: none !important;
}

.tox .tox-statusbar__branding {
    display: none !important;
}