/*****************************************************
 *  MAIN STYLES FILE                                 *
 *****************************************************/
body {
    /*font-family: arial, verdana, helvetica, sans-serif;*/
    color: #3f4045;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.container-breadcrumb {
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.container-breadcrumb ol.breadcrumb {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/*****************************************************
 *  FOOTER STYLES                                    *
 *****************************************************/
footer.chamilo-footer {
    margin-top: 20px;
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
    border-top: 1px solid #dddddd;
}

/*****************************************************
 *  MAIN STYLES                                      *
 *****************************************************/

.notifications {
    position: fixed;
    right: 15px;
    top: 15px;
    left: 15px;
    text-align: justify;
    z-index: 9999999;
    text-align: justify;
}

@media ( min-width: 768px) {
    .notifications {
        left: auto;
    }
}

.notifications .alert {
    margin-bottom: 10px;
}

.warning-banner {
    border-bottom: 1px solid #ffd89b;
    padding: 10px;
    z-index: 9999;
    text-align: center;
}

/*****************************************************
 *  GENERAL STYLES                                    *
 *****************************************************/
/* Invisibility style */
.invisible {
    color: #999;
}

.visible {
    color: #4171B5;
    font-weight: bold;
}

.invisible a:link, .invisible a:visited {
    color: #999;
}

a.invisible:link, a.invisible:visited {
    color: #999;
}

.clear {
    clear: both;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}

label.left {
    float: left;
    width: 15em;
    margin: 0 0 0.5em 0;
}

/* Fix for alignment problem in IE-Win browsers  */
/*  Hide from IE5-mac. Only IE-win sees this. \*/
* html .label {
    margin-right: 10px;
}

* html .data {
    height: 1%;
    margin-left: 0;
}

span.subtitle {
    font-size: 90%;
    font-weight: bold;
    color: #787878;
}

/*****************************************************
 *  REPOSITORY / LEARNING OBJECT STYLES              *
 *****************************************************/

/* Learning object display styles */
div.content_object {
    border: 1px solid #F0F0F0;
    margin: 0 0 1em 0;
    padding: 10px 10px 10px 44px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-radius-topleft: 10px;
    border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    overflow: auto;
}

div.content_object div.title {
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    margin-bottom: 1em;
}

div.content_object div.description ul.attachments_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.content_object div.publication_info {
    font-style: italic;
    text-align: right;
    margin: 1em 0;
}

div.content_object span.publication_info {
    font-weight: normal;
    font-style: italic;
    text-align: right;
}

div.content_object div.publication_actions {
    text-align: right;
}

div.content_object div#content_object_tags {
    border-top: 1px solid #CCCCCC;
    text-align: right;
    margin-top: 1em;
    padding-top: 7px;
}

div.content_object div#content_object_tags ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div.content_object div#content_object_tags ul li.tag {
    float: right;
    background-color: #D4E0F1;
    padding: 2px 4px;
    border: 1px solid #B5CAE7;
    border-radius: 3px;
    color: #4171B5;
    margin-left: 5px;
}

/* List of attachments */
div.attachments {
    border: 1px solid #F6F6F6;
    margin: 0 0 1em 0;
}

div.attachments_title {
    font-weight: bold;
    border-bottom: 1px solid #D0D0D0;
    width: 60%;
    margin-bottom: 1em;
}

ul.attachments_list li.personal_message_attachment {
    clear: both;
    padding-bottom: 7px;
}

ul.attachments_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

form .row ul.attachments_list {
    margin-bottom: 7px;
}

ul.attachments_list li {
    margin: 0;
    padding: 0;
}

ul.attachments_list img {
    vertical-align: middle;
}

span.info_message {
    color: #808080;
    font-style: italic;
}

/*****************************************************
 *  SEMANTIC TABBES PANE STYLES                      *
 *****************************************************/
.tabbed-pane {
    clear: both;
}

.tabbed-pane-tabs {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
    height: 0; /* for IE */
}

.tabbed-pane-tabs li {
    display: inline;
    float: left;
    margin: 0 0.5ex 0 0;
    padding: 0;
}

.tabbed-pane-tabs li a {
    display: block;
    margin: 0.25em 0 -1px 0;
    padding: 0.25em 1em;
    background: #E5EDF9;
    color: #4171b5;
    text-decoration: none;
    border: 1px solid #4271b5;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.tabbed-pane-tabs li a:hover, .tabbed-pane-tabs li a.current {
    background: white;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom-color: white;
    color: #4171b5;
}

.tabbed-pane-tabs li a:active, .tabbed-pane-tabs li a.current,
.tabbed-pane-tabs li a.current:hover {
    color: black;
}

.tabbed-pane-content {
    clear: both;
    border: 1px solid #4271b5;
    margin: 0;
    padding: 1em;
    min-height: 15em;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/*****************************************************
 *  ICON BASED TOOLBAR STYLES                        *
 *****************************************************/
.btn-toolbar.btn-toolbar-cosnics .btn {
    padding: 2px;
}

/**********************************
 * MODAL DIALOGS CSS
 **********************************/
#help-modal-overlay {
    background-color: black;
    cursor: wait;
}

#help-modal-container {
    position: fixed;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

a.help-modal-close {
    background-color: red;
    width: 16px;
    height: 16px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.element_finder_loading {
    width: 100%;
    height: 64px;
    display: inline-block;
    position: relative;
    top: 50%;
    margin-top: -32px;
    text-align: center;
}

iframe.preview {
    border: 1px solid #cccccc;
    width: 100%;
    height: 300px;
}

.hidden {
    display: none;
}

.ui-widget-content2 {
    color: #222222;
    border: 1px solid #F0F0F0;
    margin-right: 5px;
    padding: 5px;
    overflow: hidden;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.ui-widget-content2 a {
    color: #222222;
}

span.highlight {
    color: #B1071C;
}

pre.inline {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    height: 1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}

code.inline {
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono",
    monospace;
    display: inline;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}

.panel.panel-not-authenticated {
    margin-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

[v-cloak] {
    display: none
}


figcaption {
    padding-top: 8px !important;
}

.image-captioned {
    padding: 0px 0px 10px !important;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
}

.align-left {
    float: left;
    margin-right: 1.5em;
}

.align-right {
    float: right;
    margin-left: 1.5em;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.align-center div {
    margin: 0 auto;
}

.align-center > figure {
    display: inline-block;
}

span[lang] {
    font-style: normal;
}