@import url('Plugin/Dropzone/dropzone.min.css');
@import url('Plugin/Jquery/jquery-ui.min.css');
@import url('Plugin/Jplayer/Stylesheet.min.css');
@import url('Bootstrap/css/bootstrap-toggle.min.css');
@import url('Plugin/JqueryContextMenu/jquery.contextMenu.min.css');
@import url('Plugin/Highlight/github.min.css');
@import url('../../Javascript/Plugin/Uploadify/uploadify.min.css');
@import url('../../Javascript/Plugin/Fancytree/dist/skin-bootstrap/ui.fancytree.min.css');

.ui-widget-content {
    border: 0px;
    background-image: none;
    background-color: transparent;
}

.ui-widget-header {
    border-width: 0px;
    background-image: none;
    background-color: transparent;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 0px solid #c5dbec;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus,
.ui-widget-content .ui-state-focus {
    border: 0px solid #79b7e7;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: 1px solid #ebebeb;
}

