/*********************************************
 * jQuery CSS: Form tabs & ElementFinder
 *********************************************/
#form_tabs ul.tree-menu, #form_tabs ul.tree-menu ul {
    display: block;
}

.form_tab {
    border: 0px solid #ebebeb;
    background-color: white;
    z-index: 1000;
    clear: both;
}

#form_tabs .ui-tabs-panel {
    padding: 10px 20px 20px 20px;
    margin: 0px;
}

#form_tabs ul {
    display: none;
}

#form_tabs h2 {
    font-size: 14px;
}

#form_tabs.ui-tabs div.configuration_form {
    border-top: 1px solid #ebebeb;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

#form_tabs.ui-tabs div.configuration_form span.category {
    background-color: #fafcfc;
}

div.admin_tab {
    padding: 10px !important;
}

/*********************************************
 * jQuery CSS: Tabs
 *********************************************/
.ui-widget {
    font-family: Ubuntu, arial, verdana, helvetica, sans-serif;
    font-size: 12px;
}

/**
 * Fix for categories in forms
 */
div.dynamic_content_menu_item_content div.configuration_form, div.dynamic_content_menu_item_content div.row {
    clear: none;
}

.tab-pane-with-border {
    border: 1px solid #dddddd;
    border-top: none;
    padding: 10px 15px;
}