@CHARSET "ISO-8859-1";

.take_survey th.checkbox_answer {
	width: 48px;
}

div.survey {
	margin-bottom: 15px;
}

div.survey h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

div.survey div.description {
	padding: 6px 10px 6px 10px;
	border: 1px solid #b5cae7;
	background-color: #eef5fa;
}

div.survey div.description p {
	margin: 0px;
	padding: 0px;
}

div.survey div.information {
	padding: 6px 10px 6px 10px;
	border: 1px solid #cecece;
	background-color: #f4f4f4;
	margin-left: 50px;
}

div.survey div.information p {
	margin: 0px;
	padding: 0px;
}

div.question {
	margin: 0px 0px 15px 0px;
	/*
	padding: 0px 0px 15px 0px;
	border-bottom: 1px dotted #cccccc;
	*/
}

div.question div.title {
	color: #4171b5;
	font-weight: bold;
	font-size: 12px;
	/*margin-bottom: 10px;*/
}

div.question div.title div.number {
	float: left;
	text-align: center;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

div.question div.title div.text {
	margin: 0px 0px 0px 50px;
}

div.question div.title div.text div.bevel, div.question div.title div.number div.bevel
	{
	padding: 6px 10px 6px 10px;
	border-left: 1px solid white;
	border-top: 1px solid white;
}

div.question div.title div.number div.bevel {
	width: 24px;
	padding: 6px 6px 6px 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

div.question div.title div.text div.bevel {
	background-repeat: no-repeat;
	background-position: center 5px;
}

div.question div.title div.text div.bevel div.onoff {
	float: right;
}

div.question div.title div.text img {
	float: right;
	vertical-align: middle;
	margin-left: 10px;
}

div.question div.answer {
	padding-left: 50px;
}

div.question div.answer div.description {
	padding: 6px 10px 6px 10px;
	border: 1px solid #B5CAE7;
	border-top: 0px solid white;
}

div.question div.answer div.empty {
	padding: 3px;
}

div.question div.answer div.with_borders {
	padding: 10px;
	border: 1px solid #B5CAE7;
	border-top: 0px solid white;
}

div.question div.answer div.splitter {
	border: 1px solid #b5cae7;
	border-top: 0px solid white;
	background: #EEF5FA;
	font-size: 9px;
	color: gray;
	font-weight: bold;
	font-size: 11px;
	font-family: Ubuntu, "Trebuchet MS", Verdana, Arial, Helvetica,
		sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 3px 10px 3px 10px;
}

div.question div.answer div.slider {
	float: left;
	width: 300px;
	margin-left: 0.6em;
	margin-top: 0.2em;
	margin-bottom: 0.6em;
	background-color: #EEF5FA;
}

div.question div.answer div.slider .ui-slider-handle {
	margin-top: 1px;
}

div.question div.answer div.caption {
	float: left;
	font-weight: bold;
	color: #4171b5;
	margin-left: 20px;
}

ul.tree-menu li div a.survey, ul.tree-menu li div a.type_survey, ul.tree-menu li div a.type_survey_default
	{
	background-image: url(../../Images/Aqua/Logo/16.png);
}

.tab {
	border: 1px solid #ebebeb;
	background-color: #fafcfc;
	z-index: 1000;
	clear: both;
}

#tabs ul {
	display: none;
}

#tabs a:link {
	color: #303030;
}

#tabs a:visited {
	color: #303030;
}

#tabs a:hover {
	color: red;
}

div.vertical_action {
	clear: both;
	width: 100%;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #EBEBEB;
}

div.vertical_action div.icon {
	float: left;
	width: 64px;
	height: 64px;
}

div.vertical_action div.icon img {
	margin: 16px;
}

div.vertical_action div.description {
	margin-left: 64px;
}

div.vertical_action div.description .binary_checkbox {
	margin-top: 10px;
}

div.vertical_action h4 {
	margin: 0px;
	padding: 0px;
}

span.active {
	color: green;
}

span.inactive {
	color: red;
}

div.items {
	clear: both;
	width: 100%;
}

th.info {
	font-size: 9px;
	color: gray;
}