{% set appContext = 'Chamilo\\Core\\Repository' %}

<h4>This is a test!</h4>

<script type="text/javascript">
    (function(){
        var repositoryBrowserApp = angular.module('repositoryBrowserApp', [
            'chamiloTrNgGrid', 'ui.bootstrap', 'chamilo'
        ]);

        repositoryBrowserApp.controller('MainController', ['$scope', 'chamiloUtilities', function ($scope, chamiloUtilities) {
            this.contentObjects = [];
            this.isLoading = false;
            this.totalContentObjectsCount = 0;

            var mainController = this;

            this.refreshContentObjects = function(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse) {
                mainController.isLoading = true;

                chamiloUtilities.callChamiloAjax(
                    'Chamilo\\Core\\Repository\\Ajax\\DataTable', 'ContentObject',
                    {
                        'currentPage': currentPage,
                        'itemsPerPage': pageItems,
                        'globalFilter': filterBy,
                        'individualFilters': filterByFields,
                        'orderBy': orderBy,
                        'orderByReverse': orderByReverse


                    },
                    function (data, status, headers, config) {
                        mainController.isLoading = false;
                        mainController.contentObjects = data.data_class_table.row_data;
                        mainController.totalContentObjectsCount = data.data_class_table.row_count;

                        buildContextMenu();
                    }
                );
            };

            var buildContextMenu = function () {
                $.contextMenu({
                    selector: ".repository-table tbody tr td div.tr-ng-cell",
                    zIndex: 10001,
                    minWidth: '202px',
                    build: function ($triggerElement, e) {
                        var rowId = $triggerElement.data('id');
                        return {
                            items: {
                                copy: {
                                    name: "Copy",
                                    callback: function (key, opt) {
                                        alert('Clicked on copy for row ' + rowId);
                                    }
                                }
                            }
                        }
                    }
                });
            };
        }]);

    })();
</script>


<div ng-app="repositoryBrowserApp" ng-controller="MainController as mainController">
    {% include 'Chamilo\\Libraries:Plugin/AngularJS/trNgGrid_templates.html.twig' %}

    <div class="panel panel-default" ng-show="mainController.isLoading">
        <div class="panel-body text-center">
            {{ getImage('Action/LoadingHuge', 'Chamilo\\Configuration', 'gif') }}
        </div>
    </div>

    <table
            ng-show="!mainController.isLoading"
            tr-ng-grid=""
            items="mainController.contentObjects"
            fields="['Chamilo_Core_Repository_Storage_DataClass_ContentObject:title', 'Chamilo_Core_Repository_Storage_DataClass_ContentObject:description', 'Chamilo_Core_Repository_Storage_DataClass_ContentObject:modified']"
            page-items="20"
            locale="en"
            total-items="mainController.totalContentObjectsCount"
            on-data-required="mainController.refreshContentObjects(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
            class="repository-table"
    >
        <thead>
        <tr>
            <th field-name="Chamilo_Core_Repository_Storage_DataClass_ContentObject:title" display-name="{{ 'Title'|trans({}, appContext) }}"></th>
            <th field-name="Chamilo_Core_Repository_Storage_DataClass_ContentObject:description" display-name="{{ 'Description'|trans({}, appContext) }}"></th>
            <th field-name="Chamilo_Core_Repository_Storage_DataClass_ContentObject:modified" display-name="{{ 'ModificationDate'|trans({}, appContext) }}"></th>
        </tr>
        </thead>
    </table>
</div>