ul.tree-menu li div a.faq, ul.tree-menu li div a.type_faq, ul.tree-menu li div a.type_faq_default,
	.treeview .list-group .list-group-item .icon.node-icon.type_faq, .treeview .list-group .list-group-item .icon.node-icon.type_faq_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

.faq-item {
	list-style: none;
	padding-left: 32px;
}

.faq-item-first {
	padding-left: 0px;
}

.faq-item-title {
	font-weight: bold;
	text-transform: uppercase;
	color: #2e6e9e;
	font-size: 120%;
	z-index: 20;
	font-size: 120%;
}

.faq-item-title-description {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 5px;
}

.faq-item-title img {
	vertical-align: middle;
	margin-right: 5px;
}

.faq-item .description {
	display: none;
}

.faq-item .tabs-header {
	width: 180px;
	float: right;
	z-index: 19;
}

.faq-item .tabs-header li {
	background: none;
}

.faq-item .tabs-header li a {
	padding: 2px !important;
}

.admin_tab {
	margin-bottom: 4px;
}