ul.tree-menu li div a.portfolio,ul.tree-menu li div a.type_portfolio,ul.tree-menu li div a.type_portfolio_default
	{
	background-image: url(../../images/wine/logo/16.png);
}

.feedback-container {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid white;
}

.feedback-form {
	margin-top: 10px;
}

.feedback-container-even {
	background-color: #f6f6f6;
}

.feedback-container-odd {
	background-color: #ecf4f8;
}

.feedback-container .feedback {
	width: 100%;
	position: relative;
}

.feedback-container .body {
	width: 100%;
	float: left;
	overflow: hidden;
}

.feedback-container .content {
	padding: 10px 55px 10px 52px;
}

.feedback-container .user {
	font-weight: bold;
	color: #4171B5;
}

.feedback-container .date {
	font-size: 11px;
	color: gray;
	padding-top: 2px;
}

.feedback-container .content p {
	margin-top: 0px;
}

.feedback-container .photo {
	float: left;
	width: 32px;
	padding: 10px 0px 10px 10px;
	margin-left: -100%;
	position: relative;
}

.feedback-container .actions {
	float: left;
	width: 35px;
	padding: 10px 10px 10px 0px;
	margin-left: -45px;
	position: relative;
}

.feedback-history {
	display: none;
	clear: both;
}

.feedback-history-toggle-visible,.feedback-history-toggle-invisible {
	cursor: pointer;
	font-weight: bold;
	color: #4171B5;
	font-size: 11px;
}

.feedback-history-toggle-invisible {
	display: none;
}

.portfolio-statistics {
	text-align: right;
	font-style: italic;
	font-size: 11px;
	color: gray;
	padding-top: 5px;
}

.portfolio-photo {
	width: 100%;
	max-width: 200px;
	padding: 0px;
}

.portfolio-photo img {
	width: 100%;
	max-width: 200px;
	border: 1px solid grey;
}

.portfolio-virtual-user {
	max-width: 180px;
	background-color: #FFF8AA;
	border: 1px solid #FFD89B;
	color: #996900;
	padding: 10px;
	margin-bottom: 10px;
}