ul.tree-menu li div a.assessment_rating_question, ul.tree-menu li div a.type_assessment_rating_question,
	.treeview .list-group .list-group-item .icon.node-icon.type_assessment_rating_question,
	.treeview .list-group .list-group-item .icon.node-icon.type_assessment_rating_question_default,
.fancytree-custom-icon.type_assessment_rating_question,
.fancytree-custom-icon.type_assessment_rating_question_default,
	ul.tree-menu li div a.type_assessment_rating_question_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}