/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentAttemptsBlock
 */
.fas-ci-5088d9849fa18856ec1d2ad55385658d:before {
    content: "\f2f9";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentAttemptsUserBlock
 */
.fas-ci-35cc21932005ab95b0c172982939bc31:before {
    content: "\f2f9";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentInformationBlock
 */
.fas-ci-131c5f9383af410103156943ff58b9c1:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentMatchingQuestionOptionsBlock
 */
.fas-ci-6d36255dc7d57f6bd076f5d633a543a8:before {
    content: "\f074";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentMatchNumericQuestionOptionsBlock
 */
.fas-ci-3b9aecfe5d4ac7a02a3e550aafbf962e:before {
    content: "\f1ec";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentMatchTextQuestionOptionsBlock
 */
.fas-ci-7dabde720d19be4e5bcaada782f24009:before {
    content: "\f031";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentMatrixQuestionOptionsBlock
 */
.fas-ci-d3e0726ca34092010ebd2151451a299c:before {
    content: "\f0ce";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentMultipleChoiceQuestionOptionsBlock
 */
.fas-ci-2512bb6885ede2614c7ba31d66dd71f1:before {
    content: "\f0ca";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentOpenQuestionOptionsBlock
 */
.fas-ci-78ab928c0aaf45a2175b00ea9915116c:before {
    content: "\f11c";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentOverviewBlock
 */
.fas-ci-033dcc0f62298c08cc81e4e06b87e041:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionAttemptsBlock
 */
.fas-ci-dc7972b20c77166f31b4cb21cad676f8:before {
    content: "\f2f9";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionAttemptsUserBlock
 */
.fas-ci-06fd24d868c5dbac7509baa63116c0fb:before {
    content: "\f2f9";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionInformationBlock
 */
.fas-ci-6df86b38969e244bada9a74934c5c5ea:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionsBlock
 */
.fas-ci-e35f4db51acded718302035f7c1f4c5d:before {
    content: "\f0ca";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionsUsersBlock
 */
.fas-ci-4fbe77593154816adc0bb32b317c30ce:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionUserInformationBlock
 */
.fas-ci-e7ec167705ccadd6fbb348c4da41cb2c:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentQuestionUsersBlock
 */
.fas-ci-fe0ccbb3ee0206fbe48b2d7c7d7035fd:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentRatingQuestionOptionsBlock
 */
.fas-ci-dc86a5c8a7a8ac5221888effc541c15a:before {
    content: "\f681";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentsBlock
 */
.fas-ci-2eb454d1c4ac0175fbc32189a7ea6d90:before {
    content: "\f46c";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentSelectQuestionOptionsBlock
 */
.fas-ci-1025e82d608a07ba4a0cda8d7277177d:before {
    content: "\f0ae";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentUserInformationBlock
 */
.fas-ci-c5075763e1a59fec4d2f78f87d94c7ad:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentUsersBlock
 */
.fas-ci-f3211797740f479e93361129d5b88c7c:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssessmentUserScoresBlock
 */
.fas-ci-f46af3e08489afe234771df09177dbfa:before {
    content: "\f46c";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentBlock
 */
.fas-ci-3bea639e50d1430381c643dcb7b61187:before {
    content: "\f093";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentCourseGroupScoresBlock
 */
.fas-ci-f8fae228e51b88b0d15460c36d65ef87:before {
    content: "\f0c0";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentEntitiesBlock
 */
.fas-ci-1b62cf9a96f43a1f4c51593845abb78b:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentEntityInformationBlock
 */
.fas-ci-0c456df9c10b4b79cc3c3a33ccbdf668:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentEntriesBlock
 */
.fas-ci-68a61d0f473b99afb0a31c0fba09beb7:before {
    content: "\f093";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentInformationBlock
 */
.fas-ci-ead53c621dad3e9b60783cb6d168248b:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentPlatformGroupScoresBlock
 */
.fas-ci-e23a80793c9e906a4a6baa8096eeee8a:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentSubmitterSubmissionsBlock
 */
.fas-ci-3a3a981212581bb88db87c01d6930f3d:before {
    content: "\f093";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\AssignmentUserScoresBlock
 */
.fas-ci-4d944b9ee5c9d71d103b6d5c9e95c191:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\CoursesPerCategoryBlock
 */
.fas-ci-be7f2903359607ac87e5c0edf4ff6fb3:before {
    content: "\f51b";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\CourseUserAssignmentInformationBlock
 */
.fas-ci-3101126f1a3241d3ddb06a5d49f89caf:before {
    content: "\f093";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\CourseUserExerciseInformationBlock
 */
.fas-ci-6eb8fc6c0830e7244a39232ef4aa0d41:before {
    content: "\f46c";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\CourseUserLearningPathInformationBlock
 */
.fas-ci-26a6e69866e15d63e179f059cb21c79f:before {
    content: "\f518";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\FillInBlanksQuestionOptionsBlock
 */
.fas-ci-06136380a865a9cf6a1616c6dfb75153:before {
    content: "\f815";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LastAccessToToolsBlock
 */
.fas-ci-9a922ff6a990bf2b94030b0a24cddef3:before {
    content: "\f1da";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LastAccessToToolsPlatformBlock
 */
.fas-ci-deaff151ef39df04b72471e674d8fc98:before {
    content: "\f1da";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LastAccessToToolsUserBlock
 */
.fas-ci-41e4a142c014b3c08edf5471642159e2:before {
    content: "\f1da";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LearningPathAttemptProgressBlock
 */
.fas-ci-1d0dde4a0b5400631f16a4e6cd79f5a5:before {
    content: "\f2f9";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LearningPathAttemptProgressInformationBlock
 */
.fas-ci-e21bd794e68882f0bba3ca2110cbc0d2:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\LearningPathBlock
 */
.fas-ci-12ec94c2867a7289d4fea4f1fc04d2cc:before {
    content: "\f518";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\MatchQuestionOptionsBlock
 */
.fas-ci-0778bbb5e4773acdcd7a6820c230050f:before {
    content: "\f074";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\MostActiveInactiveLastDetailBlock
 */
.fas-ci-49d89baafb246f68f4f02371f66c6819:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\MostActiveInactiveLastPublicationBlock
 */
.fas-ci-802a9f4d0192d34f9c37afae82b7ebf3:before {
    content: "\f002";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\MostActiveInactiveLastVisitBlock
 */
.fas-ci-0a579a7ddda938408ad52db0aa0b7df3:before {
    content: "\f1da";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\NoOfCoursesBlock
 */
.fas-ci-8a629265d267d6c0d447143e0cfc29b4:before {
    content: "\f51b";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\NoOfCoursesByLanguageBlock
 */
.fas-ci-aaca3660344eed20182a28f9da184c6e:before {
    content: "\f51b";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\NoOfUsersSubscribedCourseBlock
 */
.fas-ci-f350484aee2d9bd197bc7706b6f81505:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\OrderingQuestionOptionsBlock
 */
.fas-ci-388b8ce9de6ba1d2c2f713bd0aec94ff:before {
    content: "\f0cb";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\UserInformationBlock
 */
.fas-ci-a56ca8eb1fab3a0d8a36ef670e90b81e:before {
    content: "\f05a";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\UsersTrackingBlock
 */
.fas-ci-8b35f358b5407926ce1c7c2be2c29fcc:before {
    content: "\f007";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\WikiMostEditedPageBlock
 */
.fas-ci-129eda959c8035427095db37b10e59eb:before {
    content: "\f044";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\WikiMostVisitedPageBlock
 */
.fas-ci-986dc196340d51b2ee7d54ad6f52bd1f:before {
    content: "\f245";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\WikiPageMostActiveUsersBlock
 */
.fas-ci-128270937ee9d145937ddd8ef97f3055:before {
    content: "\f0c0";
}

/*
 * Reporting Block Type: Chamilo\Application\Weblcms\Integration\Chamilo\Core\Reporting\Block\WikiPageUsersContributionsBlock
 */
.fas-ci-7c7f3b43862dfcd396557e02a54a2238:before {
    content: "\f0c0";
}

