@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.slideshare, ul.tree-menu li div a.type_slideshare,
	ul.tree-menu li div a.type_slideshare_default {
	background-image: url(../../Images/Ruby/Logo/16.png);
}