@CHARSET "ISO-8859-1";

ul.tree-menu li div a.survey_open_question, ul.tree-menu li div a.type_survey_open_question,
	ul.tree-menu li div a.type_survey_open_question_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.survey_open_question_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}

ul.tree-menu li div a.type_survey_open_question_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}

th.info {
	font-size: 9px;
	color: gray;
}