<?xml version="1.0" encoding="UTF-8"?>
<application name="repository">
	<settings>
		<category name="{CODE}">
			<setting name="allow_{CODE}_creation" field="checkbox"
				default="1">
				<options type="static">
					<option name="allow_{CODE}_creation" value="1" />
				</options>
			</setting>
		</category>
	</settings>
</application>