/*********************************************
 * GENERAL STYLES FOR DISPLAYING ASSESSMENTS *
 *********************************************/
div.assessment {
	margin-bottom: 15px;
}

div.assessment h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

div.assessment div.description {
	padding: 6px 10px 6px 10px;
	border: 1px solid #b5cae7;
	background-color: #eef5fa;
}

div.assessment div.description p {
	margin: 0px;
	padding: 0px;
}

div.assessment div.information {
	padding: 6px 10px 6px 10px;
	border: 1px solid #cecece;
	background-color: #f4f4f4;
	margin-left: 50px;
}

div.assessment div.information p {
	margin: 0px;
	padding: 0px;
}

/*div.question {*/
	/*margin: 0px 0px 15px 0px;*/
	/*!**/
	/*padding: 0px 0px 15px 0px;*/
	/*border-bottom: 1px dotted #cccccc;*/
	/**!*/
/*}*/

/*div.question div.title {*/
	/*color: #4171b5;*/
	/*font-weight: bold;*/
	/*font-size: 12px;*/
	/*!*margin-bottom: 10px;*!*/
/*}*/

/*div.question div.title div.number, div.question div.title div.text {*/
	/*border: 1px solid #b5cae7;*/
	/*background: #4171b5*/
		/*url(../../../../../../../Configuration/Resources/Images/Aqua/Background/TableHeader.png)*/
		/*repeat-x;*/
/*}*/

/*div.question div.title div.number {*/
	/*float: left;*/
	/*text-align: center;*/
	/*-moz-border-radius-topleft: 10px;*/
	/*-moz-border-radius-bottomright: 10px;*/
	/*-webkit-border-top-left-radius: 10px;*/
	/*-webkit-border-bottom-right-radius: 10px;*/
/*}*/

/*div.question div.title div.text {*/
	/*margin: 0px 0px 0px 50px;*/
/*}*/

/*div.question div.title div.text div.bevel, div.question div.title div.number div.bevel*/
	/*{*/
	/*padding: 6px 10px 6px 10px;*/
	/*border-left: 1px solid white;*/
	/*border-top: 1px solid white;*/
/*}*/

/*div.question div.title div.number div.bevel {*/
	/*width: 24px;*/
	/*padding: 6px 6px 6px 6px;*/
	/*-moz-border-radius-topleft: 10px;*/
	/*-moz-border-radius-bottomright: 10px;*/
	/*-webkit-border-top-left-radius: 10px;*/
	/*-webkit-border-bottom-right-radius: 10px;*/
/*}*/

/*div.question div.title div.text div.bevel {*/
	/*background-repeat: no-repeat;*/
	/*background-position: center 5px;*/
/*}*/

/*div.question div.title div.text img {*/
	/*float: right;*/
	/*vertical-align: middle;*/
	/*margin-left: 10px;*/
/*}*/

/*div.question div.instruction {*/
	/*margin: 0px 0px 15px 0px;*/
	/*padding: 0px 60px;*/
	/*color: #4171b5;*/
	/*font-style: italic;*/
/*}*/

/*div.question div.answer {*/
	/*padding-left: 50px;*/
/*}*/

/*div.question div.answer div.description {*/
	/*padding: 6px 10px 6px 10px;*/
	/*border: 1px solid #B5CAE7;*/
	/*border-top: 0px solid white;*/
/*}*/

/*div.question div.answer div.empty {*/
	/*padding: 3px;*/
/*}*/

/*div.question div.answer div.with_borders {*/
	/*padding: 10px;*/
	/*border: 1px solid #B5CAE7;*/
	/*border-top: 0px solid white;*/
/*}*/

div.panel div.feedback {
	padding: 10px 15px;
}

div.panel div.before_feedback {
	border-top: 1px solid #dddddd;
}

div.panel div.feedback_splitter {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #f5f5f5;
	color: #333333;
	padding: 6px 15px;
	margin: 20px 0 0;
	font-weight: bold;
}

/*div.question div.answer div.slider {*/
	/*float: left;*/
	/*width: 300px;*/
	/*margin-left: 0.6em;*/
	/*margin-top: 0.2em;*/
	/*margin-bottom: 0.6em;*/
	/*background-color: #EEF5FA;*/
/*}*/

/*div.question div.answer div.slider .ui-slider-handle {*/
	/*margin-top: 1px;*/
/*}*/

/*div.question div.answer div.caption {*/
	/*float: left;*/
	/*font-weight: bold;*/
	/*color: #4171b5;*/
	/*margin-left: 20px;*/
/*}*/

#selected_image, .selected_image, #hotspot_image, .hotspot_image {
	position: relative;
}

.hotspot_image_display {
	margin-bottom: 10px;
}

.colour_box {
	width: 15px;
	height: 15px;
	border: 1px solid black;
}

#hotspot_container, .hotspot_container {
	float: left;
	position: relative;
	padding: 1px;
}

#hotspot_marking, .hotspot_marking {
	margin-bottom: 10px;
}

#hotspot_marking .colour_box, #hotspot_marking .colour_box_label,
	.hotspot_marking .colour_box, .hotspot_marking .colour_box_label {
	float: left;
	font-weight: bold;
}

#hotspot_marking .colour_box, .hotspot_marking .colour_box {
	margin-left: 10px;
	margin-right: 10px;
}

div.description_hotspot {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #dddddd;
}

div.description_hotspot #hotspot_marking, div.description_hotspot .hotspot_marking
	{
	margin-top: 10px;
	margin-bottom: 0px;
}

div.hotspot-question-info
{
	margin-top: 20px;
}

img.set_hotspot {
	cursor: pointer;
}

img.save_hotspot {
	cursor: pointer;
}

div.time {
	display: inline;
}

ul.tree-menu li div a.assessment, ul.tree-menu li div a.type_assessment,
	.treeview .list-group .list-group-item .icon.node-icon.type_assessment,
	.treeview .list-group .list-group-item .icon.node-icon.type_assessment_default,
	ul.tree-menu li div a.type_assessment_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.type_assessment {
	background-image: url(../../Images/Ruby/Logo/16.png);
}

button.hint, a.hint_button {
	background-image: url(../../Images/Aqua/Buttons/Hint.png);
}

img.hint, img.hint_disabled {
	vertical-align: text-bottom;
	cursor: pointer;
}

#assessment_viewer_form .form-row {
	margin-left: -15px;
	margin-right: -15px;
}

.panel .panel-body.panel-body-assessment-description {
	border-bottom: 1px dashed #dddddd;
}