<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Slideshare">
	<settings>
		<category name="credentials">
			<setting name="consumer_key" field="text" default="">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="consumer_secret" field="text" default="">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="username" field="text" default="">
			</setting>
			<setting name="password" field="text" default="">
			</setting>
		</category>
	</settings>
</package>
