@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.portfolio_item, ul.tree-menu li div a.type_portfolio_item,
	ul.tree-menu li div a.type_portfolio_item_default {
	background-image: url(../../Images/Ruby/Logo/16.png);
}