<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Incomplete Progress in Learning Path</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h3 style="margin-bottom: 30px;">Beste student</h3>
        <p>Via deze weg willen wij je op de hoogte brengen dat je binnen het leerpad <b>{LEARNING_PATH}</b> de stap <b>{STEP_NAME}</b> nog niet voltooid hebt.</p>
        <p><a href="{URL}">Klik hier om naar de stap in het leerpad te gaan</a></p>
        <p style="margin-top: 30px;">
            Met vriendelijke groeten
            <br />{USER}
        </p>
    </div>
</body>
</html>