@import url('../Aqua/Stylesheet.css');

@import url(../../../Feedback/Resources/Css/Ruby/Stylesheet.css);

@import url(../../../Publication/Resources/Css/Ruby/Stylesheet.css);

tr.recycled td { /*text-decoration:line-through;*/
	color: #cccccc;
}

div.story_image {
	width: 708px;
	height: 300px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	/*background-image: url(../images/image_story.png);*/
	background-repeat: norepeat;
	position: relative;
	margin-bottom: 10px;
}

div.story_text {
	left: 0px;
	right: 0px;
	background-image: url(../images/common/background_overlay.png);
	padding: 10px;
	position: absolute;
	bottom: 0px;
}

div.story_text span.title {
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	color: grey;
	font-family: Ubuntu, "Trebuchet MS", sans-serif;
	font-size: 18px;
	word-spacing: 0.2em;
	letter-spacing: -1px;
}

div.content_object.comic_book {
	padding-left: 10px;
}

ul.tree-menu li div a.category_agenda {
	background-image: url(../../Images/Ruby/Category/Agenda.png);
}

ul.tree-menu li div a.category_assessment {
	background-image: url(../../Images/Ruby/Category/Assessment.png);
}

ul.tree-menu li div a.category_collaboration {
	background-image: url(../../Images/Ruby/Category/Collaboration.png);
}

ul.tree-menu li div a.category_general {
	background-image: url(../../Images/Ruby/Category/General.png);
}

ul.tree-menu li div a.category_handbook {
	background-image: url(../../Images/Ruby/Category/Handbook.png);
}

ul.tree-menu li div a.category_media {
	background-image: url(../../Images/Ruby/Category/Media.png);
}

ul.tree-menu li div a.category_news {
	background-image: url(../../Images/Ruby/Category/News.png);
}

ul.tree-menu li div a.category_peer_assessment {
	background-image: url(../../Images/Ruby/Category/PeerAssessment.png);
}

ul.tree-menu li div a.category_reference {
	background-image: url(../../Images/Ruby/Category/Reference.png);
}

ul.tree-menu li div a.category_survey {
	background-image: url(../../Images/Ruby/Category/Survey.png);
}

ul.tree-menu li div a.category_video_conferencing {
	background-image: url(../../Images/Ruby/Category/VideoConferencing.png);
}

div#repository_menu, div#search_parameters, div.information-box {
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #EBEBEB;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

div#search_parameters div.parameter {
	position: relative;
	padding: 5px;
	margin-bottom: 2px;
	background-color: #D4D4D4;
	color: #777777;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px 5px;
	font-size: 10px;
	line-height: 10px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	/*	display: inline-block;*/
}

div#search_parameters div.parameter#parameter_general_all {
	background-color: #777777;
	color: #D4D4D4;
}

.clear_parameter {
	float: right;
	width: 9px;
	height: 9px;
	z-index: 3200;
	position: absolute;
	top: 50%;
	right: 9px;
	margin-top: -4px;
	cursor: pointer;
	background: url(../../Images/Ruby/Action/ClearParameter.png) no-repeat;
}

div#search_parameters div.parameter#parameter_general_all .clear_parameter
	{
	background: url(../../Images/Ruby/Action/ClearAllParameter.png)
		no-repeat;
}

div#search_parameters h4 {
	margin-top: 0px;
	margin-bottom: 2px;
}

div.quota_statistics .data_table td.header {
	width: 20%;
}

.type_disabled {
	background-image: url(../../Images/Aqua/Menu/disabled.png) !important;
}