div.formw div.bootstrap-tagsinput input, div.row div.formw div.bootstrap-tagsinput input:hover,
	div.row div.formw div.bootstrap-tagsinput input:focus {
	background-color: #F5F5F5;
	min-width: 200px;
	min-height: 18px;
}

div.formw div.bootstrap-tagsinput {
	min-width: 400px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	padding: 2px 4px 2px 0px;
	margin-bottom: 0px;
}

.bootstrap-tagsinput .tag {
	background-color: #D4E0F1;
	padding: 2px 4px;
	border: 1px solid #B5CAE7;
	border-radius: 3px;
	color: #4171B5 !important;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 2px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #F5F5F5;
	border: 1px solid #DEDEDE;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 4px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	white-space: nowrap;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a,
	.dropdown-submenu:focus>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover,
	.dropdown-menu>.active>a:focus {
	color: #4171B5;
	text-decoration: none;
	background-color: #D4E0F1;
}