.assignment {
	border: 2px solid #B5CAE7;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.submission_toolbar {
	float: right;
}

.feedback_toolbar {
	float: right;
}

ul.tree-menu li div a.assignment {
	background-image: url(../../images/ruby/logo/16.png);
}

ul.tree-menu li div a.type_assignment {
	background-image: url(../../images/ruby/logo/16.png);
}