@import url('../../../Aqua/HtmlEditor/Ckeditor/Stylesheet.css');

.cke_chamilo_task {
	background-image: url(../../../../../Images/Ruby/Logo/48.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #134ebd;
	background-position: center center;
}