
.icon-announcement:before { content: '\e700'; } /* '' */
.icon-blog:before { content: '\e701'; } /* '' */
.icon-course-description:before { content: '\e702'; } /* '' */
.icon-course-group:before { content: '\e703'; } /* '' */
.icon-document:before { content: '\e704'; } /* '' */
.icon-ephorus:before { content: '\e705'; } /* '' */
.icon-forum:before { content: '\e706'; } /* '' */
.icon-chat:before { content: '\e707'; } /* '' */
.icon-user:before { content: '\e708'; } /* '' */
.icon-calendar:before { content: '\e709'; } /* '' */
.icon-link:before { content: '\e70a'; } /* '' */
.icon-location:before { content: '\e70b'; } /* '' */
.icon-note:before { content: '\e70c'; } /* '' */
.icon-assessment:before { content: '\e70d'; } /* '' */
.icon-assignment:before { content: '\e70e'; } /* '' */
.icon-streaming-video:before { content: '\e70f'; } /* '' */
.icon-wiki:before { content: '\e710'; } /* '' */
.icon-glossary:before { content: '\e711'; } /* '' */
.icon-peer-assessment:before { content: '\e712'; } /* '' */
.icon-app-weblcms-tool-search:before { content: '\e713'; } /* '' */
.icon-course-copier:before { content: '\e714'; } /* '' */
.icon-course-truncater:before { content: '\e715'; } /* '' */
.icon-course-settings:before { content: '\e717'; } /* '' */
.icon-rights:before { content: '\e718'; } /* '' */
.icon-reporting:before { content: '\e719'; } /* '' */
.icon-course-sections:before { content: '\e71a'; } /* '' */
.icon-learning-path:before { content: '\e71b'; } /* '' */
.icon-home:before { content: '\e71e'; } /* '' */
.icon-repository:before { content: '\e71f'; } /* '' */
.icon-workspaces:before { content: '\e720'; } /* '' */
.icon-admin:before { content: '\e721'; } /* '' */
.icon-group:before { content: '\e722'; } /* '' */
.icon-help:before { content: '\e723'; } /* '' */
.icon-install:before { content: '\e72a'; } /* '' */
.icon-microsoft-teams:before { content: '\e800'; } /* '' */
.icon-font-bamaflex:before { content: '\e801'; } /* '' */
.icon-rss_icon:before { content: '\e802'; } /* '' */
.icon-portfolio:before { content: '\e81c'; } /* '' */
.icon-weblcms:before { content: '\e81d'; } /* '' */
.icon-course-deleter:before { content: '\e823'; } /* '' */
.icon-tracking:before { content: '\e825'; } /* '' */
.icon-cache:before { content: '\e826'; } /* '' */
.icon-cas-storage:before { content: '\e829'; } /* '' */
.icon-metadata:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82c'; } /* '' */
.icon-lynx:before { content: '\e82d'; } /* '' */