div.applications {
	z-index: 1000;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	padding-right: 0%;
	height: 32px;
}

div.applications div,div.applications ul,div.applications li,div.applications td
	{
	margin: 0;
	padding: 0;
}

div.applications table {
	border-collapse: collapse;
	border-spacing: 0;
}

div.applications li {
	list-style: none;
}

/************
 * MENU BAR *
 ************/
/*Color navigation bar normal mode*/
.navbar {
	position: relative;
	display: inline;
	white-space: nowrap /*IE hack*/;
	float: right;
	font-size: 130% !important /*Non-IE6*/;
	font-size: 120% /*IE6*/;
	margin-left: 120px !important;
}

/* MAIN MENU */
.navbar li {
	position: relative;
}

.navbar ul {
	display: inline;
	list-style-type: none;
}

.navbar ul li {
	display: inline;
	float: left;
	z-index: auto !important /*Non-IE6*/;
	z-index: 1001 /*IE6*/;
	white-space: nowrap;
	padding: 0px;
	background-color: #262F52;
	border-left: 1px solid #2b3f71;
	height: 32px;
}

.navbar ul li.current {
	background: #f2f2f2 url(../../Images/Aqua/Background/HeaderCurrent.png)
		repeat-x top left;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid #f2f2f2;
	z-index: auto !important /*Non-IE6*/;
	z-index: 1001;
	margin-top: -2px;
	position: relative;
	bottom: -1px;
}

.navbar ul li a,.navbar ul li a:visited {
	float: none !important /*Non-IE6*/;
	float: left /*IE-6*/;
	display: block;
	line-height: 24px;
	height: 24px;
	padding: 4px 9px 4px 9px;
	text-decoration: none;
	font-weight: bold;
	color: #8eadd8;
	outline: none;
}

.navbar ul li a img.item-icon {
	vertical-align: middle;
	margin: 4px 0px;
}

.navbar ul li a.current,.navbar ul li a.current:visited {
	color: #444444;
	text-decoration: none;
}

.navbar ul li ul,.navbar ul li.current ul {
	display: none;
	border: 0px solid white;
	padding: 0px;
}

.navbar ul li.current ul {
	border: 1px solid white;
}

/* SUBMENU (Non-IE6 hovering) */
/*Sylvain IE hack*/
.navbar ul li:hover {
	position: relative;
}

/*Color main cells hovering mode*/
.navbar ul li:hover a {
	color: #c7d6eb;
	text-decoration: none;
	outline: none;
}

.navbar ul li:hover a.current {
	color: #444444;
}

.navbar ul li a:active {
	color: #fa8500;
	outline: none;
}

.navbar ul li:hover ul,.navbar ul li.current:hover ul {
	display: block;
	position: absolute;
	z-index: 1000;
	top: 31px;
	margin-top: 1px;
	left: -1px;
	/*	padding: 0px 16px 0px 16px;*/
	border-top: none;
}

.navbar ul li.current:hover ul {
	background-color: #f2f2f2;
}

/*Color subcells normal mode*/
.navbar ul li:hover ul li,.navbar ul li.current:hover ul li {
	margin-left: 1px;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	border-left: 0px solid #2b3f71;
}

.navbar ul li.current:hover ul li {
	background-color: #f2f2f2;
}

.navbar ul li:hover ul li a,.navbar ul li.current:hover ul li a {
	white-space: normal;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 4px 9px 4px 9px;
	border-bottom: 1px dotted #dcdcdc;
	color: #8eadd8;
	outline: none;
	white-space: nowrap;
}

.navbar ul li.current:hover ul li a {
	border-bottom: 1px dotted white;
	color: #444444;
}

.navbar ul li:hover ul li a.last_subitem {
	border-bottom: 0px solid white;
}

/*Color subcells hovering mode*/
.navbar ul li:hover ul li a:hover,.navbar ul li.current:hover ul li a:hover
	{
	text-decoration: none;
	color: #c7d6eb;
}

.navbar ul li.current:hover ul li a:hover {
	color: red;
}

/* SUBMENU (IE6 hovering) */
.navbar ul ul {
	position: absolute;
}

.navbar ul ul li a,.navbar ul ul li a:active,.navbar ul ul li a:visited
	{
	display: none;
}

.navbar ul ul li:hover {
	display: display;
}

.navbar table {
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: -1px;
	border-collapse: collapse;
}

/*Color main cells hovering mode*/
.navbar ul li a:hover {
	position: relative /*Sylvain IE hack*/;
	z-index: 1000 /*Sylvain IE hack*/;
	color: #c7d6eb;
	text-decoration: none;
	outline: none;
}

.navbar ul li a:hover ul {
	display: block;
	width: 10.0em;
	position: absolute;
	z-index: 1000;
	top: 32px;
	t\op: 31px;
	left: 0px;
	marg\in-top: 1px;
	/*	border-top: solid 1px rgb(215, 215, 215);*/
}

/*Color subcells normal mode*/
.navbar ul li a:hover ul li a {
	white-space: normal;
	display: block;
	w\idth: 10.0em;
	height: 1px;
	line-height: 1.3em;
	padding: 4px 9px 4px 9px;
	border-bottom: 1px dotted #E5EDF9;
}

/*Color subcells hovering mode*/
.navbar ul li a:hover ul li a:hover {
	text-decoration: none;
}

.navbar ul li div.item-account {
	display: none;
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-color: #262F52;
	/* 	background-color: black; */
	clear: both;
	white-space: normal;
	position: fixed;
	right: 0px;
	top: 32px;
	padding: 16px;
	color: #8eadd8;
}

.navbar ul li:hover div.item-account {
	display: block;
}

div.item-account div.item-account-photo {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: 8px;
	float: left;
}

div.item-account div.item-account-photo img {
	max-width: 64px;
	max-height: 64px;
}

div.item-account div.item-account-data {
	display: inline-block;
	width: 128px;
	white-space: normal;
	float: left;
}

div.item-account div.item-account-data span.item-account-data-name {
	font-size: 14px;
	font-weight: bold;
	color: white;
}

div.item-account div.item-account-data span.item-account-data-email {
	font-size: 13px;
}

div.item-account div.item-account-logout {
	border-top: 1px dotted #dcdcdc;
	padding: 8px 16px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 200px;
	text-align: center;
	color: white;
	line-height: 16px;
	background-color: #2f3a66;
}

div.item-account div.item-account-logout img {
	vertical-align: middle;
	margin-right: 5px;
}