ul.tree-menu li div a.blog_item, ul.tree-menu li div a.type_blog_item,
.treeview .list-group .list-group-item .icon.node-icon.type_blog_item,
.treeview .list-group .list-group-item .icon.node-icon.type_blog_item_default,
.fancytree-custom-icon.type_blog_item,
.fancytree-custom-icon.type_blog_item_default,
ul.tree-menu li div a.type_blog_item_default {
    background-image: url(../../Images/Aqua/Logo/16.png);
}