<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Menu">
    <settings>
        <category name="visual">
            <setting
                name="show_sitemap"
                field="toggle"
                default="0">
                <options type="static">
                    <option
                        name="show_sitemap"
                        value="1" />
                </options>
            </setting>
            <setting
                name="menu_renderer"
                field="select"
                default="Bar">
                <options
                    type="dynamic"
                    source="get_renderers" />
            </setting>
            <setting
                name="brand_image"
                field="image_uploader" />
        </category>
        <category name="rights">
            <setting
                name="enable_rights"
                field="toggle"
                default="1">
                <options type="static">
                    <option
                        name="enable_rights"
                        value="1" />
                </options>
            </setting>
        </category>
    </settings>
</package>
