@CHARSET "ISO-8859-1";

ul.tree-menu li div a.survey_page {
	background-image: url(../../Images/Ruby/Logo/16.png);
}

ul.tree-menu li div a.type_survey_page {
	background-image: url(../../Images/Ruby/Logo/16.png);
}

ul.tree-menu li div a.survey_page_tree {
	background-image: url(../../Images/Ruby/Logo/16_tree.png);
}

ul.tree-menu li div a.type_survey_page_tree {
	background-image: url(../../Images/Ruby/Logo/16_tree.png);
}