.assignment {
    border: 2px solid #B5CAE7;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.submission_toolbar {
    float: right;
}

.feedback_toolbar {
    float: right;
}

ul.tree-menu li div a.assignment, ul.tree-menu li div a.type_assignment,
.treeview .list-group .list-group-item .icon.node-icon.type_assignment,
.treeview .list-group .list-group-item .icon.node-icon.type_assignment_default,
.fancytree-custom-icon.type_assignment,
.fancytree-custom-icon.type_assignment_default,
ul.tree-menu li div a.type_assignment_default {
    background-image: url(../../Images/Aqua/Logo/16.png);
}