.fas-ci-67ea563760676b94fd3630b42acfc4d8:before {
    content: "\f093";
}

.assignment {
    border: 2px solid #b5cae7;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.assignment-properties table {
    width: 100%;
}

.value-true {
    color: green;
    font-size: 18px;
}

.value-false {
    color: red;
    font-size: 18px;
}

.badge-success {
    background-color: #28a745;
}

.badge-failed {
    background-color: #dc3545;
}

#assignment h3 {
    margin: 5px 0 20px;
}

#assignment h3 {
    margin: 5px 0 20px;
}

#automatic-feedback .list-group-item {
    border-top: 1px solid #dddddd;
}

.panel-feedback h3 {
    margin-top: 0;
}

.submitted-details {
    color: #aaaaaa;
    font-size: 12px;
    margin-bottom: 15px;
}

.entry-title {
    margin-bottom: 3px;
    margin-top: 5px;
}

.content-object-rendition {
    border-right: 1px dotted #dddddd;
}

.score-badge {
    margin-top: -4px;
}

.score-success {
    background-color: #28a745;
    color: white;
    font-size: 14px;
}

.no-score {
    background-color: #dddddd;
    color: white;
}

.score-form {
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    padding: 2px 8px;
}

.btn-score {
    background-color: white;
}

.dropdown-entities {
    max-height: 300px;
    overflow-y: scroll;
}