/*****************************************************
 *  FORUM PHPBB STYLE                                *
 *****************************************************/
table.forum {
	background-color: #A9B8C2;
	width: 100%;
	font-family: Ubuntu, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

table.forum .row1 {
	background-color: #ECECEC;
	padding: 4px;
}

table.forum .row2 {
	background-color: #DCE1E5;
	padding: 4px;
}

table.forum td.category {
	background-color: #C7D0D7;
	background-image: url('../../images/ruby/backgrounds/cellpic1.gif');
	height: 28px;
	border: 0 none;
	margin: 0;
	padding: 0;
	text-indent: 4px;
}

table.forum td.category_right {
	background-image: url('../../images/ruby/backgrounds/cellpic2.jpg');
	height: 28px;
}

table.forum th {
	background-color: #006699;
	background-image: url(../../images/ruby/cellpic3.gif);
	color: #FFA34F;
	font-weight: bold;
	padding: 7px 5px;
	white-space: nowrap;
	font-size: 1.1em;
}

table.forum td.spacer {
	background-color: #D1D7DC;
	height: 5px;
}

/*****************************************************
 *  FORUM CHAMILO STYLE                                *
 *****************************************************/
table.forum {
	background-color: #c6d8ec;
	width: 100%;
	font-family: Ubuntu, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

table.forum .row1 {
	background-color: #f4f8fb;
	padding: 4px;
}

table.forum .row2 {
	background-color: #e8eff7;
	padding: 4px;
}

table.forum td.category {
	background-color: #aec7e4;
	/*background-image: url('../../images/ruby/backgrounds/cellpic1.png');*/
	background-image: none;
	height: 28px;
	border: 0 none;
	margin: 0;
	padding: 0;
	text-indent: 4px;
}

table.forum td.category_right {
	background-image: url('../../images/ruby/backgrounds/cellpic2.png');
	height: 28px;
}

table.forum th {
	background-color: #6694cc;
	/*background-image:url('../../images/ruby/backgrounds/cellpic3.png');*/
	background-image: none;
	color: #2b3f57;
	font-weight: bold;
	padding: 7px 5px;
	white-space: nowrap;
	font-size: 1.1em;
}

table.forum td.spacer {
	background-color: #aec7e4;
	height: 5px;
}

table.forum .quotetitle,.attachtitle {
	background-color: #A9B8C2;
	border-color: #A9B8C2;
	border-style: solid;
	border-width: 1px 1px 0;
	color: #333333;
	font-size: 0.85em;
	font-weight: bold;
	margin: 10px 5px 0;
	padding: 4px;
}

table.forum .quotecontent,.attachcontent {
	background-color: #FAFAFA;
	border-color: #A9B8C2;
	border-style: solid;
	border-width: 0 1px 1px;
	color: #4B5C77;
	font-family: Ubuntu, "Lucida Grande", "Trebuchet MS", Helvetica, Arial,
		sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0 5px 10px;
	padding: 5px;
}

ul.tree-menu li div a.forum {
	background-image: url(../../images/ruby/logo/16.png);
}

ul.tree-menu li div a.type_forum {
	background-image: url(../../images/ruby/logo/16.png);
}