@import url('../Aqua/General.css');
/*****************************************************
 *  MAIN STYLES FILE                                 *
 *****************************************************/
body {
	color: #000;
	margin: 0px;
}

/*****************************************************
 *  MAIN STYLES                                      *
 *****************************************************/
div.block div.title {
	color: #B1071C;
}

div.block div.title a {
	float: right;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	color: #B1071C;
	cursor: pointer;
	margin-left: 4px;
}


figcaption {
	padding-top: 8px !important;
}

.image-captioned {
	padding: 0px 0px 10px !important;
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.05);
	display: inline-block;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
}

.align-left {
	float: left;
	margin-right: 1.5em;
}

.align-right {
	float: right;
	margin-left: 1.5em;
}

.align-center {
	text-align: center;
	margin: 0 auto;
}

.align-center div {
	margin: 0 auto;
}

.align-center > figure {
	display: inline-block;
}

div[data-oembed-url] {
	max-width: 100%;
	max-height: 100%;
}

span[lang] {
	font-style: normal;
}