@import url("../Aqua/Stylesheet.min.css");
@import url("ErrorPages.min.css");

.ui-widget-content a:not (.btn ), a {
    color: #b1071c;
}

a {
    color: #b1071c;
}

ol.breadcrumb > li > a {
    color: #808080;
}

.table th a {
    color: rgb(60, 60, 59);
}