@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.rss_feed, ul.tree-menu li div a.type_rss_feed, ul.tree-menu li div a.type_rss_feed_default
	{
	background-image: url(../../Images/Ruby/Logo/16.png);
}