{% extends "Chamilo\\Application\\ExamAssignment:Base.html.twig" %}
    {% block main %}
    <main>
        <div class="container">
            <div class="main-content mod-current-exam">
                <h1 class="current-exam-title">Examen Filosofie 1</h1>
                <div class="current-exam-info">
                    <ul class="current-exam-info-main">
                        <li>Cursus: Filosofie 1</li>
                        <li>Titularis: Jenny Doe</li>
                        <li>Opdracht: Titel opdracht</li>
                    </ul>
                    <div class="current-exam-info-time">
                        <ul class="current-exam-info-time-start">
                            <li>Starttijd: 8:30</li>
                            <li>Duur: 120 minuten</li>
                        </ul>
                        <ul class="current-exam-info-time-end">
                            <li class="time-item"><span>Tijd tot</span> <span class="time">10:30</span></li>
                        </ul>
                    </div>
                </div>
                <div class="current-exam-main">
                    <div class="current-exam-essentials">
                        <div class="current-exam-files-title"><strong>Bestanden:</strong></div>
                        <ul class="current-exam-files-download">
                            <li><a href="#">Examenopdracht.pdf</a></li>
                            <li><a href="#">Invulformulier.docx</a></li>
                            <li><a href="#">Bijlage 1.pdf</a></li>
                            <li><a href="#">Bijlage 2.pdf</a></li>
                        </ul>
                    </div>
                    <div class="current-exam-upload-section">
                        <div class="current-exam-upload-title"><strong style="">Indienen:</strong></div>
                        <div class="current-exam-upload-area">
                            Sleep de gevraagde bestanden in dit kader.
                        </div>
                        <!--            <form action="/file-upload" class="dropzone">
                                      <div class="fallback">
                                        <input name="file" type="file" multiple />
                                      </div>
                                    </form>-->

                        <div class="current-exam-upload-reminder">Let op! Kijk goed na of je niets vergeten bent.</div>
                        <button class="btn btn-action mod-upload">Dien examenopdracht in</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
