@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.portfolio, ul.tree-menu li div a.type_portfolio,
	ul.tree-menu li div a.type_portfolio_default {
	background-image: url(../../Images/Ruby/Logo/16.png);
}

.feedback-container .user {
	font-weight: bold;
	color: #b1071c;
}