@CHARSET "ISO-8859-1";

ul.tree-menu li div a.survey_description, ul.tree-menu li div a.type_survey_description,
	ul.tree-menu li div a.type_survey_description_default {
	background-image: url(../../Images/Aqua/Logo/16.png);
}

ul.tree-menu li div a.survey_description_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}

ul.tree-menu li div a.type_survey_description_checked {
	background-image: url(../../Images/Aqua/Logo/16Checked.png);
}