<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Bitbucket">
    <settings>
        <category name="credentials">
            <setting
                name="username"
                field="text"
                user_setting="1">
                <validations>
                    <validation
                        rule="required"
                        message="ThisFieldIsRequired" />
                </validations>
            </setting>
            <setting
                name="password"
                field="password"
                default=""
                user_setting="1">
                <validations>
                    <validation
                        rule="required"
                        message="ThisFieldIsRequired" />
                </validations>
            </setting>
        </category>

    </settings>
</package>
