@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.assessment_matrix_question, ul.tree-menu li div a.type_assessment_matrix_question,
	ul.tree-menu li div a.type_assessment_matrix_question_default {
	background-image: url(../../Images/Ruby/Logo/16.png);
}