.reportoptions, .option {
    color: Black;
    float: right;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.ephorus-report-result a {
    color: #ff9b04;
    font-decoration: underline;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.summary_table {
    color: Black;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    width: 100%;
}

.summary_origineel {
    color: Black;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    width: 100%;
}

.summary_found {
    color: #ff9b04;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.summary_added {
    color: #000000;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.summary_removed {
    color: #0099ff;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    font-style: italic;
}

.origineel {
    background-color: white;
    border: solid 1px #cccccc;
}

.RadioTable INPUT {
    height: 16px;
    width: 16px;
}

.result_origineel {
    background-color: White;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    color: #ff9b04;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    padding-left: 6px;
    padding-top: 1px;
    text-decoration: none;
}

.result_vergelijk {
    background-color: White;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    color: black;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    padding-left: 6px;
    padding-top: 1px;
}

.result_header_origineel {
    background-color: White;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    color: #0099ff;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-top: 1px;
}

.result_header_vergelijk {
    background-color: White;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    color: #0099ff;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-top: 1px;
}

.report_table_header {
    color: #0099ff;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    font-weight: bold;
}

.report_table_font {
    color: #000000;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.report_table_header_b {
    color: black;
    font-family: Ubuntu, Arial;
    font-size: 12px;
    font-weight: bold;
}

.report_table_font_b, td {
    color: black;
    font-family: Ubuntu, Arial;
    font-size: 12px;
}

.minFont {
    font-family: Ubuntu, Verdana;
    font-size: 7pt;
}

.tableTop {
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
    padding-left: 5px;
}

.tableTop2 {
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
    padding-left: 5px;
}

.tableLeft {
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
    padding-left: 5px;
}

.tableMiddle {
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
}

.tableRight {
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
    padding-left: 5px;
}

.tableRight1 {
    border-left-color: #ffffff;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
    padding-left: 5px;
}

.tableBottom {
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
}

.tableFull {
    border-bottom-color: #cccccc;
    border-bottom-style: Solid;
    border-bottom-width: 1px;
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
}

.tableFullTop {
    border-left-color: #cccccc;
    border-left-style: Solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
}

.tableTopRight {
    border-right-color: #cccccc;
    border-right-style: Solid;
    border-right-width: 1px;
    border-top-color: #cccccc;
    border-top-style: Solid;
    border-top-width: 1px;
}

.button_print {
    color: #4171b5;
    font-weight: bold;
    outline: none;
    padding-bottom: 20px;
    text-decoration: none;
}

.ephorus-diff-header {
    background-color: #f5f5f5;
    color: #333333;
}