@import url('../Aqua/Stylesheet.css');

ul.tree-menu li div a.assessment_open_question, ul.tree-menu li div a.type_assessment_open_question,
	ul.tree-menu li div a.type_assessment_open_question_default {
	background-image: url(../../Images/Ruby/Logo/16.png);
}