/*****************************************************
 *  DATA TABLE STYLES                                *
 *****************************************************/
.data_table, div.table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #b5cae7;
	border-top: 1px solid #b5cae7;
	border-bottom: 1px solid #b5cae7;
	border-spacing: 0px;
}

.data_table_no_header {
	border-top: 0px solid #b5cae7;
}

.data_table th, div.header {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4171b5;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #b5cae7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 10px 6px 10px;
	background: #d4e0f1 url(../../Images/Aqua/Background/TableHeader.png)
		repeat-x;
	overflow: hidden;
}

.data_table td.header {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4171b5;
	border-right: 1px solid #b5cae7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: right;
	padding: 6px 10px 6px 10px;
	vertical-align: top;
	width: 10%;
	background: #C6D6ED url(../../Images/Aqua/Background/TableHeader.png)
		repeat-x;
}

.data_table tr.row_even td.header {
	background: #EBEBEB
		url(../../Images/Aqua/Background/TableHeaderGrey.png) repeat-x;
	color: #7b7b7b;
}

.data_table tr.row_even, div.row_even {
	background: #fff;
}

.data_table tr.row_even:hover, .data_table tr.row_odd:hover, div.row_even:hover,
	div.row_odd:hover {
	background-color: #f0f0f0;
}

.data_table tr.row_odd, div.row_odd {
	background-color: #eef5fa;
}

.data_table td, div.cell {
	border-right: 1px solid #b5cae7;
	border-top: 1px solid #b5cae7;
	padding: 6px 10px 6px 10px;
	color: #797268;
}

.data_table tr.row_odd td {
	color: #797268;
}

.data_table caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.data_table th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #b5cae7;
	background: none;
}

.data_table th.spec {
	border-left: 1px solid #b5cae7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.data_table th.specalt {
	border-left: 1px solid #b5cae7;
	border-top: 0;
	background: #f4f8fc url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.data_table table.cke_editor td {
	border: 0px solid white !important;
	padding: 0px !important;
}

.data_table td.error {
	background-color: #FFD1D1;
	color: #B40404;
	padding: 10px 36px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-image: url(../../Images/Aqua/Status/ErrorMini.png);
}

.data_table td.highlight, .data_table th.highlight, .data_table tr.highlight
	{
	background-color: #4171B5 !important;
	color: white !important;
}

.data_table tr.highlight td {
	color: white !important;
}

/*****************************************************
 *  INVISIBLE TABLE STYLES                           *
 *****************************************************/
.invisible_table {
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.invisible_table_no_header {
	border-top: 0px solid transparent;
}

.invisible_table th, div.header {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background: none;
}

.invisible_table td.header {
	border-right: 1px solid transparent;
	background: none;
}

.invisible_table tr.row_even td.header {
	background: none;
}

.invisible_table tr.row_even, div.row_even {
	background: transparent;
}

.invisible_table tr.row_even:hover, .invisible_table tr.row_odd:hover,
	div.row_even:hover, div.row_odd:hover {
	background-color: transparent;
}

.invisible_table tr.row_odd, div.row_odd {
	background-color: transparent;
}

.invisible_table td, div.cell {
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
}

.invisible_table th.nobg {
	border-right: 1px solid transparent;
}

.invisible_table th.spec {
	border-left: 1px solid transparent;
	background: transparent;
}

.invisible_table th.specalt {
	border-left: 1px solid transparent;
	background: transparent;
}

.invisible_table table.cke_editor td {
	border: 0px solid transparent !important;
}

/*****************************************************
 *  GALLERY TABLE STYLES                            *
 *****************************************************/
.table-gallery-container {
	margin-left: -8px;
	margin-right: -8px;
}

.table-gallery {
	table-layout: fixed;
	width: 100%;
}

.table-gallery tr.row td {
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: top;
	float: left;
}

.table-gallery tr.row td .panel.panel-gallery {
	margin-bottom: 15px;
	position: relative;
}

.table-gallery tr.row td .panel.panel-gallery .panel-heading {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-radius: 0px;
}

.table-gallery tr.row td .panel.panel-gallery .panel-body.panel-body-thumbnail
	{
	text-align: center;
	min-height: 230px;
	position: relative;
}

.table-gallery tr.row td .panel.panel-gallery .panel-body.panel-body-thumbnail .checkbox
	{
	position: absolute;
	left: 34px;
	top: 13px;
	padding-left: 0px;
	margin: 0px;
	text-align: left;
	margin: 0px;
}

.table-gallery tr.row td .panel.panel-gallery .panel-body.panel-body-thumbnail .checkbox label::before
	{
	-webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}

.table-gallery tr.row td .panel.panel-gallery .panel-body.panel-body-thumbnail .no-preview
	{
	font-size: 100px;
	line-height: 200px;
}

.table-gallery tr.row td .panel.panel-gallery .panel-body.panel-body-thumbnail .thumbnail-image
	{
	max-width: 100%;
	max-height: 200px;
}

.table-gallery tr.row td .panel.panel-gallery .panel-heading .panel-title
	{
	margin-top: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.table-gallery tr.row td .panel.panel-gallery .panel-gallery-actions {
	padding: 15px
}

/**
 * PROPERTIES TABLE
 */
.table-properties {
	width: auto;
}

/*****************************************************
 * EXTRA STYLES FOR ASSESSMENTS AND QUESTION OPTIONS *
 *****************************************************/
th.list {
	width: 10px;
}

th.checkbox, th.empty {
	width: 24px;
}

th.numeric, th.code {
	width: 50px;
}

th.action {
	width: 16px;
}

th.invisible {
	font-size: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

td.center {
	text-align: center;
}

th.center {
	text-align: center;
}

th.caption {
	width: 100px;
}

td p {
	margin: 0px;
	padding: 0px;
}

table.no_border {
	width: 100%;
}

table.no_border td {
	border: 0px solid #EEF5FA;
	padding: 0px 5px 0px 5px;
}

div.thumbnail_actions {
	padding: 12px 20px;
}

div.thumbnail_container {
	background-color: white;
	opacity: 0.2;
	display: none;
	padding: 6px 10px;
}

/**
 * SLIDESHOW TABLE
 */
.table-slideshow {
	width: 100%;
	table-layout: fixed;
}

.table-slideshow td {
	text-align: center;
}

.table-slideshow .control {
	width: 55px;
	font-size: 20px;
}

.table-slideshow .control .disabled {
	color: black;
	opacity: 0.2;
}

.table-slideshow .control.control-left {
	padding-right: 15px;
}

.table-slideshow .control.control-right {
	padding-left: 15px;
}

.table-slideshow .control span.glyphicon {
	width: 20px;
}

.table-slideshow .thumbnail-container {
	
}

.table-slideshow .thumbnail-container .thumbnail {
	max-height: 100%;
	max-width: 100%;
	display: inline;
}

.table-slideshow .thumbnail-container .no-preview span.glyphicon {
	font-size: 60px;
}

@media ( min-width : 768px) {
	.table-slideshow .control {
		width: 95px;
		font-size: 40px;
	}
	.table-slideshow .control span.glyphicon {
		width: 40px;
	}
}

.table th.cell-stat-x4, .table td.cell-stat-x4 {
	width: 1em;
}

.table th.cell-stat-x3, .table td.cell-stat-x3 {
	width: 2em;
}

.table th.cell-stat-x2, .table td.cell-stat-x2 {
	width: 3em;
}

.table th.cell-stat, .table td.cell-stat {
	width: 6em;
}

.table th.cell-stat-2x, .table td.cell-stat-2x {
	width: 14em;
}

.table th.cell-stat-3x, .table td.cell-stat-3x {
	width: 18em;
}

.table th.cell-stat-4x, .table td.cell-stat-4x {
	width: 28em;
}