/*********************************************
 * jQuery CSS: Form tabs ElementFinder
 *********************************************/
#form_tabs ul.tree-menu, #form_tabs ul.tree-menu ul {
	display: block;
}

/*********************************************
 * jQuery CSS: Form tabs
 *********************************************/
.form_tab {
	border: 0px solid #ebebeb;
	background-color: white;
	z-index: 1000;
	clear: both;
}

#form_tabs .ui-tabs-panel {
	padding: 10px 20px 20px 20px;
	margin: 0px;
}

#form_tabs ul {
	display: none;
}

#form_tabs h2 {
	font-size: 14px;
}

#form_tabs.ui-tabs div.configuration_form { /*
	 * border-top: 0px;
	 * background-color: white;
	 * margin: 20px;
	 */
	border-top: 1px solid #ebebeb;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

#form_tabs.ui-tabs div.configuration_form span.category {
	background-color: #fafcfc;
}

div.admin_tab {
	padding: 10px !important;
}

/*********************************************
 * jQuery CSS: Tabs
 *********************************************/
.ui-widget {
	font-family: Ubuntu, arial, verdana, helvetica, sans-serif;
	font-size: 12px;
}

/****************************************************************************************************************
* Dynamic Content Menu												*
****************************************************************************************************************/
div.dynamic_content_menu_container {
	height: 100%;
}

div.dynamic_content_menu_menu_container {
	width: 200px;
	float: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
}

ul.dynamic_content_menu_list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li.dynamic_content_menu_item {
	background-color: #DFEFFC;
	color: #2E6E9E;
	font-weight: bold;
	padding: 0.7em 1em;
	margin-bottom: 0.5em;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

li.dynamic_content_menu_item.selected {
	background-color: #FAFCFC;
	background-image: none;
	border: 1px solid #EBEBEB;
	border-right: 0px;
	color: #E17009;
	margin-right: -1px;
}

div.dynamic_content_menu_content_container h3 {
	margin-top: 10px;
}

div.dynamic_content_menu_content_container.ui-dynamic-content {
	padding: 15px;
	padding-left: 25px;
	border: 1px solid #EBEBEB;
	background-color: #FAFCFC;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div.ui-tabs-panel li.dynamic_content_menu_item.selected, div.ui-tabs-panel div.dynamic_content_menu_content_container
	{
	background-color: #FFFFFF;
}

/**
 * Fix for categories in forms
 */
div.dynamic_content_menu_item_content div.configuration_form, div.dynamic_content_menu_item_content div.row
	{
	clear: none;
}

.tab-pane-with-border {
	border: 1px solid #dddddd;
	border-top: none;
	padding: 10px 15px;
}