{% set appContext = 'Chamilo\\Application\\Weblcms' %}

<script src="https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js"
        integrity="sha384-wHgBQlRj8iDw76cpan9ViEoOBiIJid4ACaE6vA2gUJPtn15GJnMmUGS+fLxKBWeI"
        crossorigin="anonymous"></script>

{% if error %}

    <div class="alert alert-danger">{{ error }}</div>

{% endif %}

<button onclick="onClick()" > Install!</button>

<script type="text/javascript">
        function onClick() {
            var baseUrl = window.location.protocol + '//' + window.location.host + window.location.pathname;
            microsoftTeams.initialize();
            microsoftTeams.settings.setSettings({
                entityId: "courses",
                contentUrl: baseUrl + '?go=TeamsTabContent&application=Chamilo\\Application\\Weblcms',
                suggestedDisplayName: "Chamilo",
                websiteUrl: baseUrl
            });
            microsoftTeams.settings.setValidityState(true);

            return false;
        }
</script>