{% set appContext = 'Chamilo\\Application\\Weblcms' %}
<link rel="stylesheet"
      href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css">
<div class="ms-font-xxl" style="margin-bottom: 15px">
    Cursus Tools
</div>
<div class="row">
    {% for TOOL in TOOLS %}
        {% if TOOL.ACTIVE %}
            <div class="col-md-3 col-sm-6 col-xs-12 ms-font-m">
                <div id="tool_31" class="tool" style="display: block !important">
                    {{ TOOL.ICON | raw }}
                    &nbsp;
                    <a id="tool_text" href="{{ TOOL.URL }}" target="_blank">
                        {{ TOOL.TITLE }}
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
