<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Youtube">
	<settings>
		<category name="credentials">
			<setting name="developer_key" field="text">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="client_id" field="text">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="client_secret" field="text">
				<validations>
					<validation rule="required" message="ThisFieldIsRequired" />
				</validations>
			</setting>
			<setting name="session_token" field="text" user_setting="1" />
		</category>
	</settings>
</package>
