.cke_chamilo_bookmark {
	background-image: url(../../../../Images/Aqua/Logo/48.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #a04a46;
	background-position: center center;
}