.reporting-container {
	width: 100%;
	min-width: 1000px;
}

.reporting-body {
	width: 100%;
	position: relative;
}

.reporting-body:after {
	display: table;
	clear: both;
}

.reporting-container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.reporting-content {
	padding: 0 0 0 182px;
}

.reporting-left {
	float: left;
	width: 140px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
	border: 1px solid #B5CAE7;
	/* 	border-left: 0px solid white; */
	padding: 10px;
	background: #d4e0f1 url(../../Images/Aqua/Background.png) no-repeat;
}

.reporting-left-title {
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
	color: #4171B5;
}

.reporting-left-title .bevel {
	padding-bottom: 10px;
	border-bottom: 1px solid #B5CAE7;
}