.navbar ul li a img.item-icon-account {
	max-height: 50px;
	max-width: 50px;
	margin: 0px;
	padding: 0px;
}

.navbar ul li div.item-account {
	display: none;
	width: 300px;
	height: 106px;
	overflow: hidden;
	background-color: #2f3a66;
	clear: both;
	white-space: normal;
	position: fixed;
	right: 0px;
	top: 50px;
	padding: 16px;
	color: #8eadd8;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 999;
	line-height: normal;
}

.navbar ul li:hover div.item-account {
	display: block;
}

div.item-account div.item-account-photo {
	display: inline-block;
	width: 74px;
	height: 74px;
	margin-right: 16px;
	float: left;
}

div.item-account div.item-account-photo a {
	height: auto;
	line-height: normal;
	padding: 0px;
	margin: 0px;
}

div.item-account div.item-account-photo img {
	max-width: 72px;
	max-height: 72px;
	border: 1px solid #3a5599;
	z-index: 10;
}

div.item-account div.item-account-photo div.item-account-photo-edit {
	width: 72px;
	height: 16px;
	line-height: 16px;
	position: relative;
	top: -21px;
	left: 1px;
	font-size: 10px;
	padding: 4px 0x;
	color: white;
	z-index: 100;
	background-color: rgba(38, 47, 82, 0.5);
	text-align: center;
	display: none;
}

div.item-account div.item-account-photo div.item-account-photo-edit a {
	margin: 0px;
	padding: 0px;
	color: white;
}

div.item-account div.item-account-photo:hover div.item-account-photo-edit
	{
	display: block;
}

div.item-account div.item-account-data {
	display: inline-block;
	width: 210px;
	white-space: normal;
	float: left;
}

span.item-account-data-name, span.item-account-data-email, span.item-account-data-my-account
	{
	display: block;
}

span.item-account-data-name {
	font-size: 14px;
	font-weight: bold;
	color: white;
}

span.item-account-data-email {
	font-size: 13px;
}

span.item-account-data-my-account {
	margin-top: 8px;
}

span.item-account-data-my-account a {
	margin: 0px !important;
	padding: 0px !important;
	font-size: 11px;
	display: inline !important;
}

div.item-account div.item-account-logout {
	border-top: 1px dotted #dcdcdc;
	padding: 8px 16px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 300px;
	text-align: center;
	color: white;
	line-height: 16px;
	background-color: #2f3a66;
	background-color: #262F52;
}

div.item-account div.item-account-logout a {
	height: auto;
	line-height: normal;
	padding: 0px;
}

div.item-account div.item-account-logout img, span.item-account-data-my-account img
	{
	vertical-align: middle;
	margin-right: 5px;
}