.chamilo-menu-bar ul li a img.chamilo-menu-item-icon-account {
	height: 50px;
	width: 50px;
	margin: 0px;
	padding: 0px;
}

.chamilo-menu-bar ul li div.chamilo-menu-item-account {
	display: none;
	min-width: 332px;
	height: 106px;
	overflow: hidden;
	background-color: #406e8e;
	clear: both;
	white-space: normal;
	position: fixed;
	right: 0px;
	top: 50px;
	padding: 16px;
	color: #8eadd8;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 999;
	line-height: normal;
}

.chamilo-menu-bar ul li:hover div.chamilo-menu-item-account {
	display: block;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo {
	display: inline-block;
	width: 74px;
	height: 74px;
	margin-right: 16px;
	float: left;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo a {
	height: auto;
	line-height: normal;
	padding: 0px;
	margin: 0px;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo img {
	width: 72px;
	height: 72px;
	border: 1px solid #3a5599;
	z-index: 10;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo div.chamilo-menu-item-account-photo-edit
	{
	width: 72px;
	height: 16px;
	line-height: 16px;
	position: relative;
	top: -21px;
	left: 1px;
	font-size: 10px;
	padding: 4px 0x;
	color: white;
	z-index: 100;
	background-color: rgba(38, 47, 82, 0.5);
	text-align: center;
	display: none;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo div.chamilo-menu-item-account-photo-edit a
	{
	margin: 0px;
	padding: 0px;
	color: white;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-photo:hover div.chamilo-menu-item-account-photo-edit
	{
	display: block;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-data {
	display: inline-block;
	width: 210px;
	white-space: normal;
	float: left;
}

span.chamilo-menu-item-account-data-name, span.chamilo-menu-item-account-data-email,
	span.chamilo-menu-item-account-data-my-account {
	display: block;
}

span.chamilo-menu-item-account-data-name {
	font-size: 14px;
	font-weight: bold;
	color: white;
}

span.chamilo-menu-item-account-data-email {
	font-size: 13px;
}

span.chamilo-menu-item-account-data-my-account {
	margin-top: 8px;
}

span.chamilo-menu-item-account-data-my-account a {
	margin: 0px !important;
	padding: 0px !important;
	font-size: 11px;
	display: inline !important;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-logout {
	border-top: 1px dotted #dcdcdc;
	padding: 8px 16px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: white;
	line-height: 16px;
	background-color: #406e8e;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-logout a {
	height: auto;
	line-height: normal;
	padding: 0px;
}

div.chamilo-menu-item-account div.chamilo-menu-item-account-logout img,
	span.chamilo-menu-item-account-data-my-account img {
	vertical-align: middle;
	margin-right: 5px;
}

/* Set minimum width for full view to 1400px */
@media ( max-width : 900px) {
	.navbar-chamilo ul.navbar-nav li a img.chamilo-menu-item-icon-account {
		padding-right: 5px !important;
	}
}