<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\Repository\Implementation\Wikimedia">
    <settings>
        <category name="server">
            <setting
                name="url"
                field="text"
                default="http://commons.wikimedia.org/w/api.php"
                locked="true">
                <validations>
                    <validation
                        rule="required"
                        message="ThisFieldIsRequired" />
                </validations>
            </setting>
        </category>
    </settings>
</package>
