ul.tree-menu li div a.vimeo, ul.tree-menu li div a.type_vimeo, ul.tree-menu li div a.type_vimeo_default,
	.treeview .list-group .list-group-item .icon.node-icon.type_vimeo,
	.treeview .list-group .list-group-item .icon.node-icon.type_vimeo_default
	{
	background-image: url(../../Images/Aqua/Logo/16.png);
}