<?xml version="1.0" encoding="UTF-8"?>
<package context="Chamilo\Core\User">
    <settings>
        <category name="name">
            <setting name="allow_change_username"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_username"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_firstname"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_firstname"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_lastname"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_lastname"
                            value="1"/>
                </options>
            </setting>
        </category>
        <category name="profile">
            <setting name="allow_change_email"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_email"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_phone"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_phone"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_official_code"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_official_code"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_password"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_password"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_user_picture"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_user_picture"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_change_placeholder_data"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_change_placeholder_data"
                            value="1"/>
                </options>
            </setting>
            <setting name="user_picture_provider"
                     field="HTML_QuickForm_select"
                     default="Chamilo\Core\User\Picture\Provider\Platform\UserPictureProvider">
                <options type="dynamic"
                         source="getUserPictureProviders"/>
            </setting>
        </category>
        <category name="personalisation">
            <setting name="allow_user_change_platform_timezone"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_user_change_platform_timezone"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_user_change_platform_language"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_user_change_platform_language"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_user_quick_change_platform_language"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_user_quick_change_platform_language"
                            value="1"/>
                </options>
            </setting>
        </category>
        <category name="registration">
            <setting name="allow_registration"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_bootstrap_toggle"
                     default="0"></setting>
            <setting name="allow_teacher_registration"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_teacher_registration"
                            value="1"/>
                </options>
            </setting>
            <setting name="date_terms_and_conditions_update"
                     field="HTML_QuickForm_select"
                     default=" ">
                <options type="dynamic"
                         source="getDateTermsAndConditionsUpdate"/>
            </setting>
            <setting name="enable_terms_and_conditions"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="0">
                <options type="static">
                    <option name="enable_terms_and_conditions"
                            value="1"/>
                </options>
            </setting>
            <setting name="allow_password_retrieval"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="allow_password_retrieval"
                            value="1"/>
                </options>
            </setting>
            <setting name="require_official_code"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="require_official_code"
                            value="1"/>
                </options>
            </setting>
            <setting name="require_email"
                     field="Chamilo\Libraries\Format\Form\Element\HTML_QuickForm_toggle"
                     default="1">
                <options type="static">
                    <option name="require_email"
                            value="1"/>
                </options>
            </setting>
            <setting name="email_template"
                     field="HTML_QuickForm_html_editor"
                     default="[username] - [password]"/>

        </category>
    </settings>
</package>
